<ion-content>
  <span class="device" *ngIf="!expanded" (click)=toggleExpand()>{{device.name}} &nbsp; {{device.device_id}}/{{device.device_model}} &nbsp; {{getCommPercentage(device.com_rating)}} &nbsp; {{device.connection}}</span>
  <!-- <span class="device" (click)=expandDevice(device)>{{device.name}} &nbsp; {{device.device_id}}/{{device.device_model}} &nbsp; {{getCommPercentage(device.com_rating)}} &nbsp; {{device.connection}}</span> -->
  <!-- <span *ngIf="!deviceExpanded" class="device" (click)=expandDevice(device)>{{device.name}} &nbsp; {{device.device_id}}/{{device.device_model}} &nbsp; {{getCommPercentage(device.com_rating)}} &nbsp; {{device.connection}}</span> -->
  <ng-container *ngIf="expanded">
    <p (click)=toggleExpand()>
      contents ...
    </p>
    <!-- <app-device-view #deviceView [parent]="this" [device]="device"></app-device-view> -->
  </ng-container>
</ion-content>
