

.container {
    display: block;
    background: lightblue url("/assets/images/mapBG.png") no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    margin-top: 4vw;
    width: 100%;
    /* height: 100%; */

}

.fPos {
  position: absolute;
  /* width: 3vw;
  height: 6vh; */
  /* border: 4px solid black; */
}

.mapPage {
  width: 100%;
  height: 100%;
}

div.tooltip-inner {
  width: 200px;
  height: 50px;
}
/* .controllerContainer {
    display: block;
    position: relative;
    background: lightblue url("/assets/images/mapBG.png") no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    width: 100%;
    height: 100%;

} */

/* .controllerContainer {

  width: 600px;
  height: 32px;
  border-style: solid;
  border-width: 1px;
  border-radius: 3px;
  margin-left: 40px;
  margin-top: 40px;
} */
.hvacContainer {
  max-width: 40%;
  border-style: solid;
  border-width: 1px;
  border-radius: 3px;
}
.freezerContainer {
  max-width: 20%;
  border-style: solid;
  border-width: 1px;
  border-radius: 3px;
}
.coolerContainer {
  max-width: 20%;
  border-style: solid;
  border-width: 1px;
  border-radius: 3px;
}
.lightContainer {
  max-width: 40%;
  border-style: solid;
  border-width: 1px;
  border-radius: 3px;
}
.humidityContainer {
  max-width: 40%;
  border-style: solid;
  border-width: 1px;
  border-radius: 3px;
}
.co2Container {
  max-width: 40%;
  border-style: solid;
  border-width: 1px;
  border-radius: 3px;
}
.smallDotContainer {
  max-width: 30px;
  max-height: 30px;
  object-fit: scale-down;
  /* background-color:yellow; */
}
.smallDot {
  width: 100%;
  height: 100%;
}
.lightDotContainer {
  max-width: 30px;
  max-height: 30px;
  width: 30px;
  height: 30px;
  object-fit: scale-down;
  /* background-color:yellow; */
  background: url('/assets/images/BlackRing.png');
  background-repeat: no-repeat;
  background-size: 30px 30px;
}
.lightDot {
  width: 100%;
  height: 100%;
  /* background-image: url('/assets/images/BlackDot.png'); */
  /* background: url('/assets/images/BlackDot.png');
  background-repeat: no-repeat;
  background-size: 30px 30px; */
}
.notify-badge{
    margin-top: 6px;
    margin-left: 3px;
    position: absolute;
    font-size: 10px;
    /* background: rgba(0,0,255,1);
    height:2rem;
    top:1rem;
    right:1.5rem;
    width:2rem;
    text-align: center;
    line-height: 2rem;;
    font-size: 1rem;
    border-radius: 50%;
    color:white;
    border:1px solid blue; */
}
div.tooltip-inner {
  width: 200px;
  height: 50px;
}
/* .controllerContainer {

  width: 600px;
  height: 32px;
  border-style: solid;
  border-width: 1px;
  border-radius: 3px;
  margin-left: 40px;
  margin-top: 40px;
} */
.hvacContainer {
  max-width: 40%;
  border-style: solid;
  border-width: 1px;
  border-radius: 3px;
}
.freezerContainer {
  max-width: 20%;
  border-style: solid;
  border-width: 1px;
  border-radius: 3px;
}
.coolerContainer {
  max-width: 20%;
  border-style: solid;
  border-width: 1px;
  border-radius: 3px;
}
.lightContainer {
  max-width: 40%;
  border-style: solid;
  border-width: 1px;
  border-radius: 3px;
}
.humidityContainer {
  max-width: 40%;
  border-style: solid;
  border-width: 1px;
  border-radius: 3px;
}
.co2Container {
  max-width: 40%;
  border-style: solid;
  border-width: 1px;
  border-radius: 3px;
}
.smallDotContainer {
  max-width: 30px;
  max-height: 30px;
  object-fit: scale-down;
  /* background-color:yellow; */
}
.smallDot {
  width: 100%;
  height: 100%;
}
.lightDotContainer {
  max-width: 30px;
  max-height: 30px;
  width: 30px;
  height: 30px;
  object-fit: scale-down;
  /* background-color:yellow; */
  background: url('/assets/images/BlackRing.png');
  background-repeat: no-repeat;
  background-size: 30px 30px;
}
.lightDot {
  width: 100%;
  height: 100%;
  /* background-image: url('/assets/images/BlackDot.png'); */
  /* background: url('/assets/images/BlackDot.png');
  background-repeat: no-repeat;
  background-size: 30px 30px; */
}
.notify-badge{
    margin-top: 6px;
    margin-left: 3px;
    position: absolute;
    font-size: 10px;
    /* background: rgba(0,0,255,1);
    height:2rem;
    top:1rem;
    right:1.5rem;
    width:2rem;
    text-align: center;
    line-height: 2rem;;
    font-size: 1rem;
    border-radius: 50%;
    color:white;
    border:1px solid blue; */
}

.lowercard {
      .mygrid{
        width:100vw;
        // height: 10vh;
        display: flex; flex-wrap: wrap;
        .thingouter {
          flex: 0 0 100%;
          .thing {
            margin: 5%;

            display: flex;
            justify-content: flex-start;
            .text{
              font-size: 2.5vh;
              width: 33vw;
            }
          }
        }
      }
}
