<div class="assignContainer">
  <div class="scheduleName">
    <h3>{{schedule.name}}</h3>
  </div>

  <div class="assignButtons">
    <div class="assignButton">
    <ng-container *ngIf="action">
      <!-- <div class="modeSelector" *ngFor="let action of actionsForSchedule()"> -->
        <span class="scheduleMode">
          <div class="scheduleModeOn" *ngIf="action.action == 'on'">
            <div>
              <button class="selected left">
                <i class="fa fa-circle roundButton on" (click)="toggleSelected()"></i>
              </button>
              <button class="onOff right">
                <i class="fa fa-toggle-on slideButton on" (click)="toggleOnOff()"></i>
              </button>
            </div>

            <div class="modeOn">
              <span class="leftModeName">

                LEVEL:
                <div *ngIf = "action.extra && action.extra.level">
                  {{action.extra.level}}
                </div>
                <div *ngIf = "!action.extra || !action.extra.level">
                  --
                </div>
              </span>
              <button class="rightModeButton">
                <!-- <i class="fa fa-th right" (click)="editValue('level', action.extra.level)"></i> -->
                <i class="fa fa-th right" (click)="openDialog('level', action.extra.level)"></i>

              </button>
            </div>
            <div class="modeOn">
              <span class="leftModeName">

                THRESHOLD:
                <div *ngIf = "action.extra && action.extra.lm_threshold">
                  {{action.extra.lm_threshold}}
                </div>
                <div *ngIf = "!action.extra || !action.extra.lm_threshold">
                  --
                </div>
              </span>
              <button class="rightModeButton">
                <i class="fa fa-th right" (click)="openDialog('lm_threshold', action.extra.lm_threshold)"></i>

              </button>
            </div>
            <div class="modeOn">
              <span class="leftModeName">

                MATCH:
                <div *ngIf = "action.extra && action.extra.lm_match">
                  {{action.extra.lm_match}}
                </div>
                <div *ngIf = "!action.extra || !action.extra.lm_match">
                  --
                </div>
              </span>
              <button class="rightModeButton">
                <i class="fa fa-th right" (click)="openDialog('lm_match', action.extra.lm_match)"></i>

              </button>
            </div>
            <div class="modeOn">
              <span class="leftModeName">

                LIGHT METER LOW END:
                <div *ngIf = "action.extra && action.extra.lm_min">
                  {{action.extra.lm_min}}
                </div>
                <div *ngIf = "!action.extra || !action.extra.lm_min">
                  --
                </div>
              </span>
              <button class="rightModeButton">
                <i class="fa fa-th right" (click)="openDialog('lm_min', action.extra.lm_min)"></i>

              </button>
            </div>
            <div class="modeOn">
              <span class="leftModeName">

                LIGHT METER HIGH END:
                <div *ngIf = "action.extra && action.extra.lm_max">
                  {{action.extra.lm_max}}
                </div>
                <div *ngIf = "!action.extra || !action.extra.lm_max">
                  --
                </div>
              </span>
              <button class="rightModeButton">
                <i class="fa fa-th right" (click)="openDialog('lm_max', action.extra.lm_max)"></i>

              </button>
            </div>
            <div class="modeOn">
              <span class="leftModeName">

                MIN LEVEL:
                <div *ngIf = "action.extra && action.extra.lv_min">
                  {{action.extra.lv_min}}
                </div>
                <div *ngIf = "!action.extra || !action.extra.lv_min">
                  --
                </div>
              </span>
              <button class="rightModeButton">
                <i class="fa fa-th right" (click)="openDialog('lv_min', action.extra.lv_min)"></i>

              </button>
            </div>
            <div class="modeOn">
              <span class="leftModeName">

                MAX LEVEL:
                <div *ngIf = "action.extra && action.extra.lv_max">
                  {{action.extra.lv_max}}
                </div>
                <div *ngIf = "!action.extra || !action.extra.lv_max">
                  --
                </div>
              </span>
              <button class="rightModeButton">
                <i class="fa fa-th right" (click)="openDialog('lv_max', action.extra.lv_max)"></i>

              </button>
            </div>
            <!-- <div class="modeContainer" *ngIf="modesExpanded">
              <div class="modePicker" *ngFor="let mode of this.getScheduleableModes()">
                <button *ngIf="modeSelected(mode)" class="onOff left" >
                  <i class="fa fa-toggle-on slideButton on"></i>
                </button>
                <button *ngIf="!modeSelected(mode)" class="onOff left" (click)="selectMode(mode)">
                  <i class="fa fa-toggle-off slideButton off"></i>
                </button>
                <span class="leftModeName"> {{ mode.name | uppercase }} </span>
              </div>
            </div> -->
          </div>
          <div class="scheduleModeOff" *ngIf="action.action == 'off'">
            <div>
              <button class="selected">
                <i class="fa fa-circle roundButton on" (click)="toggleSelected()"></i>
              </button>
              <button class="onOff">
                <i class="fa fa-toggle-off slideButton off" (click)="toggleOnOff()"></i>
              </button>
            </div>

          </div>
        </span>
      <!-- </div> -->
    </ng-container>
    <ng-container *ngIf="!action">
      <i class="fa fa-circle roundButton off" (click)="toggleSelected()"></i>
    </ng-container>

  </div>
  </div>
</div>
