
<div class="container">
    <div *ngFor="let controller of ds.controllers">
        <div [ngSwitch]="getControllerType(controller)" class="fPos flexInside" flex fxLayout="column" [style.top]="getMapY(controller)" [style.left]="getMapX(controller)">
          <!-- <app-hvac-summary *ngSwitchCase="'hvac'" [controller]="controller"></app-hvac-summary> -->
          <!-- <app-map-icon *ngSwitchCase="'map_icon'" [controller]="controller"></app-map-icon> -->
          <p *ngSwitchDefault>default stuff</p>
        </div>
    </div>
</div>
