<div class="pincode_container">
  <span><p class="pincode-text">{{getPincode()}}</p></span>
</div>
<div class="keypad_container">
    <!-- <div> -->
      <span class="keyholder">
        <button class="key" (click)="keypadPress(7)">7</button>
        <button class="key" (click)="keypadPress(8)">8</button>
        <button class="key" (click)="keypadPress(9)">9</button><br/>
      </span>
    <!-- </div> -->
    <!-- <div> -->
      <span class="keyholder">
        <button class="key" (click)="keypadPress(4)">4</button>
        <button class="key" (click)="keypadPress(5)">5</button>
        <button class="key" (click)="keypadPress(6)">6</button><br/></span>
    <!-- </div> -->
    <!-- <div> -->
      <span class="keyholder">
        <button class="key" (click)="keypadPress(1)">1</button>
        <button class="key" (click)="keypadPress(2)">2</button>
        <button class="key" (click)="keypadPress(3)">3</button><br/></span>
    <!-- </div> -->
    <!-- <div> -->
      <span class="keyholder">
        <button class="key" (click)="keypadPress('C')">Clear</button>
        <button class="key" (click)="keypadPress(0)">0</button>
        <button class="key" (click)="keypadPress('E')">Enter</button><br/></span>
    <!-- </div> -->
</div>
