// div.pincode_container {
//   display: inline-block;
//   height: 5vh;
//   max-width: 20vh;
//   border-width: 2px;
//   border-style: solid;
//   border-color: grey;
//   margin: 0 auto 0 auto;
//   // margin-bottom: .1vh;
// }

  keypad-form {
    width: 60vh;
  }

  div.pincode_container {
    // display: inline-block;
    height: 5vh;
    max-width: 20vh;
    border-width: 2px;
    border-style: solid;
    border-color: grey;
    margin: 0 auto 2vh auto;
    // margin-bottom: .1vh;
  }

  div.keypad_container {
    -webkit-flex: 1; /* Safari 6.1+ */
    -ms-flex: 1; /* IE 10 */
    flex: 1;
    width: 30vw;
    height: 34vw;
    margin: 0 auto 0 auto;
  }
  .pincode-text {
    text-align: center;
    font-size: 2.5vh;
    line-height: 2vh;
    padding-top: 1.5vh;;
  }

  .keypad_container {
    display: flex;
    flex-direction: column;
    border-width: 2px;
    border-style: solid;
    border-color: grey;
    margin: 0 auto 0 auto;
  }

  // .keypad_container {
  //   display: flex;
  //   flex: 1;
  //   margin: 1vw;
  //   margin: 0 auto 0 auto;
  // }

  .keyholder {
      display: flex;
      flex:1;
      width: 50%;

  }

  button.key {
    flex: 1;
    margin: 1vw;
    min-width: 8vw;
    min-height: 6vw;
    border-radius: 1vh;
    border-color: grey;
    border-width: 4px;
    border-style: inset;
    font-size: large;
  }
// }
