.settingsContainer {
  font-size: 3vh;
  max-width: 20vh;
  margin-top: 20vh;
  margin-left: auto;
  margin-right: auto;
}

.dismiss {
  color: red;
  background-color: transparent;
  margin-top: 1vh;
  margin-right: 1vh;
  float: right;
}

ion-title {
  position: relative;
  height: 100%;
  max-width: 20vh;
  text-align: center;
  margin-left: 11vh;
  padding: 0;
}

.hg-row {
    height: 6vh;
}

.hg-button {
   height: 6vh;
}
