// :host{
//   width: 20vw;
//   height: 40vh;
//   z-index: 1000;
//   position:absolute;right:0px;margin-right: 3vh;
//   top:7vh;
//   .mat-list-base{
//     padding:0px;
//   }
// }

.myclass{
  width: 20vw;
  height: 40vh;
  z-index: 1000;
  position:absolute;right:0px;margin-right: 3vh;
  top:7vh;
  .mat-list-base{
    padding:0px;
  }
}

.listitem{
  background-color: white
}
.listitem.disabled{
    // cursor: not-allowed !important;
    // opacity: 0.5;
    color: grey;
    text-decoration: none;
}
.listitem.disabled:hover{

    color: grey;
    background-color: white
}
.listitem:hover{

    color: blue;
}

.listitem::selection{

    background-color: white
}
