
.status {
    margin-top: 10vh;
}

.entry {
  display:flex;
  width: 80vw;
  margin: .5vh auto 0 auto;
}

.title {
  flex: 1;
  font-size: 4vh;
  font-weight: bold;
  margin-right: 4vh;
}

.value {
  flex: 1;
  font-size: 2vh;
  font-weight: normal;
  text-align: justify;
}
