<body>
  <div data-collapse="medium" data-animation="default" data-duration="400" class="navigation w-nav">
    <div class="navigation-wrap"><a href="/" aria-current="page" class="logo-link w-nav-brand w--current"><img src="images/business-logo2x.png" width="108" alt="" class="logo-image"></a>
      <div class="menu">
        <nav role="navigation" class="navigation-items w-nav-menu"><a href="/about" class="navigation-item w-nav-link">About</a><a href="/projects" class="navigation-item w-nav-link">Work</a><a href="/team" class="navigation-item w-nav-link">team</a><a href="/blog" class="navigation-item w-nav-link">Blog</a><a href="/contact" class="navigation-item w-nav-link">Contact</a></nav>
        <div class="menu-button w-nav-button"><img src="images/menu-icon_1menu-icon.png" width="22" alt="" class="menu-icon"></div>
      </div>
      <a href="mailto:mail@business.com?subject=You&#x27;ve%20got%20mail!" class="button cc-contact-us w-inline-block">
        <div>Contact US</div>
      </a>
    </div>
  </div>
  <section id="cards-section" class="cards-section">
    <div class="centered-container w-container">
      <h2>Cards section</h2>
      <p>Use these <strong>cards</strong> when you want to display content with an image, such as a blog post or product. They’re built with CSS grid to enable the 3-column layout. When you select the “Cards Grid Container,” you’ll see a red icon on the top right. Click the icon to edit the number of columns, the column gap, and more!</p>
      <p>The card images have <strong>fit</strong> set to <strong>cover</strong>, so they fill their masking container without stretching. Try making the “Cards Image Mask” a circle using <strong>border-radius</strong> or adjusting the size ratio using top <strong>padding</strong>. Don’t forget to set an <strong>alt</strong> description for each image, which will help with accessibility.</p>
      <div class="cards-grid-container-2">
        <div id="w-node-690cfa8bccb8-5e559905">
          <div class="cards-image-mask"><img src="https://uploads-ssl.webflow.com/5db1c76aadcfe25e881680fa/5db86dc421496616bf357c25_placeholder.svg" alt="" class="cards-image"></div>
          <h3>Card one</h3>
          <div>
            <div>This is some text inside of a div block.</div>
            <div class="columns w-row">
              <div class="w-col w-col-6"><a href="#" class="button-2 w-button">Button Text</a></div>
              <div class="w-col w-col-6">
                <div class="w-form">
                  <form id="email-form" name="email-form" data-name="Email Form"><select id="field" name="field" class="w-select"><option value="">Select one...</option><option value="First">First Choice</option><option value="Second">Second Choice</option><option value="Third">Third Choice</option></select></form>
                  <div class="w-form-done">
                    <div>Thank you! Your submission has been received!</div>
                    <div class="w-row">
                      <div class="w-col w-col-6"></div>
                      <div class="w-col w-col-6"></div>
                    </div>
                  </div>
                  <div class="w-form-fail">
                    <div>Oops! Something went wrong while submitting the form.</div>
                  </div>
                </div>
              </div>
            </div>
            <div class="w-form">
              <form id="email-form-2" name="email-form-2" data-name="Email Form 2"><select id="field-2" name="field-2" class="w-select"><option value="">Select one...</option><option value="First">First Choice</option><option value="Second">Second Choice</option><option value="Third">Third Choice</option></select></form>
              <div class="w-form-done">
                <div>Thank you! Your submission has been received!</div>
              </div>
              <div class="w-form-fail">
                <div>Oops! Something went wrong while submitting the form.</div>
              </div>
            </div>
          </div>
        </div>
        <div id="w-node-690cfa8bccbf-5e559905">
          <div class="cards-image-mask"><img src="https://uploads-ssl.webflow.com/5db1c76aadcfe25e881680fa/5db86dc421496616bf357c25_placeholder.svg" alt="" class="cards-image"></div>
          <h3 id="w-node-690cfa8bccc2-5e559905">Card two</h3>
          <p id="w-node-690cfa8bccc4-5e559905">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse varius enim in eros elementum tristique. </p>
        </div>
        <div id="w-node-690cfa8bccc6-5e559905">
          <div class="cards-image-mask"><img src="https://uploads-ssl.webflow.com/5db1c76aadcfe25e881680fa/5db86dc421496616bf357c25_placeholder.svg" alt="" class="cards-image"></div>
          <h3 id="w-node-690cfa8bccc9-5e559905">Card three</h3>
          <p id="w-node-690cfa8bcccb-5e559905">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse varius enim in eros elementum tristique. </p>
        </div>
        <div id="w-node-1e5383de6199-5e559905">
          <div class="cards-image-mask"><img src="https://uploads-ssl.webflow.com/5db1c76aadcfe25e881680fa/5db86dc421496616bf357c25_placeholder.svg" alt="" class="cards-image"></div>
          <h3 id="w-node-1e5383de619c-5e559905">Card three</h3>
          <p id="w-node-1e5383de619e-5e559905">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse varius enim in eros elementum tristique. </p>
        </div>
      </div>
    </div>
  </section>
  <header id="hero" class="hero">
    <div class="flex-container w-container">
      <div>
        <h1>Hero</h1>
        <p>This <strong>hero</strong> is built with a <strong>flex</strong> layout, so the content will grow or shrink to fit the space available in its container. <br>‍<br>To change this section’s background, select the “Hero Section,” then scroll to the <strong>background</strong> section of the Style panel and add a color, image, or gradient.</p><a href="#" class="w-button">Button text</a></div>
      <div class="hero-image-mask"><img src="https://uploads-ssl.webflow.com/5db1c76aadcfe25e881680fa/5db86dc421496616bf357c25_placeholder.svg" alt="" class="hero-image"></div>
    </div>
    <div class="section cc-cta">
      <div class="container">
        <div class="cta-wrap">
          <div>
            <div class="cta-text">
              <div class="heading-jumbo-small">Grow your business.<br></div>
              <div class="paragraph-bigger cc-bigger-light">Today is the day to build the business of your dreams. Share your mission with the world — and blow your customers away.<br></div>
            </div>
            <a href="/contact" class="button cc-jumbo-button w-inline-block">
              <div>Start Now</div>
            </a>
          </div>
        </div>
      </div>
    </div>
  </header>
  <div>
    <div class="w-container">
      <ul class="w-list-unstyled">
        <li></li>
        <li></li>
        <li></li>
      </ul>
    </div>
  </div>
  <div class="section cc-store-home-wrap">
    <div class="container">
      <div class="intro-header">
        <div class="intro-content cc-homepage">
          <div class="intro-text">
            <div class="heading-jumbo">Grow your business.</div>
            <div class="paragraph-bigger cc-bigger-white-light">Give your business a boost with a beautifully crafted homepage.<br></div>
          </div>
          <a href="/about" class="button cc-jumbo-button cc-jumbo-white w-inline-block">
            <div>Learn More</div>
          </a>
        </div>
      </div>
      <div class="motto-wrap">
        <div class="label cc-light">What we believe in</div>
        <div class="heading-jumbo-small">Grow your business, establish your brand, and put your customers first.<br></div>
      </div>
      <div class="divider"></div>
      <div class="home-content-wrap">
        <div class="w-layout-grid about-grid">
          <div id="w-node-76c147234d34-5e559905">
            <div class="home-section-wrap">
              <div class="label cc-light">About</div>
              <h2 class="section-heading">Who we are</h2>
              <p class="paragraph-light">Nulla vel sodales tellus, quis condimentum enim. Nunc porttitor venenatis feugiat. Etiam quis faucibus erat, non accumsan leo. Aliquam erat volutpat. Vestibulum ac faucibus eros. Cras ullamcorper gravida tellus ut consequat.</p>
            </div>
            <a href="/about" class="button w-inline-block">
              <div>Learn More</div>
            </a>
          </div><img src="images/placeholder-3.svg" id="w-node-76c147234d3f-5e559905" alt=""></div>
        <div class="w-layout-grid about-grid cc-about-2">
          <div id="w-node-76c147234d41-5e559905">
            <div class="home-section-wrap">
              <div class="label cc-light">Team</div>
              <h2 class="section-heading">What we do</h2>
              <p class="paragraph-light">Nulla vel sodales tellus, quis condimentum enim. Nunc porttitor venenatis feugiat. Etiam quis faucibus erat, non accumsan leo. Aliquam erat volutpat. Vestibulum ac faucibus eros. Cras ullamcorper gravida tellus ut consequat.</p>
            </div>
            <a href="/team" class="button w-inline-block">
              <div>Learn More</div>
            </a>
          </div><img src="images/placeholder-1.svg" id="w-node-76c147234d4c-5e559905" alt=""></div>
      </div>
    </div>
  </div>
  <div class="section">
    <div class="container">
      <div class="blog-heading">
        <div class="label cc-light">About Us</div>
        <h2 class="work-heading">Company news</h2>
      </div>
      <div class="collection-list-wrapper w-dyn-list">
        <div class="collection-wrap w-dyn-items">
          <div class="blog-preview-wrap w-dyn-item"><a href="#" class="business-article-heading"></a>
            <div class="label cc-blog-date"></div>
            <p class="paragraph-light">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse varius enim in eros elementum tristique. Duis cursus, mi quis viverra ornare, eros dolor interdum nulla, ut commodo diam libero vitae erat. Aenean faucibus nibh et justo cursus id rutrum lorem imperdiet. Nunc ut sem vitae risus tristique posuere.</p>
          </div>
        </div>
        <div class="status-message cc-no-data w-dyn-empty">
          <div>No items found.</div>
        </div>
      </div>
    </div>
  </div>
  <div class="section cc-cta">
    <div class="container">
      <div class="cta-wrap">
        <div>
          <div class="cta-text">
            <div class="heading-jumbo-small">Grow your business.<br></div>
            <div class="paragraph-bigger cc-bigger-light">Today is the day to build the business of your dreams. Share your mission with the world — and blow your customers away.<br></div>
          </div>
          <a href="/contact" class="button cc-jumbo-button w-inline-block">
            <div>Start Now</div>
          </a>
        </div>
      </div>
    </div>
  </div>
  <div class="section">
    <div class="container">
      <div class="footer-wrap"><a href="https://webflow.com/" target="_blank" class="webflow-link w-inline-block"><img src="images/webflow-w-small2x_1webflow-w-small2x.png" width="15" alt="" class="webflow-logo-tiny"><div class="paragraph-tiny">Powered by Webflow</div></a></div>
    </div>
  </div>
  <script src="https://d3e54v103j8qbb.cloudfront.net/js/jquery-3.4.1.min.220afd743d.js?site=5e89212b4fbaea4db21ed817" type="text/javascript" integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo=" crossorigin="anonymous"></script>
  <script src="js/webflow.js" type="text/javascript"></script>
  <!-- [if lte IE 9]><script src="https://cdnjs.cloudflare.com/ajax/libs/placeholders/3.0.2/placeholders.min.js"></script><![endif] -->
</body>

<!-- <div>
Cart:
</div>
<mat-form-field>
  <mat-label>Filter</mat-label>
  <input matInput (keyup)="applyFilter1($event)" placeholder="Ex. ium">
</mat-form-field>
<button mat-raised-button color="primary" (click)='collapseall1()'> Collapse All
</button>
<button mat-raised-button color="primary" (click)='expandall1()'> Expand All
</button>
<table #cartSort mat-table multiTemplateDataRows [dataSource]="this.cart" matSort class="mat-elevation-z8" (matSortChange)="onMatSortChange()">



  <ng-container matColumnDef="name" >
    <th mat-header-cell *matHeaderCellDef mat-sort-header> Name </th>

    <td mat-cell *matCellDef="let element">

      element.name


    </td>

    <td  mat-footer-cell *matFooterCellDef> Total </td>

  </ng-container>
  <ng-container matColumnDef="price" >
    <th mat-header-cell *matHeaderCellDef mat-sort-header> Price </th>

    <td mat-cell *matCellDef="let element">

      element.price


    </td>
    <td  mat-footer-cell *matFooterCellDef></td>



  </ng-container>
  <ng-container matColumnDef="quantity" >
    <th mat-header-cell *matHeaderCellDef mat-sort-header> Quantity </th>

    <td mat-cell *matCellDef="let element">

      element.quantity


    </td>
    <td mat-footer-cell *matFooterCellDef> {{getTotalCost()}} </td>


  </ng-container>
  <ng-container matColumnDef="measurement" >
    <th mat-header-cell *matHeaderCellDef mat-sort-header> Measurement </th>

    <td mat-cell *matCellDef="let element">

      element.measurement


    </td>
    <td  mat-footer-cell *matFooterCellDef></td>



  </ng-container>



  <ng-container matColumnDef="expandedDetail" >
    <td mat-cell *matCellDef="let element" [attr.colspan]="cartColumnsToDisplay.length">
      <div class="example-element-detail" *ngIf="element.expanded">

        <div class="example-element-diagram">
          <div class="example-element-position"> {{element.name}} </div>
          <div class="example-element-symbol"> {{element.price}} </div>
          <div class="example-element-name"> {{element.measurement}} </div>
        </div>
        <div class="example-element-description">
        <div style = 'display:flex'>
          Quantity:
          <select name="duration" [(ngModel)]="element.quantity">
            <option *ngFor="let number of numbers" [value]="number">{{number}}</option>
        </select>
        {{element.measurement}}

          </div>
          Total: {{element.price*element.quantity}}
        </div>
        <button mat-raised-button color="primary" (click)='removeFromCart(element)'> Remove from cart
        </button>
      </div>
    </td>
  </ng-container>

  <ng-container matColumnDef="checkout">
    <td mat-footer-cell *matFooterCellDef [attr.colspan]="cartColumnsToDisplay.length">
      <button mat-raised-button color="primary" (click)='checkout()'> Checkout
        </button>
    </td>
  </ng-container>

  <tr mat-header-row *matHeaderRowDef="cartColumnsToDisplay;sticky: true"></tr>
  <tr mat-row *matRowDef="let element; columns: cartColumnsToDisplay;"
      class="example-element-row"
      [class.example-expanded-row]="element.expanded"
      (click)="element.expanded = !element.expanded">
  </tr>
  <tr mat-row *matRowDef="let row; columns: ['expandedDetail']" class="example-detail-row"></tr>
  <tr mat-footer-row *matFooterRowDef="cartColumnsToDisplay; sticky: true"></tr>
  <tr mat-footer-row *matFooterRowDef="['checkout']" class="example-second-footer-row"></tr>



</table>
<div>
Store:
</div>
<mat-form-field>
  <mat-label>Filter</mat-label>
  <input matInput (keyup)="applyFilter($event)" placeholder="Ex. ium">
</mat-form-field>
<button mat-raised-button color="primary" (click)='collapseall()'> Collapse All
</button>
<button mat-raised-button color="primary" (click)='expandall()'> Expand All
</button>
<table mat-table #storeSort multiTemplateDataRows [dataSource]="this.dataSource" matSort class="mat-elevation-z8" (matSortChange)="onMatSortChange()">

  <ng-container matColumnDef="{{column}}" *ngFor="let column of columnsToDisplay">
    <th mat-header-cell *matHeaderCellDef mat-sort-header> {{column}} </th>

    <td mat-cell *matCellDef="let element">

      {{element[column]}}

    </td>
  </ng-container>
  <ng-container matColumnDef="expandedDetail" >
    <td mat-cell *matCellDef="let element" [attr.colspan]="columnsToDisplay.length">
      <div class="example-element-detail" *ngIf="element.expanded">

        <div class="example-element-diagram">
          <div class="example-element-position"> {{element.name}} </div>
          <div class="example-element-symbol"> {{element.price}} </div>
          <div class="example-element-name"> {{element.measurement}} </div>
        </div>
        <div class="example-element-description">
        <div style = 'display:flex'>
          Quantity:
          <select name="duration" [(ngModel)]="element.quantity">
            <option *ngFor="let number of numbers" [value]="number">{{number}}</option>
        </select>
        {{element.measurement}}

          </div>
          Total: {{element.price*element.quantity}} Rupiah
        </div>
        <button mat-raised-button color="primary" (click)='this.addToCart(element)'> Add to cart
        </button>
      </div>
    </td>
  </ng-container>

  <tr mat-header-row *matHeaderRowDef="columnsToDisplay;sticky: true"></tr>
  <tr mat-row *matRowDef="let element; columns: columnsToDisplay;"
      class="example-element-row"
      [class.example-expanded-row]="element.expanded"
      (click)="element.expanded = !element.expanded">
  </tr>
  <tr mat-row *matRowDef="let row; columns: ['expandedDetail']" class="example-detail-row"></tr>


</table> -->
