<div class="assignContainer">
  <div class="scheduleName">
    <h3>{{schedule.name | uppercase}}</h3>
  </div>
  <div class="assignButtons">
    <div class="assignButton">
    <ng-container *ngIf="action">
      <!-- <div class="modeSelector" *ngFor="let action of actionsForSchedule()"> -->
        <span class="scheduleMode">
          <div class="scheduleModeOn" *ngIf="action.action == 'on'">
            <div>
              <button class="selected left">
                <i class="fa fa-circle roundButton on" (click)="toggleSelected()"></i>
              </button>
              <button class="onOff right">
                <i class="fa fa-toggle-on slideButton on" (click)="toggleOnOff()"></i>
              </button>
            </div>

            <div class="modeOn">
              <span class="leftModeName">
                MODE: {{action.mode_name | uppercase }}
              </span>
              <button class="rightModeButton">
              <!-- <i class="fafa-circle toggleButton on" (click)="removeMode(mode)"></i> -->
                <i class="fa fa-th right" (click)="toggleModes()"></i>
              </button>
            </div>
            <div class="modeContainer" *ngIf="modesExpanded">
              <div class="modePicker" *ngFor="let mode of this.getScheduleableModes()">
                <button *ngIf="modeSelected(mode)" class="onOff left" >
                  <i class="fa fa-toggle-on slideButton on"></i>
                </button>
                <button *ngIf="!modeSelected(mode)" class="onOff left" (click)="selectMode(mode)">
                  <i class="fa fa-toggle-off slideButton off"></i>
                </button>
                <span class="leftModeName"> {{ mode.name | uppercase }} </span>
              </div>
            </div>
          </div>
          <div class="scheduleModeOff" *ngIf="action.action == 'off'">
            <div>
              <button class="selected">
                <i class="fa fa-circle roundButton on" (click)="toggleSelected()"></i>
              </button>
              <button class="onOff">
                <i class="fa fa-toggle-off slideButton off" (click)="toggleOnOff()"></i>
              </button>
            </div>

          </div>
        </span>
      <!-- </div> -->
    </ng-container>
    <ng-container *ngIf="!action">
      <i class="fa fa-circle roundButton off" (click)="toggleSelected()"></i>
    </ng-container>
  </div>
  </div>
</div>
