.assignContainer {
  display: flex;
  // width: 99%;
  // margin-left: auto;
  // margin-right: auto;
  // margin-top: .2vh;
  flex-direction: column;
  // border: green;
  // border-style: solid;
  // border-radius: .5vh;
  // border-width: .1vh;
  margin:2vh;
}
.assignButtons {
  display:flex;
  width: 100%;
}
.assignButton {
  flex:1;
  margin-left: auto;
  margin-right: auto;
}

i .green {
  color:  green;
}

i .grey {
  color:  grey;
}

.slideButton {
  // flex:1;
  // margin-left: auto;
  // margin-right: auto;
  // margin-bottom: 1vh;
  font-size: 3vh;
  background-color: transparent;
  border-radius: 1vh;
  margin-top: 0vh;
  width: 100%;
  text-shadow: 1px 1px 1px #ccc;
  // font-size: 1.5em;

}

.roundButton {
  // flex:1;
  // margin-left: auto;
  // margin-right: auto;
  // margin-bottom: 1vh;
  font-size: 3vh;
  background-color: transparent;
  border-radius: 2vh;
  // margin:1vh;
  width: 100%;

  text-shadow: 1px 1px 1px #ccc;
  // font-size: 1.5em;

}


.roundButton.off, .slideButton.off {
  // margin:1vh;
  // color: black;
}

.roundButton.on, .slideButton.on {
  color: green;
}
.modeSelector {
  display:flex;
}
.modeName {
  flex:1;
}

.leftModeButton {
  flex:1;
  margin-left: 1vh;
  margin-right: auto;
}
.rightModeButton {
  flex: 1;
  max-width: 3vh;
  max-height: 3vh;
  margin-right: 2vh;
  margin-left: auto;
  background-color: transparent;
}
.leftModeName {
  flex:1;
  margin-left: 6vh;
  margin-right: auto;
}
.scheduleMode {
  display: inline-flex;
  width: 100%;
}

.scheduleModeOn {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.scheduleModeOff {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.selected {
  flex: 1;
  // max-width: 3vh;
  margin-right: auto;
  // margin-left: 1vh;
  background-color: transparent;
  border-radius: 3vh;
  // padding: .1vh;
}

i.selected {
  color: #fff;
  text-shadow: 1px 1px 1px #ccc;
  font-size: 3vh;
}

.onOff {
  flex: 1;
  min-width: 7vh;
  max-width: 7vh;
  margin-right: auto;
  margin-left: 1vh;
  background-color: transparent;
  border-radius: 3vh;
  // padding: .1vh;
}

i.onOff {
  color: #fff;
  text-shadow: 1px 1px 1px #ccc;
  font-size: 3vh;
}

.right {

}
.left {

}

.modeOn {
  display: inline-flex;
  width: 100%;
  margin-top: 2vh;
}

.modeContainer {
  display: inline-flex;
  flex-direction: column;
  width: 100%;
  margin-left: 2vh;
  margin-right: 2vh;
  margin-top: 2vh;
}

.modePicker {
  display: inline-flex;
  // flex-direction: column;
  width: 100%;
  margin-left: 2vh;
  margin-right: 2vh;
}

.selectMode {
  display: inline-flex;
  width: 100%;
  margin-left: 2vh;
  margin-right: 2vh;
}

.mode {
  flex: 1;
  width: 100%;
}
