.listitem{
  background-color: white
}
.listitem.disabled{
    // cursor: not-allowed !important;
    opacity: 0.5;
    color: grey;
    text-decoration: none;
}
.listitem.disabled:hover{

    color: grey;
    background-color: white
}
.listitem:hover{

    color: blue;
}

.listitem::selection{

    background-color: white
}
