
<div class = "mycard">
  <div class = "uppercard">
    <div class = "title"  (click) = "gotoloc()">

      <div style = "overflow: auto;

        margin: 4%;">
        {{this.loc.capname}}
      </div>
    </div>
    <div class = "outtemp" *ngIf = "this.auth.homefiltertype == 'light'">
      <div *ngIf = "this.loc.outlight" style = "overflow: auto;

        margin: 4%;">
        <div>
          Outdoor Level
        </div>
        <div style="text-align:center">
          {{this.loc.outlight}}
        </div>
      </div>
    </div>
    <div *ngIf = "this.auth.homefiltertype != 'light'" class = "outtemp">
      <div *ngIf = "this.loc.outtemp" style = "overflow: auto;

        margin: 4%;">

        <div>
        Outside
        </div>
        <div style="text-align: center">
           {{this.loc.outtemp}}
        </div>
      </div>
    </div>

  </div>
  <div *ngIf = "!this.loc.initialized" class = "lowercard" style = "display: flex;">
    <div class = "mygrid">
      <div style = "margin:2vh;">

        Fetching data...
      </div>
    </div>
    <div style = "justify-content: center; align-items: center; display: flex; width: 12.5vw">
      <button class = "gotoloc"(click) = "gotoloc()" ion-button>
        <ion-icon  name="arrow-forward" class="forwardArrow"></ion-icon>
      </button>
    </div>
  </div>
  <div *ngIf = "this.loc.received && this.loc.online" class = "lowercard" style = "display: flex;">

    <div *ngIf = "this.auth.homefiltertype == 'hvac' && this.loc.received" class = "mygrid">

      <div class = "thingouter" *ngFor="let i of this.loc.hvacs">

          <button class = "num" (click) = "gotohvac()" [style.background-color] = "i.hvaccolor">
            <div class = "text">
              {{i.status.sockets.space}}
            </div>

          </button>
          <div class = "textouter">
            <div class = "text">
              {{i.capname}}
            </div>
          </div>
      </div>

    </div>
    <div *ngIf = "this.auth.homefiltertype == 'freezer'" class = "mygrid">
      <div class = "thingouter" *ngFor="let i of this.loc.coolers">

          <button class = "num" (click) = "gotohvac()" [style.background-color] = "i.coolercolor">
            {{i.status.sockets.space}}
          </button>
          <div class = "textouter">
            <div class = "text">
              {{i.capname}}
            </div>
          </div>
      </div>
    </div>
    <div *ngIf = "this.auth.homefiltertype == 'light'" class = "mygrid">

      <div  class = "light" *ngFor="let i of this.loc.lights">
        <div class = 'outnum'>
          <button [style.background-color] = "i.status.color" class = "num" (click) = "openModal(i, this.loc)">
          </button>
        </div>


          <div class = "textouter">
            <div class = "text">
              {{i.capname}}
            </div>
          </div>
      </div>


    </div>

    <div style = "justify-content: center; align-items: center; display: flex; width: 12.5vw">
      <button class = "gotoloc" (click) = "gotoloc()" ion-button>
        <ion-icon  name="arrow-forward" class="forwardArrow"></ion-icon>
      </button>
    </div>

  </div>
  <div *ngIf = "this.loc.received && !this.loc.online" class = "offline" style = "display: flex;">

    <div class = "mygrid">
      <div style = "margin: 3vh; display: flex; align-items: center; ">
      OFFLINE
      </div>
      <img src="assets/img/icons8-offline-100.png"/>
    </div>



  </div>

</div>
