

$home-head: 25vh;
$home-content: 75vh;
$title-bar: $home-head / 5;
$title-below: $home-head * 2 / 3;
$segments: $title-below / 3;
$filters: $segments;
$search: $segments;
$searchicon: $search * .7;
$searchiconmargin: $search * .3 / 2;
//
// $width: 100vw;
// $test : $width - $title-below * 1 / 4;

.modalopen{
  -webkit-filter: blur(10px);
  -moz-filter: blur(10px);
  -o-filter: blur(10px);
  -ms-filter: blur(10px);
  filter: blur(10px);






}
.modalclosed{
  -webkit-filter: none;
  -moz-filter: none;
  -o-filter: none;
  -ms-filter: none;
  filter: none;




}
.ios,
.md,
.wp{

location {

  .toolbar-ios {
         //workaround: statusbar height is too small on root view without home button
         // -> manually set min-height on root view (verified on iOS 10)
         min-height: 64px;
  }
  // .button-ios{
  //   color: grey;
  //   background-color: white;
  //   -webkit-box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.2), 0 1px 5px 0 rgba(0, 0, 0, 0.12);
  //   box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.2), 0 1px 5px 0 rgba(0, 0, 0, 0.12);
  // }
  // .button-md{
  //   color: grey;
  //   background-color: white;
  //   -webkit-box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.2), 0 1px 5px 0 rgba(0, 0, 0, 0.12);
  //   box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.2), 0 1px 5px 0 rgba(0, 0, 0, 0.12);
  // }
  // background: #EFEEEE;





  ion-header {
    ion-navbar{
      .toolbar-title{
        color: white;

      }
      .bar-button{
        color:white;
      }

      ion-buttons{
        display:flex;
        align-items:center;
        .signout {
          font-size: 2vh;
        }
        .back {
          font-size: 4.5vh;
          // width:10vh;
          // height:10vh;
        }
        color: white;

      }
      ion-title{
        color: white;

      }

      font-size:3vh;

      padding: 0px;
      margin: 0px;
      height:9vh;
      min-height:0px;
      font-weight: bold; display: flex; align-items: center;
      color: white;
      background-image: radial-gradient(#0199FE, #005C98) !important;
      justify-content: center;
      text-align:center;
      width:100vw;

      .toolbar-content{
        z-index: 1;
        width:100%;
      }
      .toolbar-background{
        // z-index: 1;

        padding: 0px;
        margin: 0px;
        height:9vh;
        width:100vw;

        // font-size:$title-bar / 2;
        min-height:0px;
        font-weight: bold; display: flex; align-items: center; color: white;
        background-image: radial-gradient(#0199FE, #005C98) !important;
        justify-content: center;
        text-align:center;
      }


    }


    ion-toolbar{
      padding: 0px;
      padding-left: 0px;
      padding-right: 0px;
      min-height: 0px;

      .header {

        // height: $title-below;

        .segments{
          height: 9vh;
          // margin: 10%;

          ion-segment {
            height: 9vh;
            ion-segment-button{

              font-size:2vh;
              // height: 9vh;
              line-height: auto;
            }
            .segment{
              height: $segments;
              line-height: $segments;
            }

          }

        }

        .hvacfilters{

          height: $filters;

          .bbtn {
            border: solid 2px #787878;

            border-radius: 10%;
            background-color: lightblue;
            width: 5vh ;
            height: 5vh ;
            // border: 1.5px solid lightgrey
          }
          .bbtn.selected {
            border: solid 2.5px lightblue;
          }
          .orangebtn {
            border: solid 1px #787878;

            border-radius: 10%;

            background-color: orange;
            width: 5vh ;
            height: 5vh ;
            // border: 1.5px solid lightgrey
          }
          .orangebtn.selected {
            border: solid 2.5px lightblue
          }
          .gbtn {
            border: solid 1px #787878;

            border-radius: 10%;
            background-color: lightgreen;
            width: 5vh ;
            height: 5vh ;
            // border: 1.5px solid lightgrey
          }
          .gbtn.selected {
            border: solid 2.5px lightblue;
          }
          .ybtn {
            border: solid 1px #787878;

            border-radius: 10%;

            background-color: #FEFE83;
            width: 5vh ;
            height: 5vh ;
            // border: 1.5px solid lightgrey
          }
          .ybtn.selected {
            border: solid 2.5px lightblue;
          }

          .rbtn {
            border: solid 1px #787878;

            border-radius: 10%;

            background-color: #F45151;
            width: 5vh ;
            height: 5vh ;
            // border: 1.5px solid lightgrey
          }
          .rbtn.selected {
            border: solid 2.5px lightblue;
          }

          .obtn {
            border: solid 1px #787878;
            display:flex;
            justify-content: center;
            ion-icon {
              font-size: 4vh;
            }


            border-radius: 10%;
            background-color: lightgrey;
            width: 5vh ;
            height: 5vh ;
            // border: 1.5px solid lightgrey
          }
          .obtn.selected {
            border: solid 2.5px lightblue;
          }

          .abtn {
            border: solid 1px #787878;

            border-radius: 10%;

            background-color: white;
            width: 5vh ;
            height: 5vh ;
            // border: 1.5px solid lightgrey;
            color:black;
            font-size: 12px;
            display:flex;
            justify-content: center;
            align-items: center;
            z-index: 1;
          }
          .abtn.selected {
            border: solid 2.5px lightblue;
          }

        }

        .freezerfilters {

          height: $filters;

          .bbtn {
            border: solid 2px #787878;

            border-radius: 10%;
            background-color: blue;
            width: 5vh ;
            height: 5vh ;
            // border: 1.5px solid lightgrey
          }
          .bbtn.selected {
            border: solid 2.5px lightblue;
          }
          .orangebtn {
            border: solid 2px #787878;

            border-radius: 10%;

            background-color: orange;
            width: 5vh ;
            height: 5vh ;
            // border: 1.5px solid lightgrey
          }
          .orange.selected {
            border: solid 2.5px lightblue          }

          .obtn {
            border: solid 2px #787878;
            display:flex;
            justify-content: center;
            ion-icon {
              font-size: 4vh;
            }


            border-radius: 10%;
            background-color: lightgrey;
            width: 5vh ;
            height: 5vh ;
            // border: 1.5px solid lightgrey
          }
          .obtn.selected {
            border: solid 2.5px lightblue;
          }
          .abtn {
            border: solid 2px #787878;

            border-radius: 10%;

            background-color: white;
            width: 5vh ;
            height: 5vh ;
            // border: 1.5px solid lightgrey;
            color:black;
            font-size: 12px;
            display:flex;
            justify-content: center;
            align-items: center;
            z-index: 1;
          }
          .abtn.selected {
            border: solid 2.5px lightblue;
          }

        }

        // .search{
        //
        //   height: $search;
        //
        //   ion-searchbar{
        //     display:flex;
        //     justify-content: flex-start;
        //     align-items: center;
        //     height: $search;
        //
        //     .searchbar-search-icon{
        //       position: absolute;
        //       // left:2.475vh;
        //       // top: 2.475vh;
        //       left:0vh;
        //       top: 0vh;
        //       margin:$searchiconmargin;
        //
        //       background-size: $searchicon;;
        //       width:$searchicon;
        //       height:$searchicon
        //     }
        //     .searchbar-clear-icon{
        //       right:$searchiconmargin;
        //       top: $searchiconmargin;
        //
        //       background-size: $searchicon;;
        //       width:$searchicon;
        //       height:$searchicon
        //
        //     }
        //     .searchbar-input-container{
        //       line-height: $search;
        //       height:$search
        //     }
        //     .searchbar-input{
        //       padding:6px $search;
        //       font-size: $searchicon;
        //       line-height: $search;
        //       height:$search
        //     }
        //
        //   }
        //
        // }




      }
      .lightheader {

        // height: $title-below;

        .segments{
          height: 9vh;
          // margin: 10%;

          ion-segment {
            height: 9vh;
            ion-segment-button{

              font-size:2vh;
              // height: 9vh;
              line-height: auto;
            }
            .segment{
              height: $segments;
              line-height: $segments;
            }

          }

        }


        .search{

          height: $filters + $search;
          .test {
            height: 15%;
          }

          ion-searchbar{

            display:flex;
            justify-content: flex-start;
            align-items: center;
            height: $search;

            .searchbar-search-icon{
              position: absolute;
              // left:2.475vh;
              // top: 2.475vh;
              left:0vh;
              top: 0vh;
              margin:$searchiconmargin;

              background-size: $searchicon;;
              width:$searchicon;
              height:$searchicon
            }
            .searchbar-clear-icon{
              right:$searchiconmargin;
              top: $searchiconmargin;

              background-size: $searchicon;;
              width:$searchicon;
              height:$searchicon

            }
            .searchbar-input-container{
              line-height: $search;
              height:$search
            }
            .searchbar-input{
              padding:6px $search;
              font-size: $searchicon;
              line-height: $search;
              height:$search
            }

          }

        }




      }


    }


  }



  ion-content {
    // background-color: #0042ad;

    // background-color: #0199FE;




    // .outnum{
    //   -webkit-box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.2), 0 1px 5px 0 rgba(0, 0, 0, 0.12);
    //   box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.2), 0 1px 5px 0 rgba(0, 0, 0, 0.12);
    // }


    .mycard{
      background-color: #e8e8e8;

      // border: solid 1px black;
      .uppercard{
        display:flex;
        .title{

          width: 75vw;

          font-size: 3vh;


        }
        .outlight{

          margin: 2.5%;
          display: flex;
          align-items: center;
          justify-content: space-around;
          width: 25vw;

          // font-size: $loc-bar * 2.5 / 9;
          font-size: 1.5vh;

          font-weight:bold;
          .light {
            background-color: transparent;
            // flex-direction: column;
            margin: 4%;
            width: 10vh;
            height: 8vh;



            .circle{
              background-color: yellow;
              width: 4vh;
              height: 4vh;
              border-radius: 50%;

            }
            .textouter{
              overflow: hidden;

              text-overflow: ellipsis; // This is where the magic happens

              .text {
                overflow: hidden;

                text-overflow: ellipsis; // This is where the magic happens

                text-align: center;
                // width:12.5vh;

                // font-size: 1.75vh;
                font-size: 1.75vh;



              }

            }



          }

        }
        .outtemp{
          margin: 2.5%;
          display: flex;
          align-items: center;
          justify-content: center;
          width: 25vw;

          // font-size: $loc-bar * 2.5 / 9;
          font-size: 2vh;

          font-weight:bold;

        }

      }

      .lowercard{


        .mygrid{
          // margin-left: 2vw;
          .num{
            -webkit-box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.2), 0 1px 5px 0 rgba(0, 0, 0, 0.12);
            box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.2), 0 1px 5px 0 rgba(0, 0, 0, 0.12);
            font-weight: normal;
          }
          display: flex;
          flex-wrap: wrap;
          // justify-content: space-between;
          width: 88vw;

          .thingouter {
            // border: 2px solid black;

            // flex-direction: column;
            margin: 4%;
            width: 11.5vh;

            button{
              width: 11.5vh;
              height: 11.5vh;

              text-align: center;

              font-size: 3.5vh;
              border-radius: 1vh;
              display:flex;
              justify-content: center;
              align-items: center;

              .text {
                display:flex;
                justify-content: center;
                align-items: center;
                width: 11.5vh;
                height: 11.5vh;
                // overflow: hidden;

                // text-overflow: ellipsis; // This is where the magic happens

                // text-align: center;
                // width:12.5vh;

                // font-size: 1.75vh;
                font-size: 3.5vh;



              }

            }

            .textouter{
              margin-top: 1vh;
              overflow: hidden;

              text-overflow: ellipsis; // This is where the magic happens

              .text {
                overflow: hidden;

                text-overflow: ellipsis; // This is where the magic happens

                text-align: center;
                // width:12.5vh;

                // font-size: 1.75vh;
                font-size: 2.5vh;



              }

              // border: solid 1px black;
            }



          }
          .light {
            // border: 2px solid black;

            // flex-direction: column;
            margin: 4%;
            width: 10.5vh;
            // height: 11.5vh;

            // min-width:25vw;
            // max-width:25vw;

            // display: flex;
            // flex-direction: column;
            // justify-content: center;
            // align-items: center;
            // text-overflow: ellipsis; // This is where the magic happens
            // overflow: hidden;
            // ion-button {
            .outnum {
              display:flex;
              justify-content: center;
              .num{

                background-color: yellow;
                width: 6vh;
                height: 6vh;
                border-radius: 50%;




              }
            }

            .textouter{
              margin-top: 1vh;
              overflow: hidden;

              text-overflow: ellipsis; // This is where the magic happens

              .text {
                overflow: hidden;

                text-overflow: ellipsis; // This is where the magic happens

                text-align: center;
                // width:12.5vh;

                // font-size: 1.75vh;
                font-size: 2vh;



              }

              // border: solid 1px black;
            }

            // .thing {
            //   margin: 5%;
            //
            //   .num{
            //     text-align: center;
            //
            //     font-size: 4.5vh;
            //
            //   }
            //   .textouter{
            //     .text {
            //
            //       text-align: center;
            //       // width:12.5vh;
            //
            //       font-size: 1.75vh;
            //
            //
            //     }
            //     display: flex;
            //     justify-content: center;
            //
            //     // border: solid 1px black;
            //   }
            // }

          }
        }


        button {
          -webkit-box-shadow: none;
          box-shadow: none;
          color: black;
          background-color: transparent;


          width: 6vh;
          height: 6vh;
          ion-icon{
            font-size: 6vh;
          }


        }
        .gotoloc{
          width: 10vw;
          // width: $title-below / 2;
          height: $title-below / 2;


        }

      }
      .offline {

        .mygrid{
          font-size: 3vh;
          display: flex;
          align-items: center;
          justify-content: center;
          // border : 4px solid yellow !important;
          width: 88vw;
        }

        button {
          -webkit-box-shadow: none;
          box-shadow: none;
          color: black;
          background-color: transparent;


          width: 6vh;
          height: 6vh;
          ion-icon{
            font-size: 6vh;
          }
        }
        img {
          max-width: 6vw;
          font-size: 5vh;
        }
        .gotoloc{
          width: 10vw;
          // width: $title-below / 2;
          height: $title-below / 2;
        }
      }
      .offline.selected {

        .mygrid{
          font-size: 5vh;
          display: flex;
          align-items: center;
          justify-content: center;
          width: 88vw;
        }

        button {
          -webkit-box-shadow: none;
          box-shadow: none;
          color: black;
          background-color: transparent;
          width: 6vh;
          height: 6vh;
          ion-icon{
            font-size: 4vh;
          }
        }

        .gotoloc{
          width: 10vw;
          // width: $title-below / 2;
          height: $title-below / 2;
        }
      }
      .loading {
        .fetching{

          display: flex;
          flex-wrap: wrap;
          width: 88vw;


        }


        button {
          -webkit-box-shadow: none;
          box-shadow: none;
          color: black;
          background-color: transparent;


          width: 6vh;
          height: 6vh;
          ion-icon{
            font-size: 6vh;
          }


        }
        .gotoloc{
          width: 10vw;
          // width: $title-below / 2;
          height: $title-below / 2;


        }

      }


    }
  }

  //
  // .header {
  //   .button{
  //
  //     font-size: 0px;
  //     margin:0px;
  //     padding:0px;
  //     border-radius: 50%;
  //     border: solid 1px white;
  //   }
  //   height: $title-below;
  //
  //   .segments{
  //     height: $segments;
  //     ion-segment {
  //       height: $segments;
  //       ion-segment-button{
  //         font-size: $searchicon / 2.5;
  //         height: $segments;
  //         line-height: $segments;
  //       }
  //       .segment{
  //         height: $segments;
  //         line-height: $segments;
  //       }
  //
  //     }
  //
  //   }
  //
  //   .filters{
  //     height: $filters;
  //     .gbtn {
  //
  //
  //       background-color: lightgreen;
  //       width: $searchicon  ;
  //       height: $searchicon ;
  //       // border: 1.5px solid lightgrey
  //     }
  //     .ybtn {
  //
  //
  //       background-color: yellow;
  //       width: $searchicon ;
  //       height: $searchicon ;
  //       // border: 1.5px solid lightgrey
  //     }
  //     .rbtn {
  //
  //
  //       background-color: red;
  //       width: $searchicon ;
  //       height: $searchicon ;
  //       // border: 1.5px solid lightgrey
  //     }
  //     .obtn {
  //
  //
  //       // background-image: url('../../assets/imgs/icons8-offline-100.png');
  //       background-color: lightgrey;
  //       width: $searchicon ;
  //       height: $searchicon ;
  //       // border: 1.5px solid lightgrey
  //     }
  //     .abtn {
  //
  //
  //       background-color: white;
  //       width: $searchicon ;
  //       height: $searchicon ;
  //       // border: 1.5px solid lightgrey;
  //       color:black;
  //       font-size: 12px;
  //       display:flex;
  //       justify-content: center;
  //       align-items: center;
  //     }
  //
  //   }
  //
  //   .search{
  //
  //     height: $search;
  //
  //     ion-searchbar{
  //       display:flex;
  //       justify-content: flex-start;
  //       align-items: center;
  //       height: $search;
  //
  //       .searchbar-search-icon{
  //         position: absolute;
  //         // left:2.475vh;
  //         // top: 2.475vh;
  //         left:0vh;
  //         top: 0vh;
  //         margin:$searchiconmargin;
  //
  //         background-size: $searchicon;;
  //         width:$searchicon;
  //         height:$searchicon
  //       }
  //       .searchbar-clear-icon{
  //         right:$searchiconmargin;
  //         top: $searchiconmargin;
  //
  //         background-size: $searchicon;;
  //         width:$searchicon;
  //         height:$searchicon
  //
  //       }
  //       .searchbar-input-container{
  //         line-height: $search;
  //         height:$search
  //       }
  //       .searchbar-input{
  //         padding:6px $search;
  //         font-size: $searchicon;
  //         line-height: $search;
  //         height:$search
  //       }
  //
  //     }
  //
  //   }
  //
  //
  //
  //
  // }
  //


}
}
