app-schedule-item {
  width: 10vh;
}

.schedule-container {
  display:flex;
  border-radius: 1vh;
  border-color: grey;
  border-style: solid;
  border-width: 1px;
  max-width: 90vw;
  // margin: 0 auto 0 auto;
  background-color: lightgrey;
  // margin-left: 1vh;
  // margin-right: 1vh;
  margin: 2vh;
}

.day {
  height: 11vh;
}

ion-icon {
  width: 5vh;
  height: 5vh;
}

.edit_container {
    flex-direction: column;
}

h5.selected {
    border-style: solid;
    border-color: red;
    border-width: .1vh;
}

app-schedule-item.selected {
  border-style: solid;
  border-color: red;
  border-width: .1vh;
}

button.close_button {
  max-width: 3vw;
  color:red;
  background-color: transparent;
}

button.save_button {
  color:blue;
  background-color: transparent;
  margin-left: 4vh;
}

.save_button:disabled, button.save_button[disabled]{
    color:azure;
    opacity: .4;
    background-color: transparent;
    margin-left: 4vh;
    // background: #b3b3b3;
}

// .save {
//   background-color: transparent;
// }

.selectedSchedule {
    height: 20%;
}

keyboard-form {
    width: 80vw;
    height: 80vh;
}

.close {
  color: red;
  background-color: transparent;
}

.settings {
  color: green;
  background-color: transparent;
}

.dismiss-container {
    margin-bottom: 3vh;
    height: 2vh;
    width: 100%;
}

.dismiss {
  color: red;
  background-color: transparent;
  margin-top: 1vh;
  margin-right: 1vh;
  float: right;
}

.addschedule {
  color: green;
  background-color: transparent;
  margin-top: 1vh;
  margin-right: 1vh;
  float: right;
}

.remove {
  color: red;
  background-color: transparent;
}

.schedule-info {
  display: flex;
  flex-direction: column;
  width: 25vh;
}

.schedule-name {
  // flex:1;
  color: darkgrey;
  margin-left: 1vh;
  margin-top: 1vh;
}

.schedule-name.touched {
  color: green;
}

.schedule-control {
  // flex:1;
}
.inner-scroll .scroll-y {
  background-color: #808080ad;
}

.entrycontainer {
  width: 60vw;
  margin: 6vh auto 0 auto;
}

.entry_container {
  // width: 10vw;
  // margin: 3vh auto 0 auto;
  // position: absolute;
  margin-top: 3vh;
  width: 100%;
  // margin: 3vh auto 0 28vh;
  // margin-left: 28vh;
}

.entry_wrapper {
  display:flex;
  width: 20vh;
  height: 6vh;
  margin: 0 auto 0 auto;
}

.entry_button {

  border-color: grey;
  border-width: 2px;
  border-style: solid;
  border-radius: 10px;
  flex: 1;
  font-size: large;
  margin: .2vh;
  background-color: lightgrey;
  padding: 0;
}

button.entry_button.active {
  color: blue;
}

.keyboard_input {
  margin-left: auto;
  margin-right: auto;
  display: flex;
  text-align: center;
}
