<div *ngIf = '!this.orderplacing'>
<h2> Add extra instructions for this specific order: </h2>


<form class="example-form">


  <mat-form-field class="example-full-width">
    <mat-label>dfdxf</mat-label>
    <textarea name = 'additional'rows = "10" [(ngModel)]="this.additional" matInput></textarea>
  </mat-form-field>
</form>


<button mat-raised-button color="primary" (click)='placeOrder()'> Place order
</button>

</div>
<div *ngIf = 'this.orderplacing'>

  We are currently placing your order...

</div>

<div *ngIf = '!this.orderplacing && this.orderplaced' >

  Order placed! Your order will arrive within one day. You can check the status page to check on the status
  of your order. 

</div>
