// $title-bar: 5vh;
// $loc-bar: 5vh;

// .no-scroll .scroll-content{
//     overflow: hidden;
// }

.ios,
.md,
.wp {

  page-login {
    // background: #EFEEEE;

    // ion-navbar {
    //
    //   font-size:4.5vh;
    //
    //   padding: 0px;
    //   margin: 0px;
    //   height:9vh;
    //   min-height:0px;
    //   font-weight: bold; display: flex; align-items: center; color: white;
    //   background-image: radial-gradient(#0199FE, #005C98) !important;
    //   justify-content: center;
    //   text-align:center;
    //
    //   .toolbar-background{
    //     padding: 0px;
    //     margin: 0px;
    //     height:9vh;
    //     // font-size:$title-bar / 2;
    //     min-height:0px;
    //     font-weight: bold; display: flex; align-items: center; color: white;
    //     background-image: radial-gradient(#0199FE, #005C98) !important;
    //     justify-content: center;
    //     text-align:center;
    //   }
    // }

    .centered {
      text-align: center;
    }
    ion-content {
      background-color: #fff;

      .logo {
        width: 166px;
        height: 80px;
        margin: 20px auto 0;
        // border-radius: 10%;
        // background: url("../assets/img/ionic3-ico.png") no-repeat;
        background: url('/assets/img/logo.jpeg') no-repeat;

        background-size: 100%;
      }
      div .logo {
        background: url('/assets/img/logo.jpeg') no-repeat;
        background-size: 100%;
      }
    }

    &::after {
      content: "";
      ion-content {
        background: url("/assets/img/bg.jpg") no-repeat;

        background-size: cover;
        top: 0;
        left: 0;
        bottom: 0;
        right: 0;
        position: absolute;
        z-index: 0;
      }
    }


    .num{
      // height:25vh;
      color: grey;
      padding-top: 2.5vh;
      // position:absolute;
      // top: 10vh;
      // bottom: 2.5vh;
      // display: flex;
      // justify-content: center;
      font-size: 2.5vh;
      // margin: 5%;
      // height: 5.5vh;
      width:100vw;

    }

    .login_container {
      width: 96vw;
      margin: 6vh auto 0 auto;
    }

    .hg-row {
        height: 8vh;
    }

    .hg-button {
       height: 8vh;
    }

    .entry_container {
      // width: 10vw;
      // margin: 3vh auto 0 auto;
      // position: absolute;
      margin-top: 3vh;
      width: 100%;
      // margin: 3vh auto 0 28vh;
      // margin-left: 28vh;
    }

    .entry_wrapper {
      display:flex;
      width: 20vh;
      height: 6vh;
      margin: 0 auto 0 auto;
    }

    .entry_button {

      border-color: grey;
      border-width: 2px;
      border-style: solid;
      border-radius: 10px;
      flex: 1;
      font-size: large;
      margin: .2vh;
      background-color: lightgrey;
      padding: 0;
    }

    button.entry_button.active {
      color: blue;
    }
  }

  .keyboard_input {
    margin-left: auto;
    margin-right: auto;
    display: flex;
    text-align: center;
  }

  // .simple-keyboard.unity-theme .hg-button.unity-button {
  //   min-height: 6vh;
  //   min-width: 6vh;
  //   // background: blue;
  //   // color: white;
  // }

  // .simple-keyboard.unity-theme .hg-button[aria-label] {
  //   background: black;
  //   color: white;
  // }

  // .simple-keyboard.unity-theme .hg-button.unity-button-outline {
  //   border: 2px solid red;
  // }

  // .hg-button {
  //   min-height: 8vh;
  //   min-width: 8vh;
  // }
  .hg-button.hg-standardBtn.hg-red {
    background: rgba(255, 0, 0, 0.8);
    color: white;
  }

  .hg-button.hg-standardBtn.hg-highlight {
    box-shadow: 0px 0px 40px 5px rgba(255, 255, 0, 0.5);
    z-index: 1;
  }

  #pwInput {
    font-size: 3vh;
    height: 6vh;
  }

  .numeric-theme {
    max-width: 320px;
    margin: 0 auto;
  }

  .numeric-theme .simple-keyboard-preview {
    max-width: 320px;
  }

  .simple-keyboard.hg-theme-default.numeric-theme .hg-button.hg-standardBtn.hg-button-at {
    max-width: none;
  }
}
