.submit-deskcheck {
  position: -webkit-sticky;
  position: sticky;
  top: 20px;
  width: 100%;
  margin-bottom: 20px;
  border-radius: 4px;
  color: #fff !important;
  text-align: center;
}

.submit-desktop-inactive {
  position: -webkit-sticky;
  position: sticky;
  top: 20px;
  width: 100%;
  margin-bottom: 20px;
  border-radius: 4px;
  background-color: #a8b8c5;
  color: #fff !important;
  text-align: center;
  cursor: default;
}
