<div class="order">



    <div class="checkout">
      <div class="w-container"><div (click) = "this.auth.changeView('cart')" class="link-5">Back to Cart</div></div>
      <div class="container-2 w-container">
        <div class="classtest">
          <div class="custinfo">
            <div class="w-commerce-commercecheckoutblockheader">
              <h4>Customer Info</h4>
              <div>* Required</div>
            </div>

            <div class="w-form">
              <div id="email-form" name="email-form" data-name="Email Form" class="hello2">
                <label for="name-5">Name *</label>
                <input [(ngModel)] = "this.name" [ngClass]="{ 'error' : this.touchmap.name && this.amIWrong('name') }" type="text" class="hello1 w-input" maxlength="256" name="name-5" data-name="Name 5" placeholder="" id="name-5">
                <div *ngIf = "this.touchmap.name && this.amIWrong('name')"style="font-size:12px;color:red"> Please enter a valid name</div>
                <label for="email-2">mobile number Or email*</label>
                <label for="email-2">mobile</label>
                <div [ngClass] = "{ 'error' : (this.phoneForm.controls.phone?.touched || this.touchmap.email) && (this.amIWrong('phone') && this.amIWrong('email')) }">
                  <form form #f="ngForm" [formGroup]="phoneForm" >
                <ngx-intl-tel-input matInput
                [cssClass]="{ 'error' : (this.phoneForm.controls.phone?.touched || this.touchmap.email) && (this.amIWrong('phone') && this.amIWrong('email')) }"
                  [preferredCountries]="preferredCountries"
                  [enableAutoCountrySelect]="false"
                  [enablePlaceholder]="true"
                  [searchCountryFlag]="true"
                  [searchCountryField]="[SearchCountryField.Iso2, SearchCountryField.Name]"
                  [selectFirstCountry]="false"
                  [selectedCountryISO]="CountryISO.Indonesia"
                  [maxLength]="15"
                  [tooltipField]="TooltipLabel.Name"
                  [phoneValidation]="true"
                  [separateDialCode]="separateDialCode"
                  name="phone" formControlName = "phone">
                </ngx-intl-tel-input></form>
                </div>
                <label for="email-2">email</label>
                <input (blur)="this.touchmap.email = true" [ngClass]="{ 'error' : (this.phoneForm.controls.phone?.touched || this.touchmap.email) && (this.amIWrong('phone') && this.amIWrong('email')) }" [(ngModel)] = "this.email" type="text" class="hello1 w-input" maxlength="256" name="name-3" data-name="Name 3" placeholder="" id="name-3">
                <div *ngIf = "(this.phoneForm.controls.phone?.touched || this.touchmap.email) && (this.amIWrong('phone') && this.amIWrong('email'))"style="font-size:12px;color:red"> Please either enter a valid email or phone</div>

              </div>

            </div>
          </div>
          <div class="custinfo-copy">
            <div class="w-commerce-commercecheckoutblockheader">
              <h4>Delivery Address</h4>
              <div>* Required</div>
            </div>
            <div class="w-form">
              <div id="email-form" name="email-form" data-name="Email Form" class="hello2-copy">
                <label for="email-2">Street Address *</label>
                <input (blur)="this.touchmap.address1 = true" [ngClass]="{ 'error' : this.touchmap.address1 && this.amIWrong('address1') }" [(ngModel)] = "this.address1" type="text" class="hello1 w-input" maxlength="256" name="name-3" data-name="Name 3" placeholder="" id="name-3">
                <input [(ngModel)] = "this.address2" type="text" class="hello1 w-input" maxlength="256" name="name-3" data-name="Name 3" placeholder="" id="name-3">

                <div class="w-commerce-commercecheckoutrow">
                  <div class="w-commerce-commercecheckoutcolumn">
                    <label class="w-commerce-commercecheckoutlabel">City *</label>
                    <input (blur)="this.touchmap.city = true" [ngClass]="{ 'error' : this.touchmap.city && this.amIWrong('city') }" [(ngModel)] = "this.city" type="text" name="address_city" required="" class="w-commerce-commercecheckoutshippingcity">

                  </div>
                  <!-- <div class="w-commerce-commercecheckoutcolumn">
                    <label class="w-commerce-commercecheckoutlabel">State/Province *</label>
                    <input [ngClass]="{ 'error' : this.error && this.amIWrong('province') }" [(ngModel)] = "this.province" type="text" name="address_state" class="w-commerce-commercecheckoutshippingstateprovince">
                  </div>
                  <div class="w-commerce-commercecheckoutcolumn">
                    <label class="w-commerce-commercecheckoutlabel">Zip/Postal Code *</label>
                    <input [ngClass]="{ 'error' : this.error && this.amIWrong('postal') }" [(ngModel)] = "this.postal" type="text" name="address_zip" required="" class="w-commerce-commercecheckoutshippingzippostalcode">
                  </div> -->
                </div>
                <!-- <label>Country *</label>
                <select [ngClass]="{ 'error' : this.error && this.amIWrong('country') }" [(ngModel)] = "this.country" name="address_country" class="w-commerce-commercecheckoutshippingcountryselector">
                  <option *ngFor="let country of this.auth.countries" [value]="country.name">{{country.name}}</option>

                </select> -->
                <!-- <div *ngIf = "(this.touchmap.address1 || this.touchmap.city) && (this.amIWrong('country') || this.amIWrong('postal') || this.amIWrong('province') || this.amIWrong('city') || this.amIWrong('address1'))"style="font-size:12px;color:red"> Please give a valid address</div> -->
                <div *ngIf = "(this.touchmap.address1 && this.amIWrong('address1')) || (this.touchmap.city && this.amIWrong('city') )"style="font-size:12px;color:red">
                  Please give a valid address
                </div>
              </div>

            </div>
          </div>
          <div class="custinfo-copy">
            <div class="w-commerce-commercecheckoutblockheader">
              <h4>Payment</h4>
            </div>
            <div class="w-form">
              <div id="email-form" name="email-form" data-name="Email Form" class="hello2-copy">
                <div class="text-block-14">We only offer Cash on Delivery right now. </div>
                <label class="radio-button-field w-radio">
                  <input value="COD" [(ngModel)] = this.payment  type="radio" data-name="Radio 2" id="radio-2" name="radio"  class="w-form-formradioinput radio-button w-radio-input" >
                  <span class="radio-button-label w-form-label">(COD) Cash on delivery</span>
                </label>
              </div>

            </div>
          </div>
          <div class="custinfo">
            <div class="w-commerce-commercecheckoutblockheader">
              <h4>Schedule your order</h4>
            </div>
            <div class="w-form">
              <form id="email-form" name="email-form" data-name="Email Form" class="hello2">
                <div class="div-block-55">
                  <div class="text-block-23">Select a day</div>
                  <div class="div-block-53">
                    <div *ngFor = "let i of this.auth.days" (click) = "this.auth.day = i;this.auth.time = i.times[0]" [ngClass]="{'div-block-54' : this.auth.day.name == i.name, 'div-block-54-copy': this.auth.day.name != i.name, 'div-block-54-copy-copy': this.isAvailable(i) == 'Not Available'}">
                      <div class="text-block-26">{{i.name}}</div>
                      <div class="text-block-25">{{i.date}}</div>
                      <div class="text-block-24">{{this.isAvailable(i)}}</div>
                    </div>

                  </div>
                </div>
                <div class="div-block-57">
                  <div class="text-block-23">Select a time</div>
                  <select [(ngModel)] = "this.auth.time" name="address_country" class="w-commerce-commercecheckoutshippingcountryselector timeselect-deskcheck">
                    <option *ngFor="let time of this.auth.day.times" [value]="time">{{time}}</option>

                  </select>
                </div>
              </form>

            </div>
          </div>
        </div>
        <div class="placeorder-deskcheck">
          <div class="ordersummary-deskcheck">
            <div class="w-commerce-commercecheckoutsummaryblockheader">
              <h4>Order Summary</h4>
            </div>
            <fieldset class="w-commerce-commercecheckoutblockcontent">
              <div class="w-commerce-commercecheckoutsummarylineitem">
                <div>Subtotal</div>
                <div>{{this.getCartPrice()}}</div>
              </div>
              <div class="w-commerce-commercecheckoutsummarylineitem">
                <div class="text-block-12">Note: all prices are estimated according to current market prices. Any difference between actual and estimated price will be reimbursed on delivery.</div>
              </div>
              <div class="w-commerce-commercecheckoutsummarylineitem">
                <div>Delivery</div>
                <div>Rp12000</div>
              </div>
              <div class="w-commerce-commercecheckoutsummarylineitem line-item">
                <div class="text-block-11">Delivery is fixed cost </div>
              </div>
              <div class="w-commerce-commercecheckoutsummarylineitem">
                <div>Total</div>
                <div class="text-block-13">{{this.getTotal()}}</div>
              </div>
            </fieldset>
            <fieldset class="w-commerce-commercecheckoutblockcontent remember-deskcheck">
              <div style = "align-items:center"class="div-block-42">
                <h5 class="heading-9">Remember me on this device?</h5>
                <input [(ngModel)] = "this.remember" style = "margin-left: 30px;" type="checkbox" checked>
              </div>

              <div>
                <div class="text-block-19">Remember delivery address and customer info next time you checkout </div>
              </div>
            </fieldset>
          </div>
          <a *ngIf = "!this.formsValid()" class = "submit-desktop-inactive w-button">Place Order</a>
          <a *ngIf = "this.formsValid()"(click) = "this.placeOrder()" class = "submit-deskcheck w-button">Place Order</a>
        </div>
      </div>
    </div>

</div>
