<ion-tabs #tabs (ionChange)="ionChange()">
  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="home">
      <i class="fa fa-map-marker fa-3x" aria-hidden="true"></i>
      <ion-label class="tabLabel">Site</ion-label>
    </ion-tab-button>
    <ion-tab-button tab="devices">
      <ng-container *ngIf="!isActive('devices')">
        <img class="tabIcon" src="assets/icons/png/device5.png" alt="Devices">
      </ng-container>
      <ng-container *ngIf="isActive('devices')">
        <img class="tabIcon" src="assets/icons/png/device5Blue.png" alt="Devices">
      </ng-container>
      <ion-label class="tabLabel" large>Devices</ion-label>
    </ion-tab-button>
    <ion-tab-button tab="gateway">
      <ion-icon name="git-commit" large></ion-icon>
      <ion-label class="tabLabel">Gateway</ion-label>
    </ion-tab-button>
    <ion-tab-button tab="setup">
      <ion-icon name="settings" large></ion-icon>
      <ion-label class="tabLabel">Setup</ion-label>
    </ion-tab-button>
    <ion-tab-button tab="status">
      <ion-icon name="stats" large></ion-icon>
      <ion-label class="tabLabel">Status</ion-label>
    </ion-tab-button>
  </ion-tab-bar>
</ion-tabs>

<!-- <ion-header>
  <ion-toolbar>
    <ion-title>tabs</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

</ion-content> -->
