<div class="shop">
  <div class="section-11">
    <div class="productselect">
      <div class="categories"style="width:auto;max-width: 25vw;padding-right:15px" *ngIf = "this.catexpanded">
        <div class="cattitle">
          <div class="text-block-49">CATEGORIES</div>
          <div class="div-block-108"></div>
        </div>
        <div class="catlist">
          <div class="cat" *ngFor = "let i of this.auth.categories">
            <div class="cathead" [ngClass] = "{'cathead': this.auth.catfilter != i.name, 'cathead-blue': this.auth.catfilter == i.name}" (click) = "hitCat(i)">
              <div class="text-block-51">{{i.name}}</div>
              <div *ngIf = "i.subcategories.length > 0">
              <mat-icon *ngIf = "!i.expanded" aria-hidden="false" aria-label="Example home icon" class="div-block-111">
                chevron_right
              </mat-icon >
              <mat-icon *ngIf = "i.expanded" aria-hidden="false" aria-label="Example home icon" class="div-block-111">
                expand_more
              </mat-icon >
              </div>
            </div>
            <div *ngIf = "i.expanded">
            <div (click) = "subHit(j)"[ngClass] = "{'subcat': this.subfilter != j, 'subcat-selected': this.subfilter == j}" class="subcat" *ngFor = "let j of i.subcategories">
              <div class="text-block-50">-</div>
              <div class="text-block-52">{{j}}</div>
            </div>
            </div>
            <div class="catbreak"></div>
          </div>
        </div>
      </div>
      <div class="expand" (click) = "this.catexpanded = !this.catexpanded">
        <div style = "display:flex;justify-content:center;align-items:center"class="div-block-97-copy">
          <mat-icon *ngIf = "!this.catexpanded" aria-hidden="false" aria-label="Example home icon" >
            chevron_right
          </mat-icon >
          <mat-icon *ngIf = "this.catexpanded" aria-hidden="false" aria-label="Example home icon" >
            chevron_left
          </mat-icon >
        </div>
      </div>
      <div class="div-block-114" *ngIf = "!this.auth.viewitem">
        <div class="div-block-96" >
          <div (click) = "this.productview = 'grid'" class="viewchangebutt"[ngClass] = "{'viewchangebutt-selected': this.productview == 'grid','viewchangebutt': this.productview != 'grid'}">
            <mat-icon aria-hidden="false" aria-label="Example home icon" >
              view_module
            </mat-icon >
          </div>
          <div (click) = "this.productview = 'list'" class="viewchangebutt"[ngClass] = "{'viewchangebutt-selected': this.productview == 'list','viewchangebutt': this.productview != 'list'}">
            <mat-icon aria-hidden="false" aria-label="Example home icon" >
              view_stream
            </mat-icon >
          </div>
          <div class="text-block-47">There are {{this.newFilterProducts()}} products</div>
          <form class="search-2 w-form">
            <input [(ngModel)]="this.queryTxt"  type="search" class="search-input-2 w-input" maxlength="256" name="query" placeholder="Search…" id="search-2" required="">
          </form>
          <div class="div-block-98" style="margin-right: 0"></div>
          <div class="div-block-103" style = "padding-left:25px;">
            <form id="email-form-5" name="email-form-5" data-name="Email Form 5">
              <!-- <mat-label>Sort by</mat-label> -->
              <select style = "border-radius: 20px;"[(ngModel)] = "this.sort" matNativeControl  id="field-6" name="field-6" class="select-field-4 w-select">
                <option value="none">Sort by none</option>
                <option value="pricelow">Sort by price: low to high</option>
                <option value="pricehigh">Sort by price: high to low</option>
              </select>
            </form>
          </div>
        </div>
        <div *ngIf = "this.productview == 'grid'" class ="shopgrid">
          <div (click) = "this.auth.viewitem = i" class="productitem" style = "padding:1vw"*ngFor = "let i of this.products">
            <div *ngIf = i.added class="div-block-60">
              <div class="text-block-29">{{i.quantity}} in cart</div>
             </div>

            <img style = "width:12vw;min-height: 12vw;
 max-height: 12vw;max-width:12vw;"src="{{i.image || 'https://uploads-ssl.webflow.com/5db1c76aadcfe25e881680fa/5db86dc421496616bf357c25_placeholder.svg'}}" alt="" class="productimg">
            <div class="productname">{{i.name}}</div>
            <div class="productprice">{{this.auth.getPrice(i)}}</div>
          </div>
          <div></div>
        </div>
        <div *ngIf = "this.productview == 'list'" class="shoplist">
          <div  *ngFor = "let i of this.products" class="shoplistitem">
            <div class="shoplistitemimgdiv"><img style = "width:7vh;min-height: 7vh;
 max-height: 7vh;max-width:7vh;"src="{{i.image || 'https://uploads-ssl.webflow.com/5db1c76aadcfe25e881680fa/5db86dc421496616bf357c25_placeholder.svg'}}" alt="" class="shoplistitemimg">
            </div>
            <div (click) = "this.auth.viewitem = i" class="shoplistitemname">{{i.name}}</div>
            <div class="shoplistitemprice">{{this.getPrice(i)}}</div>
            <div class="shoplistquantity">
              <div class="qtystring">QTY:</div>
              <div class="shoplistquantityformblock w-form">
                <form id="email-form" name="email-form" data-name="Email Form" class="pvquantityform">
                  <input [(ngModel)]="i.quantity" type="text" class="pvquantityinput w-input" maxlength="256" name="name-3" data-name="Name 3" placeholder="" id="name-3">
                </form>

              </div>
              <div class="div-block-78-copy">
                <div (click) = "modQuant(i,1)" class="button-13-copy">
                  <div class="text-block-39-copy">+</div>
                </div>
                <div (click) = "modQuant(i,-1)"class="button-13-copy">
                  <div class="text-block-39-copy">-</div>
                </div>
              </div>
            </div>
            <a *ngIf = "!i.added" (click) = this.addToCart(i) class="shoplistcartadd w-button">Add to cart</a>
            <a *ngIf = "i.added" (click) = this.removeFromCart(i) class="shoplistcartadd w-button">Remove from cart</a>

          </div>
        </div>

      </div>
      <div *ngIf = "this.auth.viewitem" class="productview">
        <div class="pvback" style = "padding-right:20px;">
          <div (click) = "this.auth.viewitem = null" class = "backarrow">
          <mat-icon >
              arrow_back
          </mat-icon>
          </div>
        </div>
        <div class="mainpv">
          <div class="pvcard">
            <div class="div-block-113">
              <img style = "border-radius:20px;width:40vh;min-height: 40vh;
  max-height: 40vh;max-width:40vh;"src="{{this.auth.viewitem.image || 'https://uploads-ssl.webflow.com/5db1c76aadcfe25e881680fa/5db86dc421496616bf357c25_placeholder.svg'}}" alt="" class="pvimg">
            </div>
            <div class="pvdetail">
              <div class="pvdetailtitle">{{this.auth.viewitem.name}}</div>
              <div class="text-block-54">{{getPrice(this.auth.viewitem)}}</div>
              <div class="pvcheckoutrow">
                <div class="text-block-55">QTY:</div>
                <div class="pvquanity">
                  <div class="pvquantityformblock w-form">
                    <form id="email-form" name="email-form" data-name="Email Form" class="pvquantityform">
                      <input [(ngModel)]="this.auth.viewitem.quantity" type="text" class="pvquantityinput w-input" maxlength="256" name="name-3" data-name="Name 3" placeholder="" id="name-3">
                    </form>

                  </div>
                  <div class="div-block-78-copy">
                    <div (click) = "modQuant(this.auth.viewitem,1)" class="button-13-copy">
                      <div class="text-block-39-copy">+</div>
                    </div>
                    <div (click) = "modQuant(this.auth.viewitem,-1)"class="button-13-copy">
                      <div class="text-block-39-copy">-</div>
                    </div>
                  </div>
                </div>
                <a *ngIf = "!this.auth.viewitem.added" (click) = this.addToCart(this.auth.viewitem) class="pvcheckout w-button">Add to cart</a>
                <a *ngIf = "this.auth.viewitem.added" (click) = this.removeFromCart(this.auth.viewitem) class="pvcheckout w-button">Remove from cart</a>
              </div>
              <div class="pvfieldlist">
                <div class="text-block-58">Categories: </div>
                <div (click) = "this.goToCategory('cat')" class="pvtag">{{this.auth.viewitem.category}}</div>
                <div (click) = "this.goToCategory('sub')" class="pvtag">{{this.auth.viewitem.subcategory}}</div>

              </div>
            </div>
          </div>
          <div class="descselect">
            <div class="text-block-56">DESCRIPTION</div>
          </div>
          <div class="description">
            <div class="gendesc">
              <div class="text-block-57">General Description:</div>
              <div>{{this.auth.viewitem.description}}</div>
            </div>
          </div>
        </div>
      </div>
    </div>

  </div>
</div>
