<div>
  {{this.data.setting}}
</div>
<input #keyboard (input)="onInputChange($event)" class="keyboard_input" [ngModel]="value" placeholder="{{placeholder}}" />
<div id="keyboard" class="simple-keyboard"></div>
<div class="control">
  <button class="close_button" ion-button (click) = "close()">
    <ion-icon  name="close-circle"></ion-icon>
  </button>
  <!-- <button [disabled]="!selectedSetting.touched" class="save_button"> -->
  <button [disabled]="this.value == this.data.value" class="save_button">

    <!-- <i class="fa fa-save" (click)="saveSetting()"></i> -->
    <ion-icon  name="save" (click)="save()"></ion-icon>

  </button>
</div>
