$title-bar: 5vh;
$loc-bar: 5vh;

// .no-scroll .scroll-content{
//     overflow: hidden;
// }

.ios,
.md,
.wp{

  page-cloud-login {
    // background: #EFEEEE;

    ion-navbar{

      font-size:4.5vh;

      padding: 0px;
      margin: 0px;
      height:9vh;
      min-height:0px;
      font-weight: bold; display: flex; align-items: center; color: white;
      background-image: radial-gradient(#0199FE, #005C98) !important;
      justify-content: center;
      text-align:center;

      .toolbar-background{
        padding: 0px;
        margin: 0px;
        height:9vh;
        // font-size:$title-bar / 2;
        min-height:0px;
        font-weight: bold; display: flex; align-items: center; color: white;
        background-image: radial-gradient(#0199FE, #005C98) !important;
        justify-content: center;
        text-align:center;
      }
    }

    .num{
      // height:25vh;
      color: grey;
      padding-top: 2.5vh;
      // position:absolute;
      // top: 10vh;
      // bottom: 2.5vh;
      // display: flex;
      // justify-content: center;
      font-size: 2.5vh;
      // margin: 5%;
      // height: 5.5vh;
      width:100vw;

    }

  }

}
