<!-- <ion-header>
  <ion-toolbar>
    <ion-buttons left>
      <ion-button left (click)='back()'>Back</ion-button>
    </ion-buttons>
    <ion-title>hvac</ion-title>
  </ion-toolbar>
</ion-header> -->
<ion-content *ngIf="this.hvac" [ngClass]="{modalopen:this.modalopen,modalclosed:!this.modalopen}">

  <!-- <div>
  {{this.hvac.capname}}
  </div> -->
  <ion-card class = "detail">
    <button id='display' class="button-left" color="primary" left [ngClass]="{ 'active' : ( 0 == getDisplayType() ) }" (click)="selectView(0)">
      <i class='material-icons'>
          perm_device_information
      </i>
    </button>
    <button id='schedules' class="button-left" color="primary" left [ngClass]="{ 'active' : ( 1 == getDisplayType() ) }" (click)="selectView(1)">
      <i class='material-icons'>
          schedule
      </i>
    </button>
    <button id='settings' class="button-left" color="primary" left [ngClass]="{ 'active' : ( 2 == getDisplayType() ) }" (click)="selectView(2)">
      <i class='material-icons'>
          settings
      </i>
    </button>
    <button id="modes" class="button-left" [ngClass]="{ 'active' : ( 3 == getDisplayType() ) }" (click)="selectView(3)">
      <i class='material-icons'>
          grid_on
      </i>
    </button>
    <button id="history" class="button-left" [ngClass]="{ 'active' : ( 4 == getDisplayType() ) }" (click)="selectView(4)">
      <i class='material-icons'>
          history
      </i>
    </button>
    <ion-title style = "color:black">
      {{this.hvac.name | uppercase}}
      <div style = "font-size: 2vh;">
        {{this.auth.formatName(this.hvac.type)}} - {{this.auth.formatName(this.hvac.subtype)}}
        </div>
    </ion-title>

    <div class="grid" [ngSwitch]="getDisplayType()">
    <ng-container *ngSwitchCase="0">
      <div class = "panel">
        <div class = "lgtitle">

          <div>
            STATE
          </div>
        </div>
        <div *ngIf = "this.hvac.status" class = "lgstate" [ngStyle]="{'color':getStateClass()}">
          {{this.hvac.status.state}}

        </div>
        <div *ngIf = "!this.hvac.status" class = "lgstate" >
          DISABLED

        </div>
      </div>
      <div class = "panel">

        <div class = "smtitle">

          <div>
            TIME IN CYCLE

          </div>
        </div>

        <div *ngIf = "this.hvac.status" class = "smstate">
          {{this.hvac.status.dur}}

        </div>
        <div *ngIf = "!this.hvac.status" class = "smstate">
          --

        </div>
      </div>
      <div class = "panel" >

        <div class = "smtitle">

          <div>
            SUBSTATE

          </div>
        </div>

        <div class = "smstate">
          <div *ngIf = "this.hvac.status && this.hvac.status.substate" style = "font-size: 2.5vh;" >
            {{this.hvac.status.substate}}

          </div>
          <div *ngIf = "!this.hvac.status || !this.hvac.status.substate" style = "font-size: 2.5vh;" >
            --

          </div>

        </div>
      </div>
      <div class = "panel">

        <div class = "smtitle">

          <div>
            FAN

          </div>
        </div>

        <div class = "smstate">
          <div *ngIf = "this.hvac.status" style = "font-size: 2.5vh;" >
            {{this.hvac.status.fan}}

          </div>
          <div *ngIf = "!this.hvac.status" style = "font-size: 2.5vh;" >
            --

          </div>

        </div>
      </div>
      <div class = "panel">

        <div class = "smtitle">

          <div>
            ROOM AIR TEMP

          </div>
        </div>

        <div class = "lgstate">
          <div *ngIf = "this.hvac.status" [style.color]="getStateColor(this.hvac)" class = "num">
            {{this.hvac.status.sockets.space}}
          </div>
          <div *ngIf = "!this.hvac.status" [style.color]="getStateColor(this.hvac)" class = "num">
            --
            </div>
          <!-- {{this.hvac.status.sockets.space}} -->

        </div>
      </div>
      <div class = "panel">

        <div class = "smtitle">

          <div>
            SUPPLY TEMP

          </div>
        </div>

        <div class = "smstate">
          <div *ngIf = "this.hvac.status && this.hvac.status.sockets.supply">
            {{this.hvac.status.sockets.supply}}

          </div>
          <div *ngIf = "!this.hvac.status || !this.hvac.status.sockets.supply">
            --
          </div>

        </div>
      </div>
      <div class = "panel">

        <div class = "smtitle">

          <div>
            CO2 LEVEL (PPM)

          </div>
        </div>

        <div class = "smstate">
          <div *ngIf = "this.hvac.status && this.hvac.status.sockets.co2">
            {{this.hvac.status.sockets.co2}}

          </div>
          <div *ngIf = "!this.hvac.status || !this.hvac.status.sockets.co2">
            --
          </div>

        </div>
      </div>
      <div class = "panel">

        <div class = "smtitle">

          <div>
            HUMIDITY

          </div>
        </div>

        <div class = "smstate">
          <div *ngIf = "this.hvac.status && this.hvac.status.sockets.humidity">
            {{this.hvac.status.sockets.humidity}}

          </div>
          <div *ngIf = "!this.hvac.status || !this.hvac.status.sockets.humidity">
            --
          </div>

        </div>
      </div>
      <div class = "panel">

        <div class = "smtitle">

          <div>
            RETURN AIR TEMP

          </div>
        </div>

        <div class = "smstate" >
          <div *ngIf = "this.hvac.status && this.hvac.status.sockets.return">
            {{this.hvac.status.sockets.return}}
          </div>
          <div *ngIf = "!this.hvac.status || !this.hvac.status.sockets.return">
            --
          </div>
        </div>
      </div>
      <div class = "panel">

        <div class = "smtitle">

          <div>
            MIXED AIR TEMP

          </div>
        </div>

        <div class = "smstate" >
          <div *ngIf = "this.hvac.status && this.hvac.status.sockets.suction">
            {{this.hvac.status.sockets.suction}}
          </div>
          <div *ngIf = "!this.hvac.status || !this.hvac.status.sockets.suction">
            --
          </div>

        </div>
      </div>
      <div class = "setpoints" *ngIf = "this.hvac.status && (this.hvac.status.sp || this.hvac.type == 'vpat4')">
        <div style = "align-items:center;display:flex;justify-content:space-between;height: 7vh;">
          <div class = "lgtitle">

            <div>
              SETPOINTS

            </div>
          </div>

          <!-- <button style = "height:4vh;" ion-button (click) = "spedit()" *ngIf = "!this.editbuttons">
            <ion-icon  name="create"></ion-icon>
          </button>
          <button style = "height:4vh;" ion-button (click) = "this.addclick()" *ngIf = "this.editbuttons" [ngClass]="{addfalse:this.addfalse,add:!this.addfalse}">
            <ion-icon  name="add-circle"></ion-icon>
          </button>
          <button style = "height:4vh;" ion-button (click) = "this.subtractclick()" *ngIf = "this.editbuttons" [ngClass]="{subfalse:this.subfalse,sub:!this.subfalse}">
            <ion-icon  name="remove-circle"></ion-icon>
          </button>
          <button style = "height:4vh;" ion-button (click) = "this.quitsp()" *ngIf = "this.editbuttons">
            <ion-icon  name="close"></ion-icon>
          </button>
          <button style = "height:4vh;" ion-button (click) = "this.savesp()" *ngIf = "this.editbuttons">
            <ion-icon  name="checkmark"></ion-icon>
          </button> -->
        </div>
        <div style = "height:6vh;display:flex;justify-content:flex-end;font-size:2vh;font-weight:bold;color:orange;" *ngIf = "this.hvac.status.ov">
          <div style = "margin-right:5%">
          OVERRIDE ACTIVE
          </div>
          <button style = "height:2.25vh; width:2.25vh;" ion-button (click) = "quitov()">
            <ion-icon  name="close"></ion-icon>
          </button>
        </div>
        <!-- <div style = "height:6vh;display:flex;justify-content:flex-end;font-size:2vh;font-weight:bold;color:orange;" *ngIf = "!this.hvac.status.ov && this.hvac.status.sched.mode_name != 'HIGH' && this.hvac.type != 'vpat4'"> -->
        <div style = "height:6vh;display:flex;justify-content:flex-end;font-size:2vh;font-weight:bold;color:orange;" *ngIf = "!this.hvac.status.ov && canOverride()">

          <button style = "    background-color: lightblue;" ion-button (click) = "startov()">
            <!-- <ion-icon  name="close"></ion-icon> -->
            OVERRIDE
          </button>
        </div>

        <!-- <div style = "height:7vh;font-size: 2.25vh;display:flex;justify-content:space-around;">
          <div style = "width:40vw;" *ngIf = "!this.hvac.status.cooler" >
            <div style = "height:3vh;display:flex;align-items:center;justify-content:flex-end">
              <button style = "height:2.25vh; width:2.25vh;" ion-button (click) = "this.spoverride('HEATING')">
                <ion-icon  name="settings"></ion-icon>
              </button>
            </div>
            <div style = "height:3vh">
              <div *ngIf = "!this.editable">
                HEATING: {{this.newhsp}}
              </div>
              <div *ngIf = "this.editable">
                HEATING: {{this.hvac.status.sp.h}}
              </div>
            </div>
          </div>
          <div style = "width:40vw;">
            <div *ngIf = "!this.hvac.status.cooler" style = "height:3vh;display:flex;align-items:center;justify-content:flex-end">
              <button style = "height:2.25vh; width:2.25vh;" ion-button (click) = "this.spoverride('COOLING')">
                <ion-icon  name="settings"></ion-icon>
              </button>
            </div>
            <div style = "height:3vh">
              <div *ngIf = "!this.editable">
                COOLING: {{this.newcsp}}
              </div>
              <div *ngIf = "this.editable">
                COOLING: {{this.hvac.status.sp.c}}
              </div>
            </div>
          </div>
        </div> -->
        <div *ngIf = "!this.hvac.status.cooler" style = "width:80vw;height:7vh;font-size: 2.25vh;display:flex;justify-content:space-around;align-items:center">
          <div *ngIf = "this.hvac.type == 'hvac'" style = "height:3vh;justify-content:flex-start">
            <!-- <div *ngIf = "!this.editable">
              HEATING: {{this.newhsp}}
            </div> -->
            <!-- <div *ngIf = "this.editable"> -->
              HEATING: {{this.hvac.status.sp.h}}
            <!-- </div> -->
          </div>
          <div *ngIf = "this.hvac.type == 'vpat4'" style = "height:3vh;justify-content:flex-start">
            <!-- <div *ngIf = "!this.editable">
              HEATING: {{this.newhsp}}
            </div> -->
            <!-- <div *ngIf = "this.editable"> -->
              HEATING: {{getHSPVpat4()}}
            <!-- </div> -->
          </div>
          <!-- <div *ngIf = "this.hvac.type == 'VPAT4'"style = "height:3vh;justify-content:flex-start">

              HEATING: {{this.hvac.status.sp.h}}
          </div> -->

            <div style = "height:3vh;display:flex;align-items:center;justify-content:flex-end">
              <!-- <div *ngIf = "this.auth.user && this.auth.user.role != 'read'"> -->

              <!-- <button *ngIf = "this.hvac.retrievedSettings" style = "height:2.25vh; width:2.25vh;" class = 'setpoint_button'ion-button (click) = "this.spoverride('HEATING')">
                <ion-icon  name="settings"></ion-icon>
              </button> -->
              <button *ngIf = "this.hvac.type == 'hvac'" style = "height:2.25vh; width:2.25vh;" class = 'setpoint_button'ion-button (click) = "this.spoverride('HEATING')">
                <ion-icon  name="settings"></ion-icon>
              </button>
            <!-- </div> -->
          </div>
        </div>

        <div style = "width:80vw;height:7vh;font-size: 2.25vh;display:flex;justify-content:space-around;align-items:center">
          <div *ngIf = "this.hvac.type == 'hvac'" style = "height:3vh;justify-content:flex-start">
            <!-- <div *ngIf = "!this.editable">
              HEATING: {{this.newhsp}}
            </div> -->
            <!-- <div *ngIf = "this.editable"> -->
              COOLING: {{this.hvac.status.sp.c}}
            <!-- </div> -->
          </div>
          <div *ngIf = "this.hvac.type == 'vpat4'" style = "height:3vh;justify-content:flex-start">
            <!-- <div *ngIf = "!this.editable">
              HEATING: {{this.newhsp}}
            </div> -->
            <!-- <div *ngIf = "this.editable"> -->
              COOLING: {{getCSPVpat4()}}
            <!-- </div> -->
          </div>
          <div style = "height:3vh;display:flex;align-items:center;justify-content:flex-end">
            <!-- <div *ngIf = "this.auth.user && this.auth.user.role != 'read'"> -->

            <!-- <button *ngIf = "this.hvac.retrievedSettings" style = "height:2.25vh; width:2.25vh;" class="setpoint_button" ion-button (click) = "this.spoverride('COOLING')">
              <ion-icon  name="settings"></ion-icon>
            </button> -->
            <button *ngIf = "this.hvac.type == 'hvac'" style = "height:2.25vh; width:2.25vh;" class="setpoint_button" ion-button (click) = "this.spoverride('COOLING')">
              <ion-icon  name="settings"></ion-icon>
            </button>
            <!-- </div> -->
          </div>

        </div>

      </div>

      <div class = "panel" style = "width:80vw;">
        <div style = "align-items:center;display:flex;justify-content:space-between;height: 8vh;">
          <div class = "lgtitle">

            <div>
              MODE

            </div>
          </div>
          <!-- <div *ngIf = "this.auth.user && this.auth.user.role == 'modes'">

          <button *ngIf = "!this.hvac.status.cooler" class="setpoint_button" style = "height:4vh;" ion-button (click) = "openModal('test')">
            <ion-icon  name="settings"></ion-icon>
          </button>
          </div> -->
        </div>

        <div class = "lgstate" style = "display:flex;justify-content:space-between;align-items:center">
          <div *ngIf = "this.hvac.status && this.hvac.status.ov">
            HIGH
          </div>
          <div *ngIf = "this.hvac.status && !this.hvac.status.ov">
            {{this.hvac.status.sched.mode_name}}

          </div>
          <div *ngIf = "!this.hvac.status">
            --
            </div>


        </div>
      </div>
    </ng-container>

    <ng-container *ngSwitchCase="1">
      <div class="schedules_container">
        <app-controller-schedules [controller]="hvac"></app-controller-schedules>
      </div>
    </ng-container>

    <div  *ngSwitchCase="2">
      <app-controller-settings [controller]="hvac"></app-controller-settings>

      <!-- <ng-container *ngIf="!selectedSetting">
        <div class="settings_container">
              <ng-container *ngFor="let item of settings; let idx = index;">
                <app-controller-settings-item #settingsItem [parent]="this" [setting]="item" [index]="idx"></app-controller-settings-item>
              </ng-container>
        </div>
      </ng-container> -->
      <!-- <div class="settings_container" *ngIf="selectedSetting">
          <div class="control">
            <button class="close_button" ion-button (click) = "closeSelected()">
              <i  name="close-circle"></i>
            </button>
            <button [disabled]="!selectedSetting.touched" class="save_button">
              <i  name="save" (click)="saveSetting()"></i>

            </button>
          </div>
          <div class = "settings-item">
            <app-controller-settings-item [parent]="this" [setting]="selectedSetting" [index]="selectedIndex"></app-controller-settings-item>
          </div>
      </div> -->

    </div>
    <ng-container *ngSwitchCase="3">
      <app-controller-modes [controller]="hvac"></app-controller-modes>

    </ng-container>

    <div style = "width:100vw"*ngSwitchCase="4">
      <app-history [controller]="hvac"></app-history>
      <!-- <canvas style = "height: 100%; width: 100%" #graphCanvas></canvas> -->
    </div>
  </div>


  </ion-card>
</ion-content>
