<div class= 'myclass' [ngStyle] = "{'right':this.side == 'controller' ? '2vw' : 'auto' }">
  <!-- <ion-toolbar text-center> -->
    <ion-buttons slot="end" style = 'margin:1.5vh;'>
      <!-- <ion-button class="addschedule button-right" ion-button right (click) = "addSchedule()">
        <ion-icon name="add-circle" ></ion-icon>
      </ion-button> -->
      <ion-button class="dismiss button-right" ion-button right (click) = "close()">
        <ion-icon name="close-circle" ></ion-icon>
      </ion-button>
    </ion-buttons>
  <!-- </ion-toolbar> -->


  <div id="scheduleKeyboard" class="simple-keyboard"></div>

</div>
