// .name-modal-css .modal-wrapper {
//     height: 65vh;
//     width: 95vh;
//     background-color: transparent;
//     border-radius: 2vh;
//     display: block;
// }
//
// ion-header{
//   width:25vw;
//   height:3vh;
// }
//
// .simple-keyboard {
//   width:50vw;
//
// }
//
// .item-name {
//   // max-width: 20vh;
//   max-width: fit-content;
//   border-color: blue;
//   border-style: solid;
//   border-size: .1vh;
//   margin-left: auto;
//   margin-right: auto;
// }


// :host{
//   // overflow: auto;
//   position: absolute;
//   top:10vh;
//   left:10vw;
//   z-index:1000
// }

.myclass{
  height: 50vh;
    width: 75vw;
    position: absolute;
    color: black;
    z-index: 1000;
    background-color: darkgrey;
    
}
// ion-header{
//   z-index: 1000;
//
// }
// ion-content{
//   height: 50vh;
//     width: 75vw;
//     position: absolute;
//     color: black;
//     z-index: 1000;
// }
