<!-- <mat-dialog-content> -->
<mat-nav-list style = "overflow: auto;height:70vh;">
  <button class="listitem"[class.disabled]="isOnMap(i)" [disabled]="isOnMap(i)" *ngFor = "let i of this.data.list"mat-list-item (click)="add(i)"> {{i.name | uppercase}} </button>
  <!-- <button mat-list-item (click)="undo()"> Undo </button> -->
</mat-nav-list>
<!-- </mat-dialog-content> -->


<!-- <div style = "display:flex">
<div style = "font-size:3.5vh">
  {{this.name}}
</div>
<div class="control">
  <button class="close_button" ion-button (click) = "close()">
    <ion-icon  name="close-circle"></ion-icon>
  </button>
  <button [disabled]="this.value == this.ogvalue || this.value.length == 0" class="save_button">

    <ion-icon  name="save" (click)="save()"></ion-icon>

  </button>
</div>
</div>

<input style = "display:flex;justify-content:center;font-size:5vh;"#entry (input)="onInputChange($event)" class="input" value={{this.value}}  />
<div id='keyboard' class="simple-keyboard"></div> -->
