// http://ionicframework.com/docs/theming/


// App Global Sass
// --------------------------------------------------
// Put style rules here that you want to apply globally. These
// styles are for the entire app and not just one component.
// Additionally, this file can be also used as an entry point
// to import other Sass files to be included in the output CSS.
//
// Shared Sass variables, which can be used to adjust Ionic's
// default Sass variables, belong in "theme/variables.scss".
//
// To declare rules for a specific mode, create a child rule
// for the .md, .ios, or .wp mode classes. The mode class is
// automatically applied to the <body> element in the app.

// modal-wrapper {
//   position: absolute;
//   width: 100%;
//   height: 100%;
// }
//
// .modal-wrapper {
//   width: 100%;
//   height: 100%;
// }


:root {
    --ion-color-primary: #4c6df9;
    --ion-color-secondary: #5b5ef4;
    --ion-color-danger: #f53d3d;
    --ion-color-light: #75C4FD;
    --ion-color-dark: #0039a2;
}

ion-title {
  position: relative;
  // top: 0;
  // left: 0;
  // padding: 0 90px 1px;
  width: 60vh;
  height: 100%;
  text-align: center;
  margin: 0 auto 0 auto;
}

.modal-css .modal-wrapper {
   height: 80vh;
   width: 100vh;
   // top: 80%;
   // position: absolute;
   background-color: transparent;
   border-radius: 2vh;
   display: block;
}

.settings-modal-css .modal-wrapper {
   height: 40vh;
   width: 40vw;
   // top: 80%;
   // position: absolute;
   background-color: transparent;
   border-radius: 2vh;
   display: block;
}

.schedules-modal-css .modal-wrapper {
   height: 80vh;
   width: 100vh;
   // top: 80%;
   // position: absolute;
   background-color: transparent;
   border-radius: 2vh;
   display: block;
}

.name-modal-css .modal-wrapper {
    height: 65vh;
    width: 95vh;
    background-color: transparent;
    border-radius: 2vh;
    display: block;
}

.button-right {
  float:right;
  margin-right: 2vh;
}

.button-left {
  float:left;
  margin-left: 2vh;
}

$home-head: 25vh;
$home-content: 75vh;
$title-bar: $home-head / 5;
$title-below: $home-head * 2 / 3;
$segments: $title-below / 3;
$filters: $segments;
$search: $segments;
$searchicon: $search * .7;
$searchiconmargin: $search * .3 / 2;

// ion-icon {
//     &[class*="appname-"] {
//         // Instead of using the font-based icons
//         // We're applying SVG masks
//         mask-size: contain;
//         mask-position: 50% 50%;
//         mask-repeat: no-repeat;
//         background: currentColor;
//         width: 1em;
//         height: 1em;
//     }
//     // custom icons
//     &[class*="appname-offline"] {
//         mask-image: url('/assets/imgs/icons8-offline-100.svg');
//     }
//
//
// }


// modal-wrapper {
//   position: absolute;
//   width: 100%;
//   height: 100%;
// }

// .modal-wrapper {
//   width: 100%;
//   height: 100%;
// }

@media not all and (min-height: 600px) and (min-width: 768px) {
  ion-modal ion-backdrop {
    visibility: hidden;
  }
}

// @media only screen and (min-height: 0px) and (min-width: 0px) {
//   .modal-wrapper {
//     position: absolute;
//     top: 0;
//     left: 0;
//     width: 100%;
//     height: 100%;
//   }
// }


.text-primary {
  // color: color($colors, primary);
  color: var(--ion-color-primary);
}

.text-secondary {
  // color: color($colors, secondary);
  color: var(--ion-color-secondary);
}

.text-green {
  color: #68C91F;
}

.text-yellow {
  color: #FDD835;
}

.text-white {
  color: #fff;
}


// badge style
ion-badge {
  &.square {
    border-radius: 0;
  }
}

// card style
.card {
  background: #FFF;
  border-radius: 1rem;
  box-shadow: 0 0 1px rgba(86, 61, 124, 0.2), 0 2px 4px rgba(86, 61, 124, 0.15);
}

.material-icons {
  font-size: 3.5vh;
  margin-left: 1vh;
  margin-right: 1vh;
  font-weight: bold;
}

ion-icon {
  font-size: 3.5vh;
  font-weight: bold;
}
// style for auth pages
.auth-page {
//   background-color: #fff;
//   &::after {
//     content: "";
//     background: url("/assets/img/bg.jpg") no-repeat;
//
//     background-size: cover;
//     top: 0;
//     left: 0;
//     bottom: 0;
//     right: 0;
//     position: absolute;
//     z-index: 0;
//   }

  .scroll-content {
    display: flex;
    align-items: center;
    justify-content: center;
    //background: rgba(50, 10, 92, .4);

    .login-content {
      width: 86%;

      .logo {
        width: 166px;
        height: 80px;
        margin: 20px auto 0;
        // border-radius: 10%;
        // background: url("../assets/img/ionic3-ico.png") no-repeat;
        background: url("../assets/img/uesglogo1.jpeg") no-repeat;

        background-size: 100%;
      }

      .list-form {
        padding: 0;
        margin-bottom: 0;

        ion-item {
          background: none;
          padding: 0;

          &:first-child {
            border-top: none;
          }

          &:after {
            display: none;
          }

          ion-label {
            font-size: 1em;
            // color: color($colors, primary);
            color: var(--ion-color-secondary);

          }

          input {
            // color: color($colors, primary);
            color: var(--ion-color-secondary);

          }
        }
      }
    }
  }
}
// buttons configs
.btn-facebook {
  background-color: #3B5999;
}

.btn-twitter {
  background-color: #00ACEE;
}

.btn-gplus {
  background-color: #E04006
}


// Animate CSS
.animated {
  animation-duration: 1s;
  animation-fill-mode: both;
}

.animated.infinite {
  animation-iteration-count: infinite;
}

.animated.hinge {
  animation-duration: 2s;
}

.animated.flipOutX,
.animated.flipOutY,
.animated.bounceIn,
.animated.bounceOut {
  animation-duration: .75s;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

.fadeIn {
  animation-name: fadeIn;
}

@keyframes fadeInDown {
  from {
    opacity: 0;
    transform: translate3d(0, -100%, 0);
  }

  to {
    opacity: 1;
    transform: none;
  }
}

.fadeInDown {
  animation-name: fadeInDown;
}


  ion-header {
    ion-navbar{
      ion-title{
        flex:1;
        color: white;
        width: 50vh;
        margin: 0 auto 0 auto;
      }

      div.ion-title{
        flex:1;
        color: white;
        width: 50vh;
        margin: 0 auto 0 auto;
      }

      .pageButton:active {
        border-style: solid;
        border-width: 2px;
        border-color:green;
        background-color: green;
        color:green;
      }

      .pageButton .active {
        border-style: solid;
        border-width: 2px;
        border-color:green;
        background-color: green;
        color:green;
      }

      div.title{
        flex:1;
        color: white;
        width: 50vh;
        margin: 0 auto 0 auto;
      }

      .tab-container {
        flex:1;
      }
      .toolbar-title{
        flex:1;
        color: white;
        width: 50vh;
      }
      .signout-container {
        flex:1;
      }
      // .toolbar-title {
      //     // margin-top: 18px; // Margin top from the StatusBar
      //     // margin-right: 22px; // Maybe you don't need this, depending how your layout looks like
      // }

      // Here is how you can center your title
      // &.toolbar {
      //     padding-left: 6vh;
      //     padding-top: 10vh;
      //     padding-bottom: 4vh;
      // }
      .bar-button{
        color:white;
      }

      ion-buttons{
        display:flex;
        align-items:center;
        .signout {
          font-size: 2vh;
        }
        .back {
          font-size: 4.5vh;
          // width:10vh;
          // height:10vh;
        }
        color: white;

      }
      font-size:3vh;

      padding: 0px;
      margin: 0px;
      height:9vh;
      min-height:0px;
      font-weight: bold; display: flex; align-items: center;
      color: white;
      background-image: radial-gradient(#0199FE, #005C98) !important;
      justify-content: center;
      text-align:center;
      width:100vw;

      .toolbar-content{
        display:flex;
        align-items: center;
        position: absolute;
        // flex-direction: row-reverse;
        z-index: 1;
        width:100%;
      }

      .toolbar-background{
        // z-index: 1;

        padding: 0px;
        margin: 0px;
        height:9vh;
        width:100vw;

        // font-size:$title-bar / 2;
        min-height:0px;
        font-weight: bold; display: flex; align-items: center; color: white;
        background-image: radial-gradient(#0199FE, #005C98) !important;
        justify-content: center;
        text-align:center;
      }


    }


    ion-toolbar{
      padding: 0px;
      padding-left: 0px;
      padding-right: 0px;
      min-height: 0px;

      .header {

        // height: $title-below;

        .segments{
          height: 9vh;
          // margin: 10%;

          ion-segment {
            height: 9vh;
            ion-segment-button{

              font-size:2vh;
              // height: 9vh;
              line-height: auto;
            }
            .segment{
              height: $segments;
              line-height: $segments;
            }

          }

        }

        .hvacfilters{

          height: $filters;

          .bbtn {
            border: solid 2px #787878;

            border-radius: 10%;
            background-color: lightblue;
            width: 5vh ;
            height: 5vh ;
            // border: 1.5px solid lightgrey
          }
          .bbtn.selected {
            border: solid 2.5px lightblue;
          }
          .orangebtn {
            border: solid 1px #787878;

            border-radius: 10%;

            background-color: orange;
            width: 5vh ;
            height: 5vh ;
            // border: 1.5px solid lightgrey
          }
          .orangebtn.selected {
            border: solid 2.5px lightblue
          }
          .gbtn {
            border: solid 1px #787878;

            border-radius: 10%;
            background-color: lightgreen;
            width: 5vh ;
            height: 5vh ;
            // border: 1.5px solid lightgrey
          }
          .gbtn.selected {
            border: solid 2.5px lightblue;
          }
          .ybtn {
            border: solid 1px #787878;

            border-radius: 10%;

            background-color: #FEFE83;
            width: 5vh ;
            height: 5vh ;
            // border: 1.5px solid lightgrey
          }
          .ybtn.selected {
            border: solid 2.5px lightblue;
          }

          .rbtn {
            border: solid 1px #787878;

            border-radius: 10%;

            background-color: #F45151;
            width: 5vh ;
            height: 5vh ;
            // border: 1.5px solid lightgrey
          }
          .rbtn.selected {
            border: solid 2.5px lightblue;
          }

          .obtn {
            border: solid 1px #787878;
            display:flex;
            justify-content: center;
            ion-icon {
              font-size: 4vh;
            }


            border-radius: 10%;
            background-color: lightgrey;
            width: 5vh ;
            height: 5vh ;
            // border: 1.5px solid lightgrey
          }
          .obtn.selected {
            border: solid 2.5px lightblue;
          }

          .abtn {
            border: solid 1px #787878;

            border-radius: 10%;

            background-color: white;
            width: 5vh ;
            height: 5vh ;
            // border: 1.5px solid lightgrey;
            color:black;
            font-size: 12px;
            display:flex;
            justify-content: center;
            align-items: center;
            z-index: 1;
          }
          .abtn.selected {
            border: solid 2.5px lightblue;
          }

        }

        .freezerfilters {

          height: $filters;

          .bbtn {
            border: solid 2px #787878;

            border-radius: 10%;
            background-color: blue;
            width: 5vh ;
            height: 5vh ;
            // border: 1.5px solid lightgrey
          }
          .bbtn.selected {
            border: solid 2.5px lightblue;
          }
          .orangebtn {
            border: solid 2px #787878;

            border-radius: 10%;

            background-color: orange;
            width: 5vh ;
            height: 5vh ;
            // border: 1.5px solid lightgrey
          }
          .orange.selected {
            border: solid 2.5px lightblue          }

          .obtn {
            border: solid 2px #787878;
            display:flex;
            justify-content: center;
            ion-icon {
              font-size: 4vh;
            }


            border-radius: 10%;
            background-color: lightgrey;
            width: 5vh ;
            height: 5vh ;
            // border: 1.5px solid lightgrey
          }
          .obtn.selected {
            border: solid 2.5px lightblue;
          }
          .abtn {
            border: solid 2px #787878;

            border-radius: 10%;

            background-color: white;
            width: 5vh ;
            height: 5vh ;
            // border: 1.5px solid lightgrey;
            color:black;
            font-size: 12px;
            display:flex;
            justify-content: center;
            align-items: center;
            z-index: 1;
          }
          .abtn.selected {
            border: solid 2.5px lightblue;
          }

        }

        // .search{
        //
        //   height: $search;
        //
        //   ion-searchbar{
        //     display:flex;
        //     justify-content: flex-start;
        //     align-items: center;
        //     height: $search;
        //
        //     .searchbar-search-icon{
        //       position: absolute;
        //       // left:2.475vh;
        //       // top: 2.475vh;
        //       left:0vh;
        //       top: 0vh;
        //       margin:$searchiconmargin;
        //
        //       background-size: $searchicon;;
        //       width:$searchicon;
        //       height:$searchicon
        //     }
        //     .searchbar-clear-icon{
        //       right:$searchiconmargin;
        //       top: $searchiconmargin;
        //
        //       background-size: $searchicon;;
        //       width:$searchicon;
        //       height:$searchicon
        //
        //     }
        //     .searchbar-input-container{
        //       line-height: $search;
        //       height:$search
        //     }
        //     .searchbar-input{
        //       padding:6px $search;
        //       font-size: $searchicon;
        //       line-height: $search;
        //       height:$search
        //     }
        //
        //   }
        //
        // }




      }
      .lightheader {

        // height: $title-below;

        .segments{
          height: 9vh;
          // margin: 10%;

          ion-segment {
            height: 9vh;
            ion-segment-button{

              font-size:2vh;
              // height: 9vh;
              line-height: auto;
            }
            .segment{
              height: $segments;
              line-height: $segments;
            }

          }

        }


        .search{

          height: $filters + $search;
          .test {
            height: 15%;
          }

          ion-searchbar{

            display:flex;
            justify-content: flex-start;
            align-items: center;
            height: $search;

            .searchbar-search-icon{
              position: absolute;
              // left:2.475vh;
              // top: 2.475vh;
              left:0vh;
              top: 0vh;
              margin:$searchiconmargin;

              background-size: $searchicon;;
              width:$searchicon;
              height:$searchicon
            }
            .searchbar-clear-icon{
              right:$searchiconmargin;
              top: $searchiconmargin;

              background-size: $searchicon;;
              width:$searchicon;
              height:$searchicon

            }
            .searchbar-input-container{
              line-height: $search;
              height:$search
            }
            .searchbar-input{
              padding:6px $search;
              font-size: $searchicon;
              line-height: $search;
              height:$search
            }

          }
        }
      }
    }


  }
