.slider {
  z-index: 1;
  height: 70vh;
  margin-top: 0px;
  padding: 50px 50px 0px;
  background-image: url('../images/90703414_112607237044589_180592439810064384_o.jpg');
  background-size: 100% 100%;

}

.slider1 {
  z-index: 1;
  height: 70vh;
  margin-top: 0px;
  padding: 50px 50px 0px;
  background-image: url('../images/kumiko-shimizu-lNxMcE8mvIM-unsplash.jpg');
  background-size: 100% 100%;

}



.slide1t1 {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  overflow: auto;
  height: 0px;
  margin-left: -500px;
  padding-top: 0px;
  padding-right: 0vw;
  padding-left: 4vw;

  font-family: Montserrat, sans-serif;
  color: #b2deff;
  font-size: 48px;
  line-height: 7vh;
  font-weight: 800;
  opacity:0;
}

.slide1t1-done {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  overflow: auto;
  height: 7vh;
  margin-left: 0px;
  padding-top: 0px;
  padding-right: 0vw;
  padding-left: 4vw;

  /* -webkit-transform: translate(-1500px, 0px);
  -ms-transform: translate(-1500px, 0px);
  transform: translate(-1500px, 0px); */

  font-family: Montserrat, sans-serif;
  color: #b2deff;
  font-size: 48px;
  line-height: 7vh;
  font-weight: 800;
  opacity:1;
}

.fade-in-slider{
  -webkit-transition: all .75s ease-in-out;
    -moz-transition: all .75s ease-in-out;
    -o-transition: all .75s ease-in-out;
    transition: all .75s ease-in-out;

}



.slide1t2 {
  display: block;

  padding-top: 0px;
  /* padding-left: 4vw; */
  font-family: Montserrat, sans-serif;
  color: white;
  font-size: 32px;
  line-height: 6vh;
  font-style: normal;
  font-weight: 700;
  margin-left: 500px;
  height:0px;
  overflow: hidden;
  opacity:0;
  width:75vw !important;
  max-height:15vh;


}

.slide1t2-done {
  display: block;

  padding-top: 0px;
  /* padding-left: 4vw; */
  margin-left: 0px;
  font-family: Montserrat, sans-serif;
  color: white;
  font-size: 32px;
  line-height: 6vh;
  font-style: normal;
  font-weight: 700;
  height:15vh !important;
  overflow:hidden;
  opacity:1;
  width:75vw !important;
  max-height:15vh;



}


.button-10 {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin-right: 40px;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  border-radius: 4px;
  background-color: #fff;
  box-shadow: 1px 1px 6px 0 #636262;
  color: #555a5e;
  font-size: 24px;
  font-weight: 700;
  text-decoration: none;
  cursor: pointer;
  opacity: 0;
  margin-top:-50px;
  height:0px;

}

.button-10:hover {
  color: #b2deff;
  text-decoration: none;
}

.button-10-done {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  height: 7vh;
  margin-right: 40px;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  border-radius: 4px;
  background-color: #fff;
  box-shadow: 1px 1px 6px 0 #636262;
  color: #555a5e;
  font-size: 24px;
  font-weight: 700;
  text-decoration: none;
  cursor: pointer;
  opacity: 1;
  margin-top:0px;
}

.button-10-done:hover {
  color: #b2deff !important;
  text-decoration: none;
}


.slide2t1 {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 75vw;
  padding-top: 8px;
  padding-right: 0vw;
  padding-left: 0px;
  -webkit-box-pack: end;
  -webkit-justify-content: flex-end;
  -ms-flex-pack: end;
  justify-content: flex-end;
  font-family: Montserrat, sans-serif;
  color: #b2deff;
  font-size: 32px;
  line-height: 7vh;
  font-weight: 700;
  opacity:0;
  margin-left: 500px;
  height:0px;
}

.slide2t1-done {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 75vw;
  height: 7vh;
  padding-top: 8px;
  padding-right: 0vw;
  padding-left: 0px;
  -webkit-box-pack: end;
  -webkit-justify-content: flex-end;
  -ms-flex-pack: end;
  justify-content: flex-end;
  font-family: Montserrat, sans-serif;
  color: #b2deff;
  font-size: 32px;
  line-height: 7vh;
  font-weight: 700;
  margin-left: 0px;
  opacity:1;

}

.slide2t2 {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 75vw;
  padding-top: 0px;
  padding-right: 0vw;
  padding-left: 0px;
  -webkit-box-pack: end;
  -webkit-justify-content: flex-end;
  -ms-flex-pack: end;
  justify-content: flex-end;
  font-family: Montserrat, sans-serif;
  color: #555a5e;
  font-size: 32px;
  line-height: 6vh;
  font-style: normal;
  font-weight: 700;
  margin-right: 500px;
  overflow: hidden;
  opacity:0;
  height:0px;

}

.slide2t2-done {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 75vw;
  padding-top: 0px;
  padding-right: 0vw;
  padding-left: 0px;
  -webkit-box-pack: end;
  -webkit-justify-content: flex-end;
  -ms-flex-pack: end;
  justify-content: flex-end;
  font-family: Montserrat, sans-serif;
  color: #555a5e;
  font-size: 32px;
  line-height: 6vh;
  font-style: normal;
  font-weight: 700;
  margin-right: 0px;
  height:12vh !important;
  overflow: hidden;
  opacity:1;
}

.s2bdiv {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  padding-top: 23px;
  padding-right: 19vw;
  padding-left: 0vw;
  -webkit-box-pack: end;
  -webkit-justify-content: flex-end;
  -ms-flex-pack: end;
  justify-content: flex-end;
  border-radius: 0px;
  height:0px;
}

.s2bdiv-done {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  /* padding-top: 23px; */
  padding-right: 19vw;
  padding-left: 0vw;
  -webkit-box-pack: end;
  -webkit-justify-content: flex-end;
  -ms-flex-pack: end;
  justify-content: flex-end;
  border-radius: 0px;

}

.s1bdiv {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  /* padding-top: 23px; */
  padding-right: 0vw;
  padding-left: 12vw;
  -webkit-box-pack: start;
  -webkit-justify-content: flex-start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  border-radius: 0px;
  height:0px;
}

.s1bdiv-done {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  padding-top: 23px;
  padding-right: 0vw;
  padding-left: 12vw;
  -webkit-box-pack: start;
  -webkit-justify-content: flex-start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  border-radius: 0px;
}
