<div class="home">
    <div data-animation="slide" data-duration="500" data-infinite="1" class="slider w-slider">
      <div class="w-slider-mask">
        <div class="slide w-slide">
          <div class="slide1t1">Welcome to Sayur Stall!</div>
          <div class="slide1t2">We deliver fresh, local groceries to you doorstep.<br>Locally owned, locally run.</div>
          <div class="s1bdiv"><a href="#" class="button-10 w-button">Shop now</a></div>
        </div>
        <div class="w-slide">
          <div class="slide2t1">The freshest ingredients.</div>
          <div class="slide2t2">Delivered right to your doorstep.</div>
          <div class="s2bdiv"><a href="#" class="button-10 w-button">Shop now</a></div>
        </div>
      </div>
      <div class="left-arrow w-slider-arrow-left">
        <div class="w-icon-slider-left"></div>
      </div>
      <div class="rightarrow w-slider-arrow-right">
        <div class="w-icon-slider-right"></div>
      </div>
      <div class="w-slider-nav w-round"></div>
    </div>
    <div class="section-7">
      <h3 class="heading-13">Products</h3>
      <div class="w-layout-grid catgrud">
        <div class="category"><img src="https://d3e54v103j8qbb.cloudfront.net/plugins/Basic/assets/placeholder.60f9b1840c.svg" alt="" class="catimg">
          <div class="cattext">Bakery</div>
        </div>
        <div class="category"></div>
        <div class="category"></div>
        <div class="category"></div>
      </div>
    </div>
    <div class="section-7-copy">
      <h3 class="heading-13">Fresh Produce</h3>
      <div class="w-layout-grid veggrid">
        <div class="vegitem"><img src="https://d3e54v103j8qbb.cloudfront.net/plugins/Basic/assets/placeholder.60f9b1840c.svg" alt="" class="vegimg">
          <div class="vegnamne">Bakery</div>
          <div class="vegprice">Bakery</div>
        </div>
        <div class="category"></div>
        <div class="category"></div>
        <div class="category"></div>
      </div>
    </div>
    <div class="section-7-copy-copy">
      <h3 class="heading-13">Our Process</h3>
      <div class="w-layout-grid processgrid">
        <div class="processitem"><img src="https://d3e54v103j8qbb.cloudfront.net/plugins/Basic/assets/placeholder.60f9b1840c.svg" alt="" class="processimg">
          <div class="processtext">Bakery</div>
        </div>
        <div class="processitem"><img src="https://d3e54v103j8qbb.cloudfront.net/plugins/Basic/assets/placeholder.60f9b1840c.svg" alt="" class="processimg">
          <div class="processtext">Bakery</div>
        </div>
        <div class="processitem"><img src="https://d3e54v103j8qbb.cloudfront.net/plugins/Basic/assets/placeholder.60f9b1840c.svg" alt="" class="processimg">
          <div class="processtext">Bakery</div>
        </div>
      </div>
    </div>
    <div class="section-8">
      <div>
        <div class="text-block-33">GET 10% OFF YOUR FIRST ORDER</div>
        <div class="text-block-34">Register now and we&#x27;ll send you an <br>email with a 10% off coupon!</div>
        <div class="div-block-69"><a href="#" class="button-11 w-button">Register Now</a></div>
      </div><img src="https://d3e54v103j8qbb.cloudfront.net/plugins/Basic/assets/placeholder.60f9b1840c.svg" alt="" class="image-2"></div>
    <div class="div-block-75"><img src="https://d3e54v103j8qbb.cloudfront.net/plugins/Basic/assets/placeholder.60f9b1840c.svg" alt="" class="image-4">
      <div class="div-block-79">
        <div class="text-block-37">This is some text inside of a div block.</div>
        <div class="text-block-40">This is some text inside of a div block.</div>
        <div class="text-block-38">This is some text inside of a div block.</div>
        <div class="div-block-76">
          <div class="div-block-77">
            <div class="form-block-12 w-form">
              <form id="email-form" name="email-form" data-name="Email Form"><input type="text" class="text-field-3 w-input" maxlength="256" name="name" data-name="Name" placeholder="" id="name"></form>
              <div class="w-form-done">
                <div>Thank you! Your submission has been received!</div>
              </div>
              <div class="w-form-fail">
                <div>Oops! Something went wrong while submitting the form.</div>
              </div>
            </div>
            <div class="div-block-78">
              <div class="button-13">
                <div class="text-block-39">+</div>
              </div>
              <div class="button-13">
                <div class="text-block-39">-</div>
              </div>
            </div>
          </div><a href="#" class="button-14 w-button">Add to cart</a></div>
      </div>
      <div class="div-block-80">
        <div class="text-block-41">x</div>
      </div>
    </div>
  </div>
