<div class="settingItemContainer"  *ngIf="setting">
    <div class="settingItem">
      <span class="settingName">{{formatName(setting.name)}}</span>
      <div class="valueContainer">
        <span class="settingValue" [ngClass]="{ 'modified' : setting.local }">
          <label>Value: </label>

          <span class='val'>{{getValue()}}
          </span>
        </span>
        <button class="rightValueButton">
          <ion-icon name="create" (click)="editSetting()"></ion-icon>
        </button>
        <button *ngIf = "this.setting.local" class="rightValueButton">
          <ion-icon name="close" (click)="revertSetting()"></ion-icon>
        </button>
      </div>
    </div>
    <!-- <div class="settingItem" *ngIf="editing">
      <span class="settingName">{{formatName(setting.name)}}</span>
      <div class="valueContainer">
        <span class="settingValue" [ngClass]="{ 'modified' : setting.local }">
          <label>Value: </label><span class='val'>{{getValue()}}</span>
        </span>

      </div>
    </div> -->
</div>
