.settingItem {
  display:flex;
  flex:1;
  flex-basis: 2;
  flex-direction: column;
  border-style: solid;
  min-height: 12vh;
  border-width: .1vh;
  margin-top: .1vh;
  margin-bottom: .1vh;
  width:45vw;
}

ion-icon {
  width: 5vh;
  height: 5vh;
}

.settingName {
  // width: 100%;
  margin-left: auto;
  margin-right: auto;
  font-size: 2.5vh;
  background-color: transparent;
}

.modified, label.modified, span.modified {
  font-weight: bold;
  color: green;
}

.settingRow {
  display: flex;
}

.settingColumn {
  flex: 50%;
}

.valueContainer {
  display:flex;
  width: 48vh;
  margin-left: auto;
  margin-right: auto;
}

.settingValue {
  flex: 1;
  // max-width: 3vh;
  margin-right: auto;
  margin-left: auto;
  font-size: 4vh;
  background-color: transparent;
}

.val {
  margin-left: 1vh;
  margin-right: 1vh;
  background-color: transparent;
}

.val.updated {
  color: green;
  background-color: lightgrey;
}

.rightValueButton {
  flex: 1;
  // max-width: 3vh;
  // max-height: 3vh;
  margin-right: auto;
  margin-left: auto;
  background-color: transparent;
}
