<ion-header>
  <ion-toolbar text-center>
    <ion-title>Edit Name</ion-title>
    <ion-buttons slot="end">
      <!-- <ion-button class="addschedule button-right" ion-button right (click) = "addSchedule()">
        <ion-icon name="add-circle" ></ion-icon>
      </ion-button> -->
      <ion-button class="dismiss button-right" ion-button right (click) = "close()">
        <ion-icon name="close-circle" ></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="edit_container"  *ngIf="item">
    <div class="item-container">
      <div class="item-info">
        <div class="item-name" [ngClass]="{ 'touched' : (item.touched) }" (click)="editNameField($event)">
          <!-- <h5 [ngClass]="{ 'selected' : ( nameSelected() ) }">{{item.name}}</h5> -->
          <input [hidden]="!item" #itemInput (input)="onInputChange($event)" class="keyboard_input" [ngModel]="value" placeholder="{{placeholder}}" />
        </div>
      </div>
    </div>
  </div>
  <input [hidden]="!selectedSchedule" #itemInput (input)="onInputChange($event)" class="keyboard_input" [ngModel]="value" placeholder="{{placeholder}}" />
  <div id="scheduleKeyboard" class="simple-keyboard"></div>

</ion-content>
