<ion-content class="main-view">
  <div class="overlay" (click)="closeModal()"></div>
  <div style = "display:flex;">
  <button  class = "close" ion-button (click) = "closeModal()">
    <ion-icon  name="close"></ion-icon>
  </button>
  </div>

  <div class="modal_content" scrollY="true"style="color:white;">
    <div class = "hvacheader" >
      {{this.navParams.data[0].capname}}
    </div>

    <div class = "type" style = "height:7vh;">
      {{this.navParams.data[0].type}} - {{this.navParams.data[0].subtype}}
    </div>
    <div *ngIf = "this.auth.user.role != 'read'">
    <div  style = "margin:5%;margin-top:0%;right:10vw;">

      <div style = "height:5vh;font-size: 2.5vh;
      margin: 5%;
      font-weight: bold;">
        OVERRIDE CONTROL

      </div>
      <div style = "margin-bottom:5%;height:4vh;display:flex;justify-content:flex-end;font-size:2vh;font-weight:bold;color:orange;"*ngIf = "this.navParams.data[0].status.ov">
        <div style = "margin-right:5%">
        OVERRIDE ACTIVE
        </div>
        <button style = "height:2vh; width:2vh;" ion-button (click) = "quitov()">
          <ion-icon  name="close"></ion-icon>
        </button>
      </div>
    </div>
    <div style = "display:flex; justify-content:center;">

      <div *ngIf = "!this.navParams.data[0].status.dimmable">
        <div *ngIf = "!this.changed" style = "height:4vh;width:80vw;display:flex;justify-content:center">
          <ion-toggle  (ionChange)="toggle()"[(ngModel)]="this.navParams.data[0].status.levelbool"></ion-toggle>
        </div>
        <div *ngIf = "this.changed" style = "height:4vh;width:80vw;display:flex;justify-content:center">
          <ion-toggle  (ionChange)="toggle()"[(ngModel)]="this.levelbool"></ion-toggle>
        </div>

      </div>
      <div *ngIf = "this.navParams.data[0].status.dimmable">
        <div *ngIf = "!this.changed" style = "height:8vh;width:80vw;display:flex;justify-content:center">
          <ion-item>
          <ion-range min="0" max="180"  (ionBlur)="range()" [(ngModel)]="this.navParams.data[0].status.level" color="secondary">
          </ion-range>
          </ion-item>
        </div>
        <div *ngIf = "this.changed" style = "height:8vh;width:80vw;display:flex;justify-content:center">
          <ion-item>

          <ion-range min="0" max="180"  (ionBlur)="range()" [(ngModel)]="this.level" color="secondary">
          </ion-range>
          </ion-item>

        </div>
      </div>


    </div>
    </div>
    <div style = "display:flex;align-items:center;height:7vh;">
      <div style = "display:flex;align-items:center;font-size:2vh;margin:5%">

        <div>
          UNITY LIGHT LEVEL:

        </div>
      </div>
      <div *ngIf = "!this.changed">
        <div style = "display:flex;align-items:center;font-size:3vh;margin:5%">
          {{this.navParams.data[0].status.level}}
        </div>
      </div>
      <div *ngIf = "this.changed">
        <div style = "display:flex;align-items:center;font-size:3vh;margin:5%">
          {{this.level}}
        </div>
      </div>

    </div>

    <div class = "detail">
      <div class = "grid">
        <div class = "panel">
          <div class = "lgtitle">

            <div>
              STATE
            </div>
          </div>
          <div class = "lgstate">
            <div *ngIf = "!this.changed">
              <div *ngIf = "this.navParams.data[0].status.level == 0">
                OFF
              </div>
              <div *ngIf = "this.navParams.data[0].status.level > 0">
                ON
              </div>
            </div>
            <div *ngIf = "this.changed">
              <div *ngIf = "this.level == 0">
                OFF
              </div>
              <div *ngIf = "this.level > 0">
                ON
              </div>
            </div>

          </div>
        </div>
        <div class = "panel">

          <div *ngIf = "!this.navParams.data[0].status.ov">
            <div class = "smtitle">

              <div>
                TIME IN CYCLE

              </div>
            </div>

            <div class = "smstate">
              {{this.navParams.data[0].status.dur}}

            </div>
          </div>
          <div *ngIf = "this.navParams.data[0].status.ov">
            <div class = "smtitle">

              <div>
                OVERRIDE TIME REMAINING

              </div>
            </div>

            <div class = "smstate">
              {{this.navParams.data[0].status.ov.r}}

            </div>
          </div>
        </div>
        <div class = "panel">

          <div class = "smtitle">

            <div>
              LIGHT METER LEVEL

            </div>
          </div>

          <div class = "lgstate">
            <div *ngIf = "this.navParams.data[0].status.lm">
              {{this.navParams.data[0].status.lm}}

            </div>
            <div *ngIf = "!this.navParams.data[0].status.lm">
              --

            </div>

          </div>
        </div>
        <div class = "panel">

          <div class = "smtitle">

            <div>
              CIRCUITS FILLED

            </div>
          </div>

          <div class = "smstate">
              {{this.navParams.data[0].status.sockets.used}} / {{this.navParams.data[0].status.sockets.num}}
          </div>
        </div>



      </div>
    </div>

  </div>
</ion-content>
