

    <div class="cartdesk">
      <div class="div-block-13">
        <h5>Cart ({{this.auth.cart.length}} items)</h5>
        <div class="div-block-11"></div>
        <div class="div-block-12">
          <div class="text-block-3">Price</div>
          <div class="div-block-11"></div>
          <ul role = 'list'class="list-2 w-list-unstyled">
            <li class="list-item-5-copy" *ngFor = "let i of this.auth.cart">
              <div class="div-block-17-copy">
                <div class="cards-image-mask-copy">
                  <img src="{{i.image || 'https://uploads-ssl.webflow.com/5db1c76aadcfe25e881680fa/5db86dc421496616bf357c25_placeholder.svg'}}" alt="" class="cards-image">
                </div>
                <div class="div-block-15">
                  <h5 class="heading-2-copy">{{i.name}}</h5>
                  <div class = "cartcheckoutsingleprice">{{i.price}} x {{i.quantity}}</div>
                  <div class="pvcheckoutrow">
                    <div class="text-block-55">QTY:</div>
                    <div class="pvquanity-copy">
                      <div class="pvquantityformblock w-form">
                        <form id="email-form" name="email-form" data-name="Email Form" class="pvquantityform">
                          <input [(ngModel)]="i.quantity" type="text" class="pvquantityinput w-input" maxlength="256" name="name-3" data-name="Name 3" placeholder="" id="name-3"></form>

                      </div>
                      <div class="div-block-78-copy">
                        <div (click) = "modQuant(i,1)" class="button-13-copy">
                          <div class="text-block-39-copy">+</div>
                        </div>
                        <div (click) = "modQuant(i,-1)" class="button-13-copy">
                          <div class="text-block-39-copy">-</div>
                        </div>
                      </div>
                    </div>
                    <div class="bigtrash" >
                      <mat-icon     style="    display: flex;
    width: 6vh;
    height: 6vh;
    padding: 0px;
    justify-content: center;
    align-items: center;font-size:42px" (click) = "this.removeFromCart(i)">
                          delete_outline
                      </mat-icon>
                    </div>
                  </div>

                </div>
                <div class="text-block-2-copy-deskcart">{{i.price*i.quantity}}</div>
              </div>
              <div class="div-block-19"></div>
            </li>
            <li></li>
            <li></li>
          </ul>
        </div>
        <div class="div-block-20">
          <div class="text-block-4">Subtotal ({{this.auth.cart.length}} items):</div>
          <div class="text-block-2-copy-copy">{{this.getCartPrice()}}</div>
        </div>
      </div>
      <div class="div-block-14">
        <div class="div-block-33">
          <h5 class="heading-4-deskcart">Subtotal ({{this.auth.cart.length}} items):</h5>
          <div class="text-block-2-copy-copy">{{this.getCartPrice()}}</div>
          <div class="text-block-9-copy">Delivery cost calculated at checkout</div><a href="order" class="checkoutcartdesk w-button">Checkout Cart</a></div>
      </div>
    </div>
