<!-- <ion-header>
  <ion-toolbar text-center>
    <ion-title>Controller Settings</ion-title>
    <ion-buttons slot="end">
      <button class="dismiss button-right" (click)="close()">
        <ion-icon name="close-circle" ></ion-icon>
      </button>
    </ion-buttons>
  </ion-toolbar>
</ion-header> -->

<!-- <ion-content> -->
<div *ngIf="controller">
  <!-- <ion-title>Controller Settings</ion-title> -->
  <!-- <ng-container *ngIf="!selectedSetting"> -->
  <!-- <div class="dismiss-container">
    <button class="dismiss" ion-button right (click) = "close()">
      <ion-icon  name="remove-circle"></ion-icon>
    </button>
  </div> -->

    <!-- <div class="controller_container"> -->
      <!-- <span class="controller_inner">
        <div class="info titleContainer">
          <div class="title"> {{controller.name}}</div>

        </div>
        <p class="info type"> type: {{controller.type}}</p>
        <p class="info subtype"> subtype: {{controller.subtype}}</p>
        <p *ngIf="controller.enabled" class="info estate">Enabled</p>
        <p *ngIf="!controller.enabled" class="info dstate">Disabled</p>
      </span> -->
      <!-- <div class="settings_container"> -->
      <div *ngIf = 'this.controller.settings'>
        <div *ngFor="let item of this.controller.settings; let idx = index;">
          <app-controller-settings-item #settingsItem [parent]="this" [setting]="item" [index]="idx"></app-controller-settings-item>
        </div>
        </div>
      <!-- </div> -->
    <!-- </div> -->
  <!-- </ng-container> -->
  <!-- <div class="settings_container" *ngIf="selectedSetting">
      <div class="control">
        <button class="close_button" ion-button (click) = "closeSelected()">
          <ion-icon  name="close-circle"></ion-icon>
        </button>
        <button [disabled]="!selectedSetting.touched" class="save_button">
          <ion-icon  name="save" (click)="saveSetting()"></ion-icon>

        </button>
      </div>
      <div class = "settings-item">
        <app-controller-settings-item [parent]="this" [setting]="selectedSetting" [index]="selectedIndex"></app-controller-settings-item>
      </div>
  </div>
  <input [hidden]="!selectedSetting" #settingInput (input)="onInputChange($event)" class="keyboard_input" [ngModel]="value" placeholder="{{placeholder}}" />
  <div id="settingKeyboard" class="simple-keyboard"></div> -->
</div>

<!-- </ion-content> -->
