
.ios,
.md,
.wp{
  page-map-icon {



    .detail {
      background-color: #e8e8e8;
    }



    ion-toolbar {
      display:flex;
    }

    ion-button {
      flex:1;
    }

    ion-title {
      flex:1;
      // max-height: 2vh;
      margin-top: 3vh;
      margin-bottom: 2vh;
    }

    // ion-content {
    //   margin-top: 10vh;
    // }

    ion-button {
      width: unset;
      height: unset;
    }

    ion-icon {
        display: inline-block;
        // font-size: 1.2em;
    }

    ion-card {
      margin-top: 5vh;
    }
    app-history {
      width: 100%;
      height: 72vh;
    }

    .setpoint_button {
      background-color: transparent;
    }

    .settings_container {
      width: 72%;
      margin-top: 2vh;
      // margin-left: auto;
      height: 100%;
      display: flex;
      flex-basis: 2;
      flex-wrap: wrap;
      max-height: 80vh;
      overflow-y: scroll;
    }

    #schedules {
      margin-top: 1vh;
      color: lightgrey;
      background-color: transparent;
    }
    #history {
      margin-top: 1vh;
      color: lightgrey;
      background-color: transparent;
    }

    #settings {
      margin-top: 1vh;
      color: lightgrey;
      background-color: transparent;
    }
    #modes {
      margin-top: 1vh;
      color: lightgrey;
      background-color: transparent;
    }
    #display {
      margin-top: 1vh;
      color: lightgrey;
      background-color: transparent;
    }
    #display.active {
      color: rgb(77, 110, 250);
    }

    #modes.active {
      color: rgb(77, 110, 250);
    }

    #schedules.active {
      color: rgb(77, 110, 250);
    }

    #settings.active {
      color: rgb(77, 110, 250);
    }

    #history.active {
      color: rgb(77, 110, 250);
    }

    .schedules_container {
      margin-top: 2vh;
      height: 100%;
      width: 100%;
    }
    // .grid {
    //   margin-top: 10vh;
    //   width: 100%;
    // }

    app-controller-settings {
      height: 65vh;
      width: 80vw;
    }

    app-controller-settings-item {
      min-width: 50vh;
    }

    $title-bar: 5vh;
    $loc-bar: 5vh;
    .modalopen{
      -webkit-filter: blur(10px);
      -moz-filter: blur(10px);
      -o-filter: blur(10px);
      -ms-filter: blur(10px);
      filter: blur(10px);
    }
    .modalclosed{
      -webkit-filter: none;
      -moz-filter: none;
      -o-filter: none;
      -ms-filter: none;
      filter: none;
    }

    .grid {
      margin-top:0vh;
    }
    .button-ios{
      color: grey;
      background-color: white;
      -webkit-box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.2), 0 1px 5px 0 rgba(0, 0, 0, 0.12);
      box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.2), 0 1px 5px 0 rgba(0, 0, 0, 0.12);
    }
    .button-md{
      color: grey;
      background-color: white;
      -webkit-box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.2), 0 1px 5px 0 rgba(0, 0, 0, 0.12);
      box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.2), 0 1px 5px 0 rgba(0, 0, 0, 0.12);
    }


    .num{
      display: flex;
      justify-content: center;
      font-size: 4.5vh;
      // margin: 5%;
      height: 5.5vh;
      width:6vh;
      background-color: transparent;
      // -webkit-box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.2), 0 1px 5px 0 rgba(0, 0, 0, 0.12);
      // box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.2), 0 1px 5px 0 rgba(0, 0, 0, 0.12);
      -webkit-box-shadow: none;
      box-shadow: none;
    }

    background: #EFEEEE;
    ion-header {
      ion-navbar{
        .toolbar-title{
          color: white;
        }
        .bar-button{
          color:white;
        }

        ion-buttons{
          display:flex;
          align-items:center;
          .signout {
            font-size: 2vh;
          }
          .back {
            font-size: 4.5vh;
            // width:10vh;
            // height:10vh;
          }
          color: white;

        }


        font-size:3vh;

        padding: 0px;
        margin: 0px;
        height:9vh;
        min-height:0px;
        font-weight: bold; display: flex; align-items: center;
        color: white;
        background-image: radial-gradient(#0199FE, #005C98) !important;
        justify-content: center;
        text-align:center;
        width:100vw;

        .toolbar-content{
          z-index: 1;
          width:100%;
        }
        .toolbar-background{
          // z-index: 1;

          padding: 0px;
          margin: 0px;
          height:9vh;
          width:100vw;

          // font-size:$title-bar / 2;
          min-height:0px;
          font-weight: bold; display: flex; align-items: center; color: white;
          background-image: radial-gradient(#0199FE, #005C98) !important;
          justify-content: center;
          text-align:center;
        }


      }

      ion-toolbar{
        padding: 0px;
        padding-left: 0px;
        padding-right: 0px;
        min-height: 0px;


        .hvacheader{
          margin-top: 3%;
          // margin-bottom: 3%;


          font-size: 3.25vh;
          display:flex;
          justify-content: center;
          align-items: center;

        }
        .type{
          margin-bottom: 3%;
          color: #515151;
          font-size: 2.25vh;
          display:flex;
          justify-content: center;
          align-items: center;

        }
        .locname {
          // overflow: auto;
          // min-height: $loc-bar;
          // position: relative;
          //
          // display:flex;
          // justify-content: center;
          // align-items: center;
          width: 75vw;
          // float: left;
          color: black;
          font-size: 2.5vh;
          .locinner{
            overflow: auto;
            // position: absolute;
            // top: $loc-bar / 4;
            // left: $loc-bar / 4;
            margin: 4%;
          }
        }
      }
    }
    ion-content {
      // margin-top: 0px;
      background-color: #0042ad;
      // background-color: #0199FE;

      .detail {
        background-color: #e8e8e8;
        .grid{
          display: flex;
          flex-wrap: wrap;
          flex-direction: row;
          justify-content: space-around;

          .lgtitle{
            // display: flex;
            // justify-content: center;
            font-size: 2.5vh;
            margin: 5%;
            font-weight: bold;
            height: 4vh;
          }
          .lgstate{
            display: flex;
            justify-content: center;
            font-size: 4.5vh;
            margin: 5%;
            margin-top: 2vh;
            height: 5.5vh;
          }
          .smtitle{
            // display: flex;
            // justify-content: center;
            font-size: 1.75vh;
            margin: 5%;
            font-weight: bold;
            height: 4vh;
          }
          .smstate{
            display: flex;
            justify-content: center;
            font-size: 3.25vh;
            margin: 5%;
            height:3.75vh;
          }
          .panel{
            display: flex;
            width: 40vw;
            // justify-content: space-around;
            max-height: 16vh;
            // padding: 2.5%;
          }
          .setpoints{
            flex-grow: 2;
            // width: 40vw;
            padding: 2.5%;
          }
        }
        // display:flex;
        // .lowercard{
        //   .thingouter {
        //
        //     color: black;
        //     margin: 4%;
        //     width: 11.5vh;
        //
        //     button{
        //       color: black;
        //       width: 11.5vh;
        //       height: 11.5vh;
        //
        //       text-align: center;
        //
        //       font-size: 3.5vh;
        //       border-radius: 1vh;
        //       display:flex;
        //       justify-content: center;
        //       align-items: center;
        //
        //       .text {
        //         display:flex;
        //         justify-content: center;
        //         align-items: center;
        //         width: 11.5vh;
        //         height: 11.5vh;
        //         // overflow: hidden;
        //
        //         // text-overflow: ellipsis; // This is where the magic happens
        //
        //         // text-align: center;
        //         // width:12.5vh;
        //
        //         // font-size: 1.75vh;
        //         font-size: 3.5vh;
        //
        //
        //
        //       }
        //
        //     }
        //
        //     .textouter{
        //       margin-top: 1vh;
        //       overflow: hidden;
        //
        //       text-overflow: ellipsis; // This is where the magic happens
        //
        //       .text {
        //         overflow: hidden;
        //
        //         text-overflow: ellipsis; // This is where the magic happens
        //
        //         text-align: center;
        //         // width:12.5vh;
        //
        //         // font-size: 1.75vh;
        //         font-size: 2.5vh;
        //
        //
        //
        //       }
        //
        //       // border: solid 1px black;
        //     }
        //
        //
        //
        //   }
        // }
        // .toptext{
        //   // margin: 1vh;
        //   margin: 0;
        //   // border-left: solid 1px black;
        //   // border-right: solid 1px black;
        //   border-bottom: solid 1px black;
        //   // margin-left: .625%;
        //   // margin-right: .625%;
        //
        //   font-size: 2.5vh;
        //   display: flex;
        //   justify-content: space-around;
        //   align-items: flex-start;
        //   .text {
        //     margin: 1%;
        //     width: 33vw;
        //     text-align: center;
        //     align-items:flex-start;
        //   }
        // }
        // .currentMode {
        //   display: -ms-flexbox;
        //   margin-top: 3vh;
        //   -webkit-justify-content: space-around;
        //   -ms-flex-pack: distribute;
        //   text-align: center;
        //   -webkit-box-align: center;
        //   -webkit-align-items: center;
        //   -ms-flex-align: center;
        //   align-items: center;
        //   font-size: 2.25vh;
        //
        // }
        // .bottomtext{
        //   // margin-left: 1.25%;
        //   // margin-right:1.25%;
        //   // margin: 2vh;
        //   font-size: 2.5vh;
        //   display: flex;
        //   justify-content: space-around;
        //   align-items: flex-start;
        //   border-bottom: solid 1px black;
        //   .text {
        //     margin: 3%;
        //
        //     width: 33vw;
        //     text-align: center;
        //     align-items: center;
        //   }
        //   .text.red{
        //     color:red;
        //   }
        //   .text.blue{
        //     color:blue;
        //   }
        //   .text.gray{
        //     color:gray;
        //   }
        //
        //
        // }
        // .currentReadings {
        //   display: -ms-flexbox;
        //   margin-top: 3vh;
        //   -webkit-justify-content: space-around;
        //   -ms-flex-pack: distribute;
        //   text-align: center;
        //   -webkit-box-align: center;
        //   -webkit-align-items: center;
        //   -ms-flex-align: center;
        //   align-items: center;
        //   font-size: 2.25vh;
        //
        // }
        //
        // .top{
        //   // margin-left: 2vw;
        //
        //   display: flex;
        //   flex-wrap: wrap;
        //   justify-content: space-around;
        //   flex-direction: row;
        //   border-bottom: solid 1px black;
        //   // margin: 3vh;
        //
        //   .thingouter {
        //     margin-top: 3vh;
        //     margin-bottom: 3vh;
        //
        //     flex-basis: 20%;
        //
        //     // border: 2px solid black;
        //
        //     // flex-direction: column;
        //     width: 11.5vh;
        //     background-color: transparent;
        //
        //     .outnum {
        //       button {
        //         margin:0;
        //         padding:0;
        //         font-weight: inherit;
        //         height:auto;
        //         -webkit-box-shadow: none;
        //         box-shadow: none;
        //         color: black;
        //         background-color: transparent;
        //         text-align: center;
        //
        //         font-size: 4vh;
        //       }
        //       display:flex;
        //       justify-content: center;
        //       .num{
        //         background-color: transparent;
        //         text-align: center;
        //         font-size: 4vh;
        //       }
        //     }
        //     .textouter{
        //       margin-top: 1vh;
        //
        //       overflow: hidden;
        //
        //       text-overflow: ellipsis; // This is where the magic happens
        //
        //       .text {
        //         overflow: hidden;
        //
        //         text-overflow: ellipsis; // This is where the magic happens
        //
        //         text-align: center;
        //         // width:12.5vh;
        //
        //         // font-size: 1.75vh;
        //         font-size: 2.5vh;
        //
        //       }
        //       // border: solid 1px black;
        //     }
        //   }
        // }
        //
        // .bottom{
        //
        //   display: flex;
        //   flex-wrap: wrap;
        //   justify-content: space-around;
        //   // margin: 3vh;
        //   border-bottom: solid 1px black;
        //
        //   .thingouter {
        //     margin-top: 3vh;
        //     margin-bottom: 3vh;
        //
        //     flex-basis: 20%;
        //
        //     // border: 2px solid black;
        //
        //     // flex-direction: column;
        //     width: 11.5vh;
        //
        //     .outnum {
        //       display:flex;
        //       justify-content: center;
        //       .num{
        //
        //         width: 8.5vh;
        //         // height: 8.5vh;
        //
        //         text-align: center;
        //
        //         font-size: 3.5vh;
        //
        //
        //       }
        //     }
        //     .textouter{
        //       margin-top: 1vh;
        //
        //       overflow: hidden;
        //
        //       text-overflow: ellipsis; // This is where the magic happens
        //
        //       .text {
        //         overflow: hidden;
        //
        //         text-overflow: ellipsis; // This is where the magic happens
        //
        //         text-align: center;
        //         // width:12.5vh;
        //
        //         // font-size: 1.75vh;
        //         font-size: 2.5vh;
        //
        //       }
        //       // border: solid 1px black;
        //     }
        //   }
        // }
        //
        // .currentSetpoints {
        //   display: -ms-flexbox;
        //   margin-top: 3vh;
        //   -webkit-justify-content: space-around;
        //   -ms-flex-pack: distribute;
        //   text-align: center;
        //   -webkit-box-align: center;
        //   -webkit-align-items: center;
        //   -ms-flex-align: center;
        //   align-items: center;
        //   font-size: 2.25vh;
        //
        // }
        //
        // .setpoints{
        //
        //   display: flex;
        //   flex-wrap: wrap;
        //   justify-content: space-around;
        //   margin: 3vh;
        //
        //   .thingouter {
        //     margin-top: 3vh;
        //     margin-bottom: 3vh;
        //
        //     flex-basis: 20%;
        //
        //     // border: 2px solid black;
        //
        //     // flex-direction: column;
        //     width: 11.5vh;
        //
        //     .outnum {
        //       display:flex;
        //       justify-content: center;
        //       .num{
        //
        //         width: 8.5vh;
        //         // height: 8.5vh;
        //
        //         text-align: center;
        //
        //         font-size: 3.5vh;
        //
        //
        //       }
        //     }
        //     .textouter{
        //       margin-top: 1vh;
        //
        //       overflow: hidden;
        //
        //       text-overflow: ellipsis; // This is where the magic happens
        //
        //       .text {
        //         overflow: hidden;
        //
        //         text-overflow: ellipsis; // This is where the magic happens
        //
        //         text-align: center;
        //         // width:12.5vh;
        //
        //         // font-size: 1.75vh;
        //         font-size: 2.5vh;
        //
        //       }
        //       // border: solid 1px black;
        //     }
        //   }
        // }

      }

      .alarms{
        border: solid 1px black;

        .uppercard{
          display:flex;
          .title{

            width: 50vw;

            font-size: 3vh;


          }

        }
        .lowercard{
          .mygrid{
            width:100vw;
            display: flex; flex-wrap: wrap;
            .thingouter {
              flex: 0 0 100%;
              .thing {
                margin: 5%;

                display: flex;
                justify-content: flex-start;
                .text{
                  font-size: 2.5vh;
                  width: 33vw;

                }


              }
            }

          }

        }

      }
      .unitinfo{
        border: solid 1px black;

        .uppercard{
          display:flex;
          .title{

            width: 75vw;

            font-size: $loc-bar * 2 / 3;


          }

        }
        .lowercard{

          .mygrid{
            width:100vw;
            display: flex; flex-wrap: wrap;
            .thingouter {
              flex: 0 0 50%;
              .thing {
                margin: 5%;

                display: flex;
                justify-content: space-between;
                .text{
                  font-size: 2vh;

                }


              }
            }

          }
          .mybutton {
            width:8vw;
            height: 10vh
          }
        }
        .test {
          bottom:0px;
          height: 1vh;
        }

      }
      // .perf{
      //
      //   border: solid 1px black;
      //
      //   .uppercard{
      //     display:flex;
      //     .title{
      //
      //       width: 75vw;
      //
      //       font-size: $loc-bar * 2 / 3;
      //
      //
      //     }
      //
      //   }
      //   .lowercard{
      //
      //
      //     .reportbox {margin:0 0 0 9px; padding-bottom:80px; width:951px; overflow:hidden;}
      //     .leftbox {float:left; width:297px; margin-left:17px;}
      //     .alarmbox {float:left; width:500px; margin-left:17px;}
      //     .obox {float:left; width:275px; margin-left:25px;}
      //
      //     .reporticon {float:left; width:37px; height:32px;}
      //     // .reporticon.hvac {background:url("{% static 'images/icon_hvac.gif' %}")}
      //     // .reporticon.light {background:url("{% static 'images/icon_light.gif' %}")}
      //     // .reporticon.kw {background:url("{% static 'images/icon_kw.gif' %}")}
      //
      //     .reportheader {
      //       font-family: klreg, helvetica, arial, sans-serif;
      //       line-height:25px;
      //       padding-left:8px;
      //       border-bottom:1px solid #e0e0e0;
      //       height:40px;
      //     }
      //     .reportheader.left {
      //       font-size:19px;
      //     }
      //     .reportheader.red {
      //       color:#f52500;
      //       font-size:14px;
      //     }
      //     .reportheader.blue {
      //       color:#23a5fc;
      //       font-size:14px;
      //     }
      //
      //     .reportrow {
      //       line-height:40px;
      //       padding-left:8px;
      //       border-bottom:1px solid #e0e0e0;
      //       height:40px;
      //     }
      //
      //     .reportrow_noborder {
      //       line-height:40px;
      //       padding-left:8px;
      //       line-height:40px;
      //     }
      //
      //     .reportrow_noheight {
      //       padding-left:8px;
      //       padding-bottom:10px;
      //       border-bottom:1px solid #e0e0e0;
      //     }
      //
      //     .reportlabel {
      //       font-family: klmed, helvetica, arial, sans-serif;
      //       font-size: 11px;
      //       color: #aaa;
      //     }
      //
      //     .reportvalue {
      //       font-family: klreg, helvetica, arial, sans-serif;
      //       margin-left:10px;
      //       font-size:14px;
      //     }
      //
      //     .reportchart {
      //       font-family: klreg, helvetica, arial, sans-serif;
      //       float:right;
      //       margin-right:15px;
      //     }
      //
      //     .reportblue {color:#23a5fc;}
      //     .reportred {color:#f52500;}
      //     .reportgray {color:#ccc;}
      //   }
      //
      // }
      .perf{
        border: solid 1px black;

        .uppercard{
          display:flex;
          .title{

            width: 75vw;

            font-size: $loc-bar * 2 / 3;


          }

        }
        .lowercard{

          .mygrid{
            .thingouter {
              font-size: 2.5vh;

              flex: 0 0 100%;
              .thing {
                margin: 5%;

                display: flex;
                justify-content: space-between;
                .text{
                  font-size: 2.5vh;
                }

              }
            }

          }

        }
        .test {
          bottom:0px;
          height: 1vh;
        }

      }
      // .perf{
      //   border: solid 1px black;
      //
      //   .uppercard{
      //     display:flex;
      //     .title{
      //
      //       width: 50vw;
      //
      //       font-size: 3vh;
      //
      //
      //     }
      //
      //   }
      //   .lowercard{
      //     .mygrid{
      //       width:100vw;
      //       height: 10vh;
      //       display: flex; flex-wrap: wrap;
      //       .thingouter {
      //         flex: 0 0 100%;
      //         .thing {
      //           margin: 5%;
      //
      //           display: flex;
      //           justify-content: flex-start;
      //           .text{
      //             font-size: 2.5vh;
      //             width: 33vw;
      //
      //           }
      //
      //
      //         }
      //       }
      //
      //     }
      //
      //   }
      //
      // }

    }
  }
  .schedule-modal-css .modal-wrapper {
    display: block;
    width: 76vw;
    height: 80vh;
    // background-color: transparent;
    background-color: lightgrey;
    border-radius: 2vh;
    // overflow-y: scroll;
  }

  .settings-modal-css .modal-wrapper {

    display: block;
    width: 76vw;
    height: 80vh;
    background-color: lightgrey;
    opacity: 0.8;
    border-radius: 2vh;
    // overflow-y: scroll;
  }

  .modes-modal-css .modal-wrapper {

    display: block;
    width: 76vw;
    height: 80vh;
    background-color: lightgrey;
    opacity: 0.8;
    border-radius: 2vh;
    // overflow-y: scroll;
  }
  ion-item{
    display: -webkit-box;
    height:4vh;
    background-color: transparent;
    padding-left:0px;
    // align-self: auto;
    // align-self: center;
    // align-self: baseline;


    .item{
      display: -webkit-box;
      height:4vh;
      background-color: transparent;
      padding-left:0px;
    }
    .item-block{
      display: -webkit-box;
      height:4vh;
      background-color: transparent;
      padding-left:0px;
    }
    .item-ios{
      display: -webkit-box;
      height:4vh;
      background-color: transparent;
      padding-left:0px;
    }
  }


  .detail {
    .grid{
      display: flex;
      flex-wrap: wrap;
      flex-direction: row;
      justify-content: space-around;

      .lgtitle{

        // display: flex;
        // justify-content: center;
        font-size: 2.5vh;
        margin: 5%;
        font-weight: bold;
        height: 4vh;


      }
      .lgstate{
        display: flex;
        justify-content: center;
        font-size: 4.5vh;
        margin: 5%;
        height: 5.5vh;
      }
      .smtitle{

        // display: flex;
        // justify-content: center;
        font-size: 1.75vh;
        margin: 5%;
        font-weight: bold;
        height: 4vh;


      }
      .smstate{
        display: flex;
        justify-content: center;
        font-size: 3.25vh;
        margin: 5%;
        height:3.75vh;
      }
      .panel{
        width: 40vw;
        // justify-content: space-around;
        padding: 2.5%;



      }
      .setpoints{
        flex-grow: 2;
        // width: 40vw;
        padding: 2.5%;



      }

    }


  }
  .hvacheader{
    margin-top: 3%;
    // margin-bottom: 3%;
    color:white;

    font-size: 3.25vh;
    display:flex;
    justify-content: center;
    align-items: center;

  }
  .type{
    color:white;
    margin-bottom: 3%;
    // top: 3%;

    // color: #515151;
    font-size: 2.25vh;
    display:flex;
    justify-content: center;
    align-items: center;

  }
  .lgtitle{

    // display: flex;
    // justify-content: center;
    font-size: 2.5vh;
    margin: 5%;
    font-weight: bold;
    height: 3.5vh;


  }
  .main-view{
    background: transparent;

  }
  .overlay {
    position: fixed;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
    opacity: .5;
    background-color: black;


  }
  .close{
    left: 80%;
    // right: 0px;
    // width: 85vw;
    // height: 85%;
    // padding: 10px;
    z-index: 100;
    // margin: 0 auto;
    margin: 4%;
    // padding: 10px;
    color: black;
    // background: #e8e8e8;
    // background: -moz-linear-gradient(top, #fff 0%, #e8e8e8 100%);
    // background: -webkit-linear-gradient(top, #fff 0%, #e8e8e8 100%);
    // background: linear-gradient(to bottom, #fff 0%, #e8e8e8 100%);
    border: solid, grey;
    box-shadow: 0 2px 3px rgba(51, 51, 51, .35);
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    border-radius: 40px;
    border: 2.5px solid lightgrey;
    background-color: transparent;
    color:white;
    height:40px;
    width:40px;
    font-weight: bold;
  }
  .modal_content {

    // position: absolute;
    // top: calc(30% - (70%/2));
    // top: 7.5%;
    // opacity: .5;
    left: 0;
    right: 0;
    width: 85vw;
    height: 85%;
    // padding: 10px;
    z-index: 100;
    margin: 0 auto;
    // padding: 10px;
    color: black;
    // background: #e8e8e8;
    // background: -moz-linear-gradient(top, #fff 0%, #e8e8e8 100%);
    // background: -webkit-linear-gradient(top, #fff 0%, #e8e8e8 100%);
    // background: linear-gradient(to bottom, #fff 0%, #e8e8e8 100%);
    border: solid, grey;
    box-shadow: 0 2px 3px rgba(51, 51, 51, .35);
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    // overflow: hidden;
    border-radius: 40px;
    border: 2.5px solid lightgrey;


  }
  // .theroot {
  // height: 100px;
  // background-color: yellow;
  // }
}
