.mainload{
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 20vh;
  ion-spinner{
    position: relative;
    display: flex;
    width: 20vh;
    height: 20vh;
    align-items: center;
    justify-content: center;
    // margin-left: 50vw;
    // margin-right: 50vw;
  }
}
