<div class="footer">
  <div class="section-10"><a href="#" class="footer-logo-link w-inline-block"><img src="https://uploads-ssl.webflow.com/5db1c76aadcfe25e881680fa/5db86dc421496616bf357c25_placeholder.svg" alt="" class="footer-image"></a>
    <div class="div-block-89">
      <div class="text-block-45">Information</div><a href="#" class="link-9">Home</a><a href="#" class="link-9">Shop</a><a href="#" class="link-9">Info</a></div>
    <div class="div-block-89">
      <div class="text-block-45">Contact</div>
      <div class="div-block-94">
        <div></div><a href="#" class="link-9">+62 822 3629 0308</a></div>
    </div>
    <div class="div-block-89">
      <div class="text-block-45">Social</div>
      <div class="div-block-90">
        <div class="div-block-91"></div>
        <div class="div-block-91"></div>
        <div class="div-block-91"></div>
      </div>
    </div>
    <div class="div-block-89">
      <div class="text-block-45">Message Us!</div>
      <div class="div-block-93">
        <div class="div-block-92"></div>
        <div class="div-block-92"></div>
      </div>
    </div>
  </div>
  <div class="text-block-46">Copyright © 2020 Sayur Stall. All rights reserved.</div>
</div>
