<div class="footer">




  <div class="section-10">
    <div (click) = "this.auth.changeView('home')" class="div-block-129">
      <img src="app/images/90400725_112596650378981_668296348616884224_o.jpg" alt="" class="image-5">
    </div>

  <div class="div-block-89">
    <div class="text-block-45">Information</div>
    <div (click) = "this.auth.changeView('home');" class="footlink">Home</div>
    <div (click) = "this.auth.changeView('shop');" class="footlink">Shop</div>
    <div (click) = "this.auth.changeView('info');" class="footlink">Info</div>
  </div>
    <div class="div-block-89">
      <div class="text-block-45">Contact</div>
      <div class="div-block-94">
        <div (click) = "this.auth.openWhatsapp()" class="div-block-128">
          <mat-icon style="    display: flex;
width: 3vw;
height: 3vw;
padding: 0px;
justify-content: start;
align-items: center;color:#82c91e;font-size:24px" >
            call
          </mat-icon>
        </div>
        <div class="text-block-60" style="cursor:default">+62 812-3615-7648</div>
      </div>
    </div>
    <div class="div-block-89">
      <div class="text-block-45">Social</div>
      <div class="div-block-90">
        <div (click) = "this.auth.openFacebook()" class="div-block-91" style="    display: flex;
width: 3vw;
height: 3vw;
padding: 0px;
justify-content: start;
align-items: center;">
          <fa-icon style="    display: flex;
width: 3vw;
height: 3vw;
padding: 0px;
justify-content: start;
align-items: center;color:#4267b2;font-size:24px" [icon]="faFacebookF"></fa-icon></div>

      </div>
    </div>
    <div class="div-block-89">
      <div class="text-block-45">Message Us!</div>
      <div class="div-block-93">
        <div (click) = "this.auth.openMessenger()" class="div-block-92" style="    display: flex;
width: 5vw;
height: 5vw;
padding: 0px;
justify-content: start;
align-items: center;font-size:52px">
          <fa-icon style="    display: flex;
width: 5vw;
height: 5vw;
padding: 0px;
justify-content: start;
align-items: center;font-size:52px;color:#4267b2;"[icon]="faFacebookMessenger"></fa-icon>


        </div>
        <div (click) = "this.auth.openWhatsapp()" class="div-block-92" style="    display: flex;
width: 5vw;
height: 5vw;
padding: 0px;
justify-content: start;
align-items: center;font-size:52px">
          <fa-icon style="    display: flex;
width: 5vw;
height: 5vw;
padding: 0px;
justify-content: start;
align-items: center;font-size:52px;color:#82c91e;"[icon]="faWhatsapp"></fa-icon>
      </div>
      </div>
    </div>
  </div>
  <div class="text-block-46">Copyright © 2020 Sayur Stall. All rights reserved.</div>
</div>
