<div style = "display:flex">
<div style = "font-size:3.5vh">
  {{this.name}}
</div>
<div class="control">
  <button class="close_button" ion-button (click) = "close()">
    <ion-icon  name="close-circle"></ion-icon>
  </button>
  <!-- <button [disabled]="!selectedSetting.touched" class="save_button"> -->
  <button [disabled]="this.value == this.ogvalue || this.value.length == 0" class="save_button">

    <!-- <i class="fa fa-save" (click)="saveSetting()"></i> -->
    <ion-icon  name="save" (click)="save()"></ion-icon>

  </button>
</div>
</div>

<input style = "display:flex;justify-content:center;font-size:5vh;" #entry (input)="onInputChange($event)" class="input" value={{this.value}}  />
<div id='keyboard' class="simple-keyboard"></div>
