.listitem{
  background-color: white
}
.listitem.disabled{
    // cursor: not-allowed !important;
    opacity: 0.5;
    color: grey;
    text-decoration: none;
}
.listitem.disabled:hover{

    color: grey;
    background-color: white
}
.listitem:hover{

    color: blue;
}

.listitem::selection{

    background-color: white
}



.buttonHeader {
  margin:2.5vh;
  display: flex;
  height: 4vh;
  // background-color: #d3d3d37d;
}



// .mycard {
//   background-color: #d3d3d37d;
//   position: absolute;
//   height: 100%;
// }

.plusButton {
  // height: 3vh;
  // width: 3vh;
  float: right;
  --width: 60px;
  --height: 60px;
  --border-radius: 50%;
  --vertical-align: middle;
  --padding-start: 10px;
  --padding-end: 10px;
}
ion-segment{

}

.highlight{
  color:black;
}
// .lowercard{
//   // background-color: #d3d3d37d;
//   // position: absolute;
//   // height: 100%;
//   .mygrid{
//     // margin-left: 2vw;
//     .title {
//       margin-top: 5vh;
//       width:100%;
//     }
//
//     .num{
//       -webkit-box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.2), 0 1px 5px 0 rgba(0, 0, 0, 0.12);
//       box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.2), 0 1px 5px 0 rgba(0, 0, 0, 0.12);
//       font-weight: normal;
//     }
//     display: flex;
//     flex-wrap: wrap;
//     // justify-content: space-between;
//     width: 100vw;
//     margin: 2vh;
//
//     .thingouter {
//       // border: 2px solid black;
//       // flex-direction: column;
//       margin: 4%;
//       // margin-top: 5vh;
//       // margin-left: 2vh;
//       // margin-right: 2vh;
//       width: 6.5vh;
//       height: 6.5vh;
//       // display: flex;
//       // justify-content: center;
//       // align-items: center;
//
//       button{
//         width: 7.5vh;
//         height: 7.5vh;
//
//         text-align: center;
//
//         font-size: 3vh;
//         border-radius: 1vh;
//         display:flex;
//         flex-direction: column;
//         justify-content: center;
//         align-items: center;
//         // overflow: hidden;
//         // text-overflow: ellipsis;
//
//         .text {
//           display:flex;
//           // justify-content: center;
//           align-items: center;
//           // overflow: hidden;
//           // text-overflow: ellipsis;
//           // width: 7.5vh;
//           // height: 7.5vh;
//           // overflow: hidden;
//           // text-overflow: ellipsis; // This is where the magic happens
//           text-align: center;
//           // width:12.5vh;
//           // font-size: 1.75vh;
//           font-size: 2.5vh;
//           margin-left: auto;
//           margin-right: auto;
//         }
//       }
//
//       .textouter{
//         margin-top: 1vh;
//         line-height:1;
//         height: 5vh;
//         // overflow: hidden;
//         width:7.5vh;
//         justify-content: center;
//         align-items: center;
//         // text-overflow: ellipsis;
//
//         .text {
//           overflow: hidden;
//           //
//           text-overflow: ellipsis;
//
//           text-align: center;
//           hyphens: auto;
//           // height: 5vh;
//           height: fit-content;
//
//           // width:12.5vh;
//
//           // font-size: 1.75vh;
//           font-size: 1.7vh;
//
//
//
//         }
//
//         // border: solid 1px black;
//       }
//
//       img {
//           height: 3vh;
//       }
//
//     }
//
//     .light {
//       // border: 2px solid black;
//
//       // flex-direction: column;
//       margin: 4%;
//       // margin-top: 2vh;
//       // margin-bottom: 2vh;
//       // margin-left: 2vh;
//       // margin-right: 2vh;
//
//       width: 6.5vh;
//       height: 6.5vh;
//
//       // height: 4.5vh;
//       // height: 11.5vh;
//
//       // min-width:25vw;
//       // max-width:25vw;
//
//       // display: flex;
//       // flex-direction: column;
//       // justify-content: center;
//       // align-items: center;
//       // text-overflow: ellipsis; // This is where the magic happens
//       // overflow: hidden;
//       // ion-button {
//       .outnum {
//         display:flex;
//         justify-content: center;
//         width: 7.5vh;
//         height: 6vh;
//         .num{
//
//           background-color: yellow;
//           width: 6vh;
//           height: 6vh;
//           border-radius: 50%;
//
//         }
//       }
//
//       .textouter{
//         margin-top: 1vh;
//         line-height:1;
//         overflow: hidden;
//         height: 5vh;
//         width:7.5vh;
//
//         text-overflow: ellipsis; // This is where the magic happens
//
//         .text {
//           overflow: hidden;
//           text-overflow: ellipsis; // This is where the magic happens
//           text-align: center;
//           // width:12.5vh;
//           // font-size: 1.75vh;
//           font-size: 2vh;
//         }
//         // border: solid 1px black;
//       }
//
//
//     }
//   }
//
//
//
// }


.modalopen{
  -webkit-filter: blur(10px);
  -moz-filter: blur(10px);
  -o-filter: blur(10px);
  -ms-filter: blur(10px);
  filter: blur(10px);

}
.modalclosed{
  -webkit-filter: none;
  -moz-filter: none;
  -o-filter: none;
  -ms-filter: none;
  filter: none;

}
.ios,
.md,
.wp{

// page-location {
//   min-height: 50vh;
//   width: 100vw;
// }

  app-home {
    ion-card{
      margin-top:5vh;
    }
    .mycard {
      background-color: #e8e8e8;
      margin-top:5vh;
    }
    .toolbar-ios {
           //workaround: statusbar height is too small on root view without home button
           // -> manually set min-height on root view (verified on iOS 10)
           min-height: 64px;
    }
    .lowercard{
      // background-color: #d3d3d37d;
      // position: absolute;
      // height: 100%;
      .mygrid{
        // margin-left: 2vw;
        .title {
          margin-top: 5vh;
          width:100%;
        }

        .num{

          -webkit-box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.2), 0 1px 5px 0 rgba(0, 0, 0, 0.12);
          box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.2), 0 1px 5px 0 rgba(0, 0, 0, 0.12);
          font-weight: normal;
          // border-width: .25vh;
          // border-style: solid

        }
        .numhov{

          -webkit-box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.2), 0 1px 5px 0 rgba(0, 0, 0, 0.12);
          box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.2), 0 1px 5px 0 rgba(0, 0, 0, 0.12);
          font-weight: normal;
          border: .25vh solid red

        }

        display: flex;
        flex-wrap: wrap;
        // justify-content: space-between;
        width: 100vw;
        margin: 2vh;

        .thingouter {
          // border: 2px solid black;
          // flex-direction: column;
          margin: 4%;
          // margin-top: 5vh;
          // margin-left: 2vh;
          // margin-right: 2vh;
          // width: 6.5vh;
          // height: 6.5vh;
          // display: flex;
          // justify-content: center;
          // align-items: center;

          button{
            width: 7.5vh;
            height: 7.5vh;

            text-align: center;

            font-size: 3vh;
            border-radius: 1vh;
            display:flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            // overflow: hidden;
            // text-overflow: ellipsis;

            .text {
              display:flex;
              // justify-content: center;
              align-items: center;
              // overflow: hidden;
              // text-overflow: ellipsis;
              // width: 7.5vh;
              // height: 7.5vh;
              // overflow: hidden;
              // text-overflow: ellipsis; // This is where the magic happens
              text-align: center;
              // width:12.5vh;
              // font-size: 1.75vh;
              font-size: 2.5vh;
              margin-left: auto;
              margin-right: auto;
            }
          }

          .textouter{
            margin-top: 1vh;
            line-height:1;
            height: 5vh;
            // overflow: hidden;
            width:7.5vh;
            justify-content: center;
            align-items: center;
            // text-overflow: ellipsis;

            .text {
              overflow: hidden;
              //
              text-overflow: ellipsis;

              text-align: center;
              hyphens: auto;
              // height: 5vh;
              height: fit-content;

              // width:12.5vh;

              // font-size: 1.75vh;
              font-size: 1.7vh;



            }

            // border: solid 1px black;
          }

          img {
              height: 3vh;
          }

        }

        .light {
          // border: 2px solid black;

          // flex-direction: column;
          margin: 4%;
          // margin-top: 2vh;
          // margin-bottom: 2vh;
          // margin-left: 2vh;
          // margin-right: 2vh;

          // width: 6.5vh;
          // height: 6.5vh;

          // height: 4.5vh;
          // height: 11.5vh;

          // min-width:25vw;
          // max-width:25vw;

          // display: flex;
          // flex-direction: column;
          // justify-content: center;
          // align-items: center;
          // text-overflow: ellipsis; // This is where the magic happens
          // overflow: hidden;
          // ion-button {
          .outnum {
            display:flex;
            justify-content: center;
            width: 7.5vh;
            height: 6vh;
            .num{

              background-color: yellow;
              width: 6vh;
              height: 6vh;
              border-radius: 50%;
              // border-width: .25vh;
              // border-style: solid

            }
            .numhov{

              -webkit-box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.2), 0 1px 5px 0 rgba(0, 0, 0, 0.12);
              box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.2), 0 1px 5px 0 rgba(0, 0, 0, 0.12);
              font-weight: normal;
              border: .25vh solid red;
              width: 6vh;
              height: 6vh;
              border-radius: 50%;

            }
          }

          .textouter{
            margin-top: 1vh;
            line-height:1;
            overflow: hidden;
            height: 5vh;
            width:7.5vh;

            text-overflow: ellipsis; // This is where the magic happens

            .text {
              overflow: hidden;
              text-overflow: ellipsis; // This is where the magic happens
              text-align: center;
              // width:12.5vh;
              // font-size: 1.75vh;
              font-size: 2vh;
            }
            // border: solid 1px black;
          }


        }
      }



    }


    background: #EFEEEE;



  }
}
ion-card{
  margin-top:2.5vh;
}
.mycard {
  background-color: #e8e8e8;
  z-index:1
  // margin-top:5vh;
}
.toolbar-ios {
       //workaround: statusbar height is too small on root view without home button
       // -> manually set min-height on root view (verified on iOS 10)
       min-height: 64px;
}
.lowercard{
  // background-color: #d3d3d37d;
  // position: absolute;
  // height: 100%;
  .mygrid{
    // margin-left: 2vw;
    .title {
      margin-top: 5vh;
      width:100%;
    }

    .num{
      -webkit-box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.2), 0 1px 5px 0 rgba(0, 0, 0, 0.12);
      box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.2), 0 1px 5px 0 rgba(0, 0, 0, 0.12);
      font-weight: normal;
      // border-width: .25vh;
      // border-style: solid
    }
    .numhov{

      -webkit-box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.2), 0 1px 5px 0 rgba(0, 0, 0, 0.12);
      box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.2), 0 1px 5px 0 rgba(0, 0, 0, 0.12);
      font-weight: normal;
      border: .25vh solid red

    }
    display: flex;
    flex-wrap: wrap;
    // justify-content: space-between;
    width: 100vw;
    margin: 2vh;

    .thingouter {
      // border: 2px solid black;
      // flex-direction: column;
      margin: 4%;
      // margin-top: 5vh;
      // margin-left: 2vh;
      // margin-right: 2vh;
      // width: 6.5vh;
      // height: 6.5vh;
      // display: flex;
      // justify-content: center;
      // align-items: center;

      button{
        width: 7.5vh;
        height: 7.5vh;

        text-align: center;

        font-size: 3vh;
        border-radius: 1vh;
        display:flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        // overflow: hidden;
        // text-overflow: ellipsis;

        .text {
          display:flex;
          // justify-content: center;
          align-items: center;
          // overflow: hidden;
          // text-overflow: ellipsis;
          // width: 7.5vh;
          // height: 7.5vh;
          // overflow: hidden;
          // text-overflow: ellipsis; // This is where the magic happens
          text-align: center;
          // width:12.5vh;
          // font-size: 1.75vh;
          font-size: 2.5vh;
          margin-left: auto;
          margin-right: auto;
        }
      }

      .textouter{
        margin-top: 1vh;
        line-height:1;
        height: 5vh;
        // overflow: hidden;
        width:7.5vh;
        justify-content: center;
        align-items: center;
        // text-overflow: ellipsis;

        .text {
          height: 5vh;

          overflow: hidden;
          text-overflow: ellipsis;

          text-align: center;
          hyphens: auto;
          // height: fit-content;

          font-size: 1.7vh;
  //         display: -webkit-box;
  // -webkit-line-clamp: 3;
  // -webkit-box-orient: vertical;



        }

        // border: solid 1px black;
      }

      img {
          height: 3vh;
      }

    }

    .light {
      // border: 2px solid black;

      // flex-direction: column;
      margin: 4%;
      // margin-top: 2vh;
      // margin-bottom: 2vh;
      // margin-left: 2vh;
      // margin-right: 2vh;

      // width: 6.5vh;
      // height: 6.5vh;

      // height: 4.5vh;
      // height: 11.5vh;

      // min-width:25vw;
      // max-width:25vw;

      // display: flex;
      // flex-direction: column;
      // justify-content: center;
      // align-items: center;
      // text-overflow: ellipsis; // This is where the magic happens
      // overflow: hidden;
      // ion-button {
      .outnum {
        display:flex;
        justify-content: center;
        width: 7.5vh;
        height: 6vh;
        .num{

          background-color: yellow;
          width: 6vh;
          height: 6vh;
          border-radius: 50%;
          // border-width: .25vh;
          // border-style: solid

        }
        .numhov{

          -webkit-box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.2), 0 1px 5px 0 rgba(0, 0, 0, 0.12);
          box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.2), 0 1px 5px 0 rgba(0, 0, 0, 0.12);
          font-weight: normal;
          border: .25vh solid red;
          width: 6vh;
          height: 6vh;
          border-radius: 50%;

        }
      }

      .textouter{
        margin-top: 1vh;
        line-height:1;
        overflow: hidden;
        height: 5vh;
        width:7.5vh;

        text-overflow: ellipsis; // This is where the magic happens

        .text {
          overflow: hidden;
          text-overflow: ellipsis; // This is where the magic happens
          text-align: center;
          // width:12.5vh;
          // font-size: 1.75vh;
          font-size: 2vh;
        }
        // border: solid 1px black;
      }


    }
  }



}
