<!-- <ion-header>
  <ion-toolbar>
    <ion-title>Home</ion-title>
  </ion-toolbar>
</ion-header> -->

<!-- <ion-content>
  <p>Home</p>
  <ion-button (click)='openDetailsInTab()'>Hvac</ion-button>
</ion-content> -->
<ion-content [ngClass]="{modalopen:this.modalopen,modalclosed:!this.modalopen}">
  <!-- <ion-card *ngFor="let item of this.mylocs | search : terms" > -->
  <!-- <ion-card> -->
  <!-- <div style = 'display:flex;margin-top:5vh;height:4vh; width: 80%; ' > -->
  <ion-card *ngIf = "this.auth.location.online" class = "mycard" >
    <div class="buttonHeader" style = "align-items:space-between;justify-content:space-between">
      <div>
        <ion-button [ngClass]="{'highlight': this.myview === i}" (click) = 'setView(i)' *ngFor = 'let i of this.auth.location.map.pages' size="small">{{i}}</ion-button>
      </div>
      <!-- <ion-buttons style = "position:fixed;right:0px;margin-right: 2vh;"> -->
      <div>
        <ion-button size="small" color="primary"  (click)="removeFromMap()">
          <ion-icon  name="trash"></ion-icon>
        </ion-button >
        <ion-button size="small" color="primary" right (click)="addControllersBegin()">
          <ion-icon  name="add"></ion-icon>

        </ion-button>
      </div>

      <!-- </ion-buttons> -->

    </div>
    <app-list-selector (added) = "addToMap($event)" *ngIf="this.addingControllers" [view] = 'this.myview'[list] = 'this.auth.location.controllers'> </app-list-selector>

    <!-- <mat-nav-list style = "overflow: auto;height:70vh;">
      <button class="listitem"[class.disabled]="isOnMap(i)" [disabled]="isOnMap(i)" *ngFor = "let i of this.auth.location.controllers" mat-list-item (click)="add(i)"> {{i.name | uppercase}} </button>
    </mat-nav-list> -->
    <!-- <div class = "mycard" > -->
        <!-- <div class = "uppercard">
          <div class = "title" (click) = "gotoloc(this.auth.location)">
            <div style = "overflow: auto;
              margin: 4%;">
              {{this.auth.location.capname}}
            </div>
          </div>
          <div class = "outtemp" *ngIf = "this.type == 'light'">
            <div *ngIf = "this.auth.location.outlight" style = "overflow: auto;

              margin: 4%;">
              <div>
                Outdoor Level
              </div>
              <div style="text-align:center">
                {{this.auth.location.outlight}}
              </div>
            </div>
          </div>
          <div *ngIf = "this.type != 'light'" class = "outtemp">
            <div *ngIf = "this.auth.location.outtemp" style = "overflow: auto;
              margin: 4%;">
              <div>
              Outside
              </div>
              <div style="text-align: center">
                 {{this.auth.location.outtemp}}
              </div>
            </div>
          </div>

        </div> -->


          <div class = "lowercard" >
          <!-- <div *ngIf = "this.type == 'hvac'" class = "mygrid"> -->
          <!-- <div class = "mygrid" cdkDropList (cdkDropListDropped)="drop($event)"> -->
            <div class = "mygrid" *ngIf = "this.filterMyView('hvac')">
              <div class="title">
                HVACs
              </div>
            <!-- <div class="example-box" cdkDrag>
    Drag me around
  </div> -->
            <!-- <div class = "thingouter" *ngFor="let i of this.auth.location.hvacs" cdkDrag> -->
              <div class = "thingouter" *ngFor="let i of this.hvacsInView" >

                <!-- <button class = "num" [style.background-color] = "i.hvaccolor" (click)="gotoloc(hvac)" [navParams] = "[this.auth.location, i]"  [navPush]="hvac"> -->
                <div class = 'something' id=something>
                <button [ngClass]="this.removing ? 'numhov' : 'num'" id='controller' (mouseenter)="i.hover=true" (mouseleave)="i.hover=false"  [ngStyle] = "{'width':i.subtype === 'master' ? '15vh' : '7.5vh' }" [style.background-color] = "i.color" (click)="gotoPage(i, 'hvac')">
                  <div class = "text" *ngIf = "i.status">
                    <!-- {{i.status.sockets.space}} -->
                    {{auth.getSpaceTemp(i)}}
                  </div>
                  <div class = "text" *ngIf = "!i.status">
                    --
                  </div>

                </button>
                </div>
                <div class = "textouter">
                  <div class = "text">
                    {{i.name | uppercase}}
                  </div>
                </div>

            </div>
          <!-- </div> -->
          <!-- </div> -->
          <!-- <div *ngIf = "this.type == 'freezer'" class = "mygrid"> -->
          <!-- <div class = "mygrid"> -->
          </div>
          <div class = "mygrid" *ngIf = "this.filterMyView('cooler')">
            <div class="title">
              Coolers
            </div>

            <div class = "thingouter" *ngFor="let i of this.coolersInView">

              <!-- <button class = "num" [style.background-color] = "i.coolercolor" [navParams] = "[this.auth.location, i]"  [navPush]="hvac"> -->
                <button [ngClass]="this.removing ? 'numhov' : 'num'"  [style.background-color] = "i.color" (click)="gotoPage(i,'hvac')">
                  <div class = "text" *ngIf = "i.status">
                    <!-- {{i.status.sockets.space}} -->
                    {{auth.getSpaceTemp(i)}}
                  </div>
                  <div class = "text" *ngIf = "!i.status">
                    --
                  </div>
                </button>
                <div class = "textouter">
                  <div class = "text">
                    {{i.name | uppercase}}
                  </div>
                </div>
            </div>
          <!-- </div> -->
          <!-- </div> -->
          <!-- <div *ngIf = "this.type == 'light'" class = "mygrid"> -->
          <!-- <div class = "mygrid"> -->
          </div>
          <div class = "mygrid" *ngIf = "this.filterMyView('light')">
            <div class="title">
              Lights
            </div>

            <div  class = "light" *ngFor="let i of this.lightsInView">
              <div class = 'outnum'>

                <button [style.background-color] = "i.color"  [ngClass]="this.removing ? 'numhov' : 'num'" (click)="gotoPage(i,'light')">
                <!-- <button [style.background-color] = "i.status.color" [ngClass]="this.removing ? 'numhov' : 'num'" (click) = "openModal(i, item)"> -->
                </button>
              </div>


                <div class = "textouter">
                  <div class = "text">
                    {{i.name | uppercase}}
                  </div>
                </div>
            </div>
            </div>
            <div class = "mygrid" *ngIf = "this.filterMyView('power')">
              <div class="title">
                Power
              </div>

              <div  class = "thingouter" *ngFor="let i of this.powerInView">

                <div class = 'outnum'>
                  <!-- <div class = "text">
                    {{getSensorValue(i)}}
                  </div> -->
                  <!-- <button [style.background-color] = "i.status.color" [ngClass]="this.removing ? 'numhov' : 'num'" (click) = "openModal(i, item)"> -->
                  <button class='sensorButton' [style.background-color] = "i.color"  [ngClass]="this.removing ? 'numhov' : 'num'" (click)="gotoPage(i,'map')">
                    <img *ngIf="getSensorIcon(i)" [src]="getSensorIcon(i)"/>
                  <!-- <button [style.background-color] = "i.status.color" class = "num" (click)="gotoPage(item,i,'map')"> -->
                    <div class = "text">
                      {{getSensorValue(i)}}
                    </div>
                  </button>
                </div>
                <div class = "textouter">
                  <div class = "text">
                    {{i.name | uppercase}}
                  </div>
                </div>
              </div>
              </div>
            <div class = "mygrid" *ngIf = "this.filterMyView('sensor')">
              <div class="title">
                Sensors
              </div>
          <!-- </div> -->

          <!-- </div> -->
          <!-- <div *ngIf = "this.type == 'map_icon'" class = "mygrid"> -->

          <!-- <div class = "mygrid"> -->
            <div  class = "thingouter" *ngFor="let i of this.sensorsInView">

              <div class = 'outnum'>
                <!-- <div class = "text">
                  {{getSensorValue(i)}}
                </div> -->
                <!-- <button [style.background-color] = "i.status.color" class = "num" (click) = "openModal(i, item)"> -->
                <button class='sensorButton'  [style.background-color] = "i.color" [ngClass]="this.removing ? 'numhov' : 'num'" (click)="gotoPage(i,'map')">
                  <img *ngIf="getSensorIcon(i)" [src]="getSensorIcon(i)"/>
                <!-- <button [style.background-color] = "i.status.color" class = "num" (click)="gotoPage(item,i,'map')"> -->
                  <div class = "text">
                    {{getSensorValue(i)}}
                  </div>
                </button>
              </div>
              <div class = "textouter">
                <div class = "text">
                  {{i.name | uppercase}}
                </div>
              </div>
            </div>
            </div>

          <!-- </div> -->
          <!-- <div style = "justify-content: center; align-items: center; display: flex; width: 12.5vw"> -->
            <!-- <button class = "gotoloc" [navPush] = "pushPage" [navParams] = "item" (click) = "gotoloc(item)" ion-button> -->
            <!-- <button class = "gotoloc" (click)="gotoPage(item,i,'hvac')" ion-button>
              <ion-icon  name="arrow-forward" class="forwardArrow"></ion-icon>
            </button> -->
          <!-- </div> -->
        </div>

    <!-- </div> -->
    <div *ngIf = "!this.auth.location.online" class = "offline" style = "display: flex;">

          <div class = "mygrid">
            <div style = "margin: 3vh; display: flex; align-items: center; ">
            Offline
            </div>
            <!-- <ion-icon name = "wifi"></ion-icon> -->
            <img src="assets/img/icons8-offline-100.png"/>
          </div>

          <!-- <div style = "justify-content: center; align-items: center; display: flex; width: 12.5vw">
            <button class = "gotoloc" (click)="gotoPage(item,i,'hvac')"  ion-button>
              <ion-icon  name="arrow-forward"></ion-icon>
            </button>
          </div> -->

    </div>
  </ion-card>
  <!-- </ion-card> -->
<!-- </ion-card> -->

</ion-content>
