<ion-content>
  <!-- Device Panel works! -->
  <div id="devicesPanelContainer">
    <div id="deviceSide">
      <div class="deviceContainer" *ngFor="let device of ds.devices">
        <app-device-view #deviceView [parent]="this" [device]="device"></app-device-view>
      </div>
    </div>
    <div id="controllerSide">
      <ng-container *ngIf="!controllerExpanded">
          <div class="controllerContainer" *ngFor="let controller of ds.controllers">
            <span class="controller" (click)="expandController(controller)">
              <p class="controller-item">{{controller.type}}</p><p class="controller-item">{{controller.name}}</p>
            </span>
          </div>
      </ng-container>
      <!-- <ng-container *ngIf="controllerExpanded">
        <controller-view-page [parent]="this" [controller]="controllerExpanded"></controller-view-page>
      </ng-container> -->
    </div>
  </div>
</ion-content>
