#devicesPanelContainer {
    height: 100%;
    display:flex;
    flex-direction: row;
    overflow-y: hidden;
    background-color: #d3d3d385;
}

#deviceSide {
  margin-top: 3vh;
  flex:1;
  width:50%;
  overflow: hidden;
}

mat-form-field {
  position: absolute;
  z-index: 1000;
  background: lightgrey;
  width: 46%;
  margin-left: 2vh;
  margin-right: 2vh;
  padding: 3vh;
  border-radius: 3vh;
  border-style: solid;
  border-width: .1vh;
}

mat-select {
  display: flex;
  flex-direction: column;
  // border-bottom: .1 solid black;
}

.labelContainer {
  // display: inline-flex;
  width: 100%;
  margin-bottom: 3vh;
  padding-bottom: 1vh;
  border-bottom: .1vh solid black;
}
.controller {
   display:flex;
   font-size: 2vh;
}
.ctLabel {
  vertical-align: bottom;
  font-size: 3vh;
}

.button-right {
  color: black;
  float: right;
}

.closeButton {
  background-color: transparent;
  float: right;
}

.expandButton {
  background-color: transparent;
  float: right;
}
.cType {
  flex: 1;
}

.cName {
  flex: 1;
  // right: 2vh;
  // position: relative;
}

.cnButton {
  font-size: 2.0vh;
  background-color: transparent;
}

.cnButton ion-icon {
  font-size: 2.0vh;
}

// .search-area{
//   height:5vh;
// }
.search-bar{
  height: auto;
}

#controllerSide {
  // display: flex;
  // flex-direction: column;
  margin-top: 3vh;
  flex:1;
  width:50%;
  // height: 85vh;
  // height: 99%;
  overflow: hidden;
}
// ion-card{
//   margin-top:2.5vh;
//   height:50vh;
// }
ion-buttons {
    display:inline;
}

.plusButton {
  // height: 3vh;
  // width: 3vh;
  float: right;
  --width: 60px;
  --height: 60px;
  --border-radius: 50%;
  --vertical-align: middle;
  --padding-start: 10px;
  --padding-end: 10px;
}

.deviceSummary {
  display:flex;
  // max-width: fit-content;
  width: 100%;
  font-size: 2vh;
}

.deviceName {
  // flex:1;
  font-size: 2vh;
  max-width: fit-content;
  margin-left: 1vh;
  margin-right: auto;
}
.deviceInfo {
  font-size: 2vh;
  max-width: fit-content;
  margin-left: auto;
  margin-right: auto;
  flex:2;
}
.commPercentage {
  font-size: 2vh;
  max-width: fit-content;
  margin-left: auto;
  margin-right: auto;
  flex:1;
}
.deviceConnection {
  font-size: 2vh;
  max-width: fit-content;
  margin-left: auto;
  margin-right: 1vh;
  flex:1;
}

.deviceContainer {
  /* flex:1; */
  display:flex;
  padding-left: 1vh;
  margin-left: 1vh;
  // margin-right: 1vh;
  padding-top: 1vh;
  margin-top: .2vh;
  margin-left: .1vw;
  overflow-y: hidden;
  border-radius: .4vh;
  border-style: solid;
  border-width: .2vh;
  border-color: grey;
  // background-color: lightgrey;
  background-color: lightblue;
  min-height: 6vh;
  font-size: 2.7vh;
  color: black;
  font-style: oblique;
}
.controllerContainer {
  /* flex:1; */
  padding-left: 1vh;
  margin-left: 1vh;
  margin-right: 1vh;
  margin-top: .2vh;
  border-radius: .4vh;
  border-style: solid;
  border-width: .2vh;
  border-color: grey;
  // background-color: lightgrey;
  background-color: lightblue;
  min-height: 6vh;
  color: black;
  font-size: 2.7vh;
  font-style: oblique;
}
.device {
   /* position: relative;
   margin-left: 2vw; */
   overflow-y: hidden;
}

.controller {
   /* position: relative;
   margin-left: 2vw; */
   margin-top: 1vh;
}
