<ion-content>
  <!-- <ion-card> -->

  <div style = "z-index:1" id="devicesPanelContainer">
    <div id="deviceSide">
      <ng-container *ngIf="!deviceExpanded">
        <ion-card class = 'search-area'>

        <i class="material-icons search-icon">
          search
        </i>
        <input (focus)="func('device')" type="text" placeholder="Filter" name="foo" class="search-bar" [(ngModel)]="deviceQueryTxt" (ngModelChange)="onDeviceFilterChange($event)">
        <button mat-button  color="primary" *ngIf = "this.deviceQueryTxt" (click)="clearDeviceFilter()">
          <ion-icon  name="close"></ion-icon>
        </button>
        </ion-card>
        <app-searchkeyboard *ngIf= "this.devkeyboard" [value] = "deviceQueryTxt" [side] = "'device'" [parent] = "this" ></app-searchkeyboard>

        <ion-card class="deviceContainer" *ngFor="let device of filterDevices()">
            <button class="expandButton" ion-button right small color="dark" (click)="expandDevice(device)">
              <ion-icon name="arrow-dropdown" ></ion-icon>
            </button>
            <span class="deviceName">{{device.name | uppercase}}
              <button class="cnButton" ion-button right small color="dark" (click)="openDeviceModal(device)">
                <ion-icon name="create" ></ion-icon>
              </button>
            </span>
            <span class="deviceInfo">{{device.device_id}}/{{device.device_model}}</span>
            <span class="commPercentage">{{getCommPercentage(device)}}</span>
            <span class="deviceConnection">{{device.connection}}</span>
        </ion-card>
      </ng-container>
      <ng-container *ngIf="deviceExpanded">
        <app-device-item-view #deviceItem [parent]="this" [device]="deviceExpanded"></app-device-item-view>
      </ng-container>
    </div>
    <div id="controllerSide">

      <ng-container *ngIf="!controllerExpanded">
          <ion-card class = 'search-area'>
          <i class="material-icons search-icon">
            search
          </i>
          <input (focus)="func('controller')" type="text" placeholder="Filter" name="foo" class="search-bar" [(ngModel)]="controllerQueryTxt" (ngModelChange)="onControllerFilterChange($event)">
          <button mat-button  color="primary" *ngIf = "this.controllerQueryTxt" (click)="clearControllerFilter()">
            <ion-icon  name="close"></ion-icon>
          </button>

          <button mat-button class="plusButton" color="primary" right (click)="addController()">
            <ion-icon  name="add"></ion-icon>
          </button>
          </ion-card>
          <app-searchkeyboard *ngIf = "this.conkeyboard" [value] = "controllerQueryTxt" [side] = "'controller'" [parent] = "this" ></app-searchkeyboard>

        <mat-form-field *ngIf="adding">
          <div class="labelContainer">
            <mat-label class="ctLabel">CONTROLLER TYPE</mat-label>
            <button class="closeButton" ion-button right color="dark" (click)="close()">
              <ion-icon name="close-circle" ></ion-icon>
            </button>
            <!-- <ion-button class="dismiss button-right" ion-button right (click) = "close()">
              <ion-icon name="close-circle" ></ion-icon>
            </ion-button> -->
          </div>

          <!-- <mat-select [(value)]="selected" (selectionChange)="selectControllerType($event.value)"> -->
          <mat-select (selectionChange)="selectControllerType($event.value)">
          <mat-option *ngFor="let ct of controllerTypes" [value]="ct.combined" (click)="selectControllerType(ct.name)">{{ct.combined}}</mat-option>
          </mat-select>
        </mat-form-field>


        <!-- <ng-container *ngIf="adding"> -->

        <!-- </ng-container> -->
        <div style = "overflow:auto">
        <ion-card class="controllerContainer" *ngFor="let controller of filterControllers(); let idx=index;">

            <div class="controller">
              <button class="expandButton" ion-button right small color="dark" (click)="expandController(controller)">
                <ion-icon name="arrow-dropdown" ></ion-icon>
              </button>
              <span class="cType">{{getControllerType(controller)}}</span>
              <span class="cName">{{controller.name | uppercase}}
                <!-- <button class="cnButton btn btn-small" (click)="editName($event, controller)" href="#">
                  <i class="fa fa-pencil" aria-hidden="true"></i>
                </button> -->
                <!-- <div style = "overflow:auto" *ngIf="selectedItem">
                  <app-name [item]='selectedItem' [parent]="this"></app-name>
                </div style = "overflow:auto">
                <div style = "overflow:auto" *ngIf="!selectedItem"> -->
                  <button class="cnButton" ion-button right small color="dark" (click)="openControllerModal(controller)">
                    <ion-icon name="create" ></ion-icon>
                  </button>
                <!-- </div style = "overflow:auto"> -->
              </span>
            </div>
        </ion-card>
        </div>
      </ng-container>

      <ng-container *ngIf="controllerExpanded">
        <app-controller-socket-view #controllerSocket [parent]="this" [controller]="controllerExpanded"></app-controller-socket-view>
      </ng-container>

    </div>
  </div>
  <!-- </ion-card> -->
  <!-- <input [hidden]="!selectedItem" #nameInput (input)="onInputChange($event)" class="keyboard_input" [ngModel]="controllerName" placeholder="{{placeholder}}" />
  <div id="scheduleKeyboard" class="simple-keyboard"></div> -->

</ion-content>
